<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} [%t]-[%p]-[%c]-[%M]-[%L] %m%n"/>
        </Console>
        <File name="file" fileName="/data/applogs/xxl-cache/xxl-cache.log" append="false">
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} [%t]-[%p]-[%c]-[%M]-[%L] %m%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <!--<appender-ref ref="file"/>-->
        </root>
        <!-- additivity:false-不会打印在父logger
        <logger name="com.xxl.search.service" level="info" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="file"/>
        </logger>
        -->
    </loggers>

</configuration>