<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!--  
	<welcome-file-list>
		<welcome-file>/index</welcome-file>
	</welcome-file-list>
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>springrain</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:mvc/applicationContext-mvc.xml</param-value>
		</init-param>
		<!--  
		<load-on-startup>1</load-on-startup>
		-->
	</servlet>
	
	
      <!-- 静态资源,Spring MVC 虽然配置了resource ,依然会影响性能,默认使用tomcat的静态文件解析器 ,jetty不支持-->
      
      <!--  
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    -->
    
	

	<servlet-mapping>
		<servlet-name>springrain</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	

<!-- 自行控制编码,不再添加这个过滤器 -->
 <!--
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
  -->

	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>


	<!-- 浏览器不支持put,delete等method,由该filter将/blog?_method=delete转换为标准的http delete方法 -->
	<!--  
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	-->

  <!--
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  -->
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<!-- 
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>springrain</servlet-name>
	</filter-mapping>
    -->
    
    
    <error-page>
       <error-code>404</error-code>
       <location>/errorpage/404</location>
    </error-page>
    <error-page>
       <error-code>500</error-code>
       <location>/errorpage/500</location>
    </error-page>
    <error-page>
       <error-code>414</error-code>
       <location>/errorpage/414</location>
    </error-page>
    <error-page>
       <error-code>505</error-code>
       <location>/errorpage/505</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/errorpage/400</location>
    </error-page>
    
    <error-page>
	   <exception-type>java.lang.Exception</exception-type>
	   <location>/errorpage/error</location>
	</error-page>
    
    
</web-app>