<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	
	<!--静态资源不拦截  -->
	<!-- <mvc:resources location="/image/" mapping="/image/**"/> -->
	<mvc:resources location="/html/" mapping="/html/**"/>  
	<mvc:resources location="/js/" mapping="/js/**"/>
    <!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
    <context:component-scan base-package="com.opensource.nredis.proxy.monitor.api"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <!--解决IE JSON提示下载的问题-->
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <property name="features">
                    <array>
                        <!--浏览器兼容-->
                        <value>BrowserCompatible</value>
                        <!--斜杠处理-->
                        <value>WriteSlashAsSpecial</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
	<!--spring 上下文加载工具类  -->
	<bean id="SpringContextUtil" class="com.opensource.nredis.proxy.monitor.quartz.utils.SpringContextUtil" lazy-init="false"></bean>
	
	<!-- 任务调度器配置开始 -->
	<bean id="quartzScheduler" lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource" ref="dataSource" />
        <property name="autoStartup" value="true" />	<!--自动启动 -->
        <property name="startupDelay" value="20" />		<!--延时启动 -->
		<property name="applicationContextSchedulerContextKey"  value="applicationContextKey" /> 
        <property name="configLocation" value="classpath:quartz.properties"/>
	</bean>
	
	<!-- 协同-调度器 -->
	<bean id="dynamicScheduler" class="com.opensource.nredis.proxy.monitor.quartz.utils.DynamicSchedulerUtil">
		<!-- (轻易不要变更“调度器名称”, 任务创建时会绑定该“调度器名称”) -->
        <property name="scheduler" ref="quartzScheduler"/>
    </bean>
    
    <!-- 任务调度器配置结束 -->
</beans>