<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snakerflow.demo.api.mapper.SecUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.snakerflow.demo.api.entity.SecUser">
    <result column="id" property="id" />
        <result column="address" property="address" />
        <result column="age" property="age" />
        <result column="email" property="email" />
        <result column="enabled" property="enabled" />
        <result column="fullname" property="fullname" />
        <result column="password" property="password" />
        <result column="plainPassword" property="plainPassword" />
        <result column="salt" property="salt" />
        <result column="sex" property="sex" />
        <result column="type" property="type" />
        <result column="username" property="username" />
        <result column="org" property="org" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        address, age, email, enabled, fullname, password, plainPassword, salt, sex, type, username, org
    </sql>

</mapper>
