
body {margin: 0;}

.notfound {
  background-image: url('../images/astronauta.jpg'), url('../images/stars404.png');
  background-position: right top, center center;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}
.notfound .wrapper {
  position: absolute;
  top: 60%;
  right: 2%;
  color: #fff;
  width: 635px;
  font-size: 19px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
.notfound .wrapper .big {
  font-size: 74px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 48px;
}
.notfound .wrapper a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: 700;
}
@media only screen and (max-width: 666px) {
  .notfound .wrapper {
    left: auto;
    right: 0;
    width: 100%;
    max-width: 450px;
    top: 35%;
  }
  .notfound .wrapper .big {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 15px;
  }
}