<div class="footer-inner">
  <p>
    <a data-i18n="login.about"></a>&nbsp;|&nbsp;
    <a data-i18n="login.help"></a>&nbsp;|&nbsp;
    <span>Version: 4.0.1</span></p>
  <ul>
    <li data-i18n="login.copyright"></li>
  </ul>
</div>