<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chentongwei.core.user.dao.IUserDAO">

    <!-- 表名称 -->
    <sql id="table_name">
        sys_user
    </sql>

    <!-- 详情字段 -->
    <sql id="detail_column">
        id,
        email,
        password,
        avatar,
        nickname,
        gender,
        introduce,
        province_id AS provinceId,
        province_name AS provinceName,
        city_id AS cityId,
        city_name AS cityName,
        district_id AS districtId,
        district_name AS districtName,
        cover_image AS coverImage,
        is_active AS isActive,
        status,
        create_time AS createTime
    </sql>

    <!-- 登录返回字段 -->
    <sql id="login_column">
        id,
        nickname,
        is_active AS isActive,
        status
    </sql>

    <!-- 根据id查看用户 -->
    <select id="getById" parameterType="long" resultType="userVO">
        SELECT
            <include refid="detail_column" />
        FROM
            <include refid="table_name" />
        WHERE
            id = #{userId}
    </select>

    <!-- 根据openId查看用户 -->
    <select id="getByOpenId" parameterType="string" resultType="userVO">
        SELECT
            <include refid="detail_column" />
        FROM
            <include refid="table_name" />
        WHERE
            open_id = #{openId}
    </select>

    <!-- 登录接口 -->
    <select id="login" parameterType="loginIO" resultType="loginVO">
        SELECT
            <include refid="login_column" />
        FROM
            <include refid="table_name" />
        WHERE
            email = #{email}
        AND
            password = #{password}
    </select>

    <!-- 检查邮箱是否唯一 -->
    <select id="getByEmail" parameterType="string" resultType="boolean">
        SELECT
            COUNT(1)
        FROM
            <include refid="table_name" />
        WHERE
            email = #{email}
    </select>

    <!-- 更新个人资料 -->
    <update id="update" parameterType="userUpdateIO">
        UPDATE
            <include refid="table_name" />
        <set>
            avatar = #{avatar},
            nickname = #{nickname},
            gender = #{gender},
            introduce = #{introduce},
            province_id = #{address.province.id},
            province_name = #{address.province.name},
            city_id = #{address.city.id},
            city_name = #{address.city.name},
            district_id = #{address.district.id},
            district_name = #{address.district.name},
            cover_image=#{coverImage},
        </set>
        WHERE
            id = #{userId}
    </update>

    <!-- 修改邮箱 -->
    <update id="updateEmail">
        UPDATE
            <include refid="table_name" />
        SET
            email = #{email}
        WHERE
            id = #{userId}
    </update>

    <!-- 修改密码 -->
    <update id="updatePassword">
        UPDATE
            <include refid="table_name" />
        SET
            password = #{password}
        WHERE
            id = #{userId}
    </update>

    <!-- 根据邮箱修改密码 -->
    <update id="updatePasswordByEmail">
        UPDATE
            <include refid="table_name" />
        SET
            password = #{password}
        WHERE
            email = #{email}
    </update>

    <!-- 激活用户 -->
    <update id="activeUser" parameterType="long">
        UPDATE
            <include refid="table_name" />
        SET
            is_active = 1
        WHERE
            id = #{userId}
    </update>

    <!-- 注册 -->
    <insert id="regist" parameterType="registUserIO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != password and '' != password">
                password,
            </if>
            <if test="null != email and '' != email">
                email,
            </if>
            <if test="null != accessToken and '' != accessToken">
                access_token,
            </if>
            <if test="null != openId and '' != openId">
                open_id,
            </if>
            <if test="null != ip and '' != ip">
                ip,
            </if>
            <if test="null != isActive">
                is_active,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="null != password and '' != password">
                #{password},
            </if>
            <if test="null != email and '' != email">
                #{email},
            </if>
            <if test="null != accessToken and '' != accessToken">
                #{accessToken},
            </if>
            <if test="null != openId and '' != openId">
                #{openId},
            </if>
            <if test="null != ip and '' != ip">
                #{ip},
            </if>
            <if test="null != isActive">
                #{isActive},
            </if>
        </trim>
    </insert>

    <!-- 删除未激活的用户 -->
    <delete id="deleteUnActiveUser">
        DELETE FROM
            <include refid="table_name" />
        WHERE
            is_active = 0
        AND
            HOUR(timediff( now(), create_time) ) > 2
    </delete>

</mapper>