<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, initial-scale=1.0,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>首页</title>
</head>

<body>
<h2>这是freemarker</h2>
<div class="col-xs-12 col-xs-offset-2 row">
    <div class="col-xs-6 col-xs-offset-2">
        <div class="form-horizontal m-t">
            <form action="/api/doAction" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input name="file1" type="file">
                </div>
                <div class="form-group">
                    <input name="file2" type="file">
                </div>
                <button type="submit">上传</button>
            </form>
        </div>
    </div>
    <div class="col-xs-6">

    </div>
</div>
</body>

</html>