package ${packageName}.controller;

import java.util.List;
import java.io.IOException;
import javax.servlet.http.HttpServletResponse;

import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import com.ruoyi.log.annotation.Log;
import com.ruoyi.log.enums.BusinessType;

import ${packageName}.pojo.${ClassName}PO;
import ${packageName}.service.${ClassName}Service;
import com.ruoyi.web.controller.BaseController;

import com.ruoyi.web.pojo.Result;
import com.ruoyi.excel.utils.ExcelUtil;
#if($table.crud)
import com.ruoyi.web.page.TableDataInfo;
#elseif($table.tree)
#end

/**
 * ${functionName}Controller
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${className}")
public class ${ClassName}Controller extends BaseController {

    @Autowired
    private ${ClassName}Service ${className}Service;

    /**
     * 查询${functionName}列表
     */
    @PreAuthorize("@xy.hasAuthority('${permissionPrefix}:list')")
    @GetMapping("/list")
#if($table.crud)
    public TableDataInfo list(${ClassName}PO ${className}) {
        startPage();
        List<${ClassName}PO> list = ${className}Service.select${ClassName}List(${className});
        return getDataTable(list);
    }
#elseif($table.tree)
    public Result list(${ClassName}PO ${className}) {
        List<${ClassName}PO> list = ${className}Service.select${ClassName}List(${className});
        return Result.ok().data(list);
    }
#end

    /**
     * 导出${functionName}列表
     */
    @PreAuthorize("@xy.hasAuthority('${permissionPrefix}:export')")
    @Log(title = "${functionName}", businessType = BusinessType.EXPORT)
    @PostMapping("/export")
    public void export(HttpServletResponse response, ${ClassName}PO ${className}) throws IOException {
        List<${ClassName}PO> list = ${className}Service.select${ClassName}List(${className});
        ExcelUtil<${ClassName}PO> util = new ExcelUtil<${ClassName}PO>(${ClassName}PO. class);
        util.exportExcel(response, list, "${className}");
    }

    /**
     * 获取${functionName}详细信息
     */
    @PreAuthorize("@xy.hasAuthority('${permissionPrefix}:query')")
    @GetMapping(value = "/{${pkColumn.javaField}}")
    public Result getInfo(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField}) {
        return Result.ok().data(${className}Service.select${ClassName}ById(${pkColumn.javaField}));
    }

    /**
     * 新增${functionName}
     */
    @PreAuthorize("@xy.hasAuthority('${permissionPrefix}:add')")
    @Log(title = "${functionName}", businessType = BusinessType.INSERT)
    @PostMapping
    public Result add(@RequestBody ${ClassName}PO ${className}) {
        return toResult(${className}Service.insert${ClassName}(${className}));
    }

    /**
     * 修改${functionName}
     */
    @PreAuthorize("@xy.hasAuthority('${permissionPrefix}:edit')")
    @Log(title = "${functionName}", businessType = BusinessType.UPDATE)
    @PutMapping
    public Result edit(@RequestBody ${ClassName}PO ${className}) {
        return toResult(${className}Service.update${ClassName}(${className}));
    }

    /**
     * 删除${functionName}
     */
    @PreAuthorize("@xy.hasAuthority('${permissionPrefix}:remove')")
    @Log(title = "${functionName}", businessType = BusinessType.DELETE)
    @DeleteMapping("/{${pkColumn.javaField}s}")
    public Result remove(@PathVariable ${pkColumn.javaType}[] ${pkColumn.javaField}s) {
        return toResult(${className}Service.delete${ClassName}ByIds(${pkColumn.javaField}s));
    }

}
