package ${packageName}.pojo;

#foreach ($import in $importList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.experimental.Accessors;

import com.ruoyi.excel.annotation.Excel;
import com.ruoyi.excel.annotation.Excel.ColumnType;

import io.swagger.annotations.ApiModelProperty;


#if($table.crud)
import com.ruoyi.entity.BaseEntity;
#elseif($table.tree)
import com.ruoyi.entity.TreeEntity;
#end

/**
 * ${functionName} ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud)
#set($Entity="BaseEntity")
#elseif($table.tree)
#set($Entity="TreeEntity")
#end
@Data
@Accessors(chain = true)
@TableName("${tableName}")
public class ${ClassName}PO extends ${Entity}{

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
#if($column.isPk == '1')
#if($column.isIncrement == '1')
    @TableId(type = IdType.AUTO)
#elseif($column.javaType == 'Long' || $column.javaType == 'Integer')
    @TableId(type = IdType.INPUT)
#elseif($column.javaType == 'String')
    @TableId(type = IdType.ASSIGN_UUID)
#end
#end
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#elseif($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
#else
    @Excel(name = "${comment}")
#end
#end
    @ApiModelProperty(value = "${comment}")
    private $column.javaType $column.javaField;

#end
#end

}
