package ${packageName}.mapper;

import java.util.List;

import ${packageName}.pojo.${ClassName}PO;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}PO> {

}
