package ${packageName}.service.impl;

import java.util.Arrays;
import java.util.List;
#foreach ($column in $columns)
#if($column.javaField == 'createTime' || $column.javaField == 'updateTime')
import com.ruoyi.utils.date.DateUtils;
import com.ruoyi.datasource.wrapper.WrapperUtils;
#break
#end
#end
import org.springframework.stereotype.Service;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.pojo.${ClassName}PO;
import ${packageName}.service.${ClassName}Service;

/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends ServiceImpl<${ClassName}Mapper, ${ClassName}PO> implements ${ClassName}Service, WrapperUtils<${ClassName}PO> {

    @Override
    public ${ClassName}PO select${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField}) {
        return getXyOne(new ${ClassName}PO().setId(${pkColumn.javaField}));
    }

    @Override
    public List<${ClassName}PO> select${ClassName}List(${ClassName}PO ${className}) {
        return getXyList(${className});
    }

    @Override
    public boolean insert${ClassName}(${ClassName}PO ${className}) {
        return save(${className});
    }

    @Override
    public boolean update${ClassName}(${ClassName}PO ${className}) {
        return saveOrUpdate(${className});
    }

    @Override
    public boolean delete${ClassName}ByIds(${pkColumn.javaType}[] ${pkColumn.javaField}s) {
        return removeByIds(Arrays.asList(${pkColumn.javaField}s));
    }

    @Override
    public boolean delete${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField}) {
        return removeById(${pkColumn.javaField});
    }

}
