<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
	<link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
	<link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/thymeleaf-demo.css}" />
</head>
<body>
	<div class="container">

	</div>
	<footer id="center-footer" th:fragment="footer">
   		<div id="footerText" class="span12" >Copyright 2012 <a href="http://doanduyhai.wordpress.com">doanduyhai</a> |
       	 	<a href="https://github.com/doanduyhai/ThymeLeafDemo">Fork ThymeLeaf Demo on Github</a> |
        	<a href="https://twitter.com/#!/doanduyhai">Follow @doanduyhai on Twitter</a>
   		</div>
	</footer>
</body>

</html>