<div>
	<button name="rerun">Operate</button>
	<button name="select">Select</button>
</div>
<ul>
<%for (var i=0;i<actions.length;i++){%>
	<li value="<%=actions[i].type%>"><a  data-i18n="button.<%=actions[i].type%>"></a></li>
<%}%>
</ul>
