<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chentongwei.core.common.dao.IRegionDAO">

    <!-- 表名称 -->
    <sql id="table_name">
        sys_region
    </sql>

    <!-- 下拉框字段 -->
    <sql id="list_column">
        id,
        name,
        pid
    </sql>

    <!-- 根据pid查询省市区 -->
    <select id="listByPid" parameterType="int" resultType="regionVO">
        SELECT
            <include refid="list_column" />
        FROM
            <include refid="table_name" />
        WHERE
            pid = #{pid}
    </select>

</mapper>