<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd
	">

    <!-- 载入常用的配置 -->
    <context:property-placeholder location="classpath:jdbc/jdbc.properties,classpath:jdbc/druid.properties"/>
    <!-- 注解扫描所有包 -->
    <context:component-scan
            base-package="cn.kiiwii.framework.*"/>

    <context:annotation-config/>

    <tx:annotation-driven/>

    <!--扫描缓存注解-->
    <cache:annotation-driven/>

    <!-- true 表示强制使用cglib代理 -->
    <aop:aspectj-autoproxy/>

    <import resource="jdbc/spring-jdbc.xml"/>
    <import resource="mybatis/spring-mybatis.xml"/>
    <import resource="aop/spring-aop.xml"/>
    <import resource="ehcache/spring-ehcache.xml"/>

</beans>