<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cailei.demo.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.cailei.demo.entity.Users">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="realname" column="realname" jdbcType="VARCHAR"/>
            <result property="userImg" column="user_img" jdbcType="VARCHAR"/>
            <result property="userMobile" column="user_mobile" jdbcType="VARCHAR"/>
            <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
            <result property="userSex" column="user_sex" jdbcType="CHAR"/>
            <result property="userBirth" column="user_birth" jdbcType="DATE"/>
            <result property="userRegtime" column="user_regtime" jdbcType="TIMESTAMP"/>
            <result property="userModtime" column="user_modtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,
        nickname,realname,user_img,
        user_mobile,user_email,user_sex,
        user_birth,user_regtime,user_modtime
    </sql>
</mapper>
