package ${packageName}.${modularName}.${busName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.${modularName}.${busName}.entity.${ClassName};

/**
 * ${functionName}
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {
}
