<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.system.dao.RoleAuthoritiesMapper">

    <delete id="deleteTrash">
        DELETE FROM sys_role_authorities WHERE authority NOT IN (SELECT authority FROM sys_authorities)
    </delete>
</mapper>