<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- Log4j 把日志进行分级分开来打以后方便进行日志排除错误 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- [屏幕Appender] ===== -->
	<appender name="DEFAULT-CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH\:mm\:ss}][%p][%t]- %l %n :%m%n" />
		</layout>
	</appender>

	<!-- 输出sql 语句 by chb -->
	<!--  -->
	<appender name="MyBatis" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="utf-8" />
		<param name="file" value="/Users/zhangjh/javalog/code/MyBatis.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>
	
	 <!-- 
	 <appender name="MyBatis" class="org.apache.log4j.jdbc.JDBCAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>
	 -->

	<logger name="com.mysql" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="MyBatis" />
	</logger>

	<logger name="java.sql" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="MyBatis" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="DEFAULT-CONSOLE" />
		<!-- <appender-ref ref="MyBatis" /> -->
	</root>
</log4j:configuration>