<?xml version="1.0" encoding="UTF-8"?>
<!--  
-scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true  
-scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。  
-           当scan为true时，此属性生效。默认的时间间隔为1分钟  
-debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。
- configuration 子节点为 appender、logger、root  
-->
<configuration scan="true" scanPeriod="60 second" debug="false">
    <!-- ELK日志配置 -->
    <property name="serverName" value="sys-provider"/>
    <property name="maxHistory" value="30"/>
    <property name="maxFileSize" value="50MB"/>

    <!-- 负责写日志,控制台日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 一是把日志信息转换成字节数组,二是把字节数组写入到输出流 -->
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%5level] [%thread] %logger{36}[%L] - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
    <appender name="FILEAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logdir/${serverName}.log</file>
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%5level] [%thread] %logger{36}[%L] - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天生成一个日志文件，保存30天的日志文件
            - 如果隔一段时间没有输出日志，前面过期的日志不会被删除，只有再重新打印日志的时候，会触发删除过期日志的操作。
            -->
            <fileNamePattern>./logdir/${serverName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- 开发环境下的日志配置 -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="org.apache" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.alibaba" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <!-- 生产环境下的日志配置 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILEAPPENDER"/>
        </root>
        <logger name="org.apache" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.alibaba" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <!-- 测试环境下的日志配置 -->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILEAPPENDER"/>
        </root>
        <logger name="org.apache" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.alibaba" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>


</configuration> 