<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaodui.springboot.system.mapper.SysDepartMapper">
  <resultMap id="BaseResultMap" type="com.zhaodui.springboot.system.model.SysDepart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="depart_name" jdbcType="VARCHAR" property="departName" />
    <result column="depart_name_en" jdbcType="VARCHAR" property="departNameEn" />
    <result column="depart_name_abbr" jdbcType="VARCHAR" property="departNameAbbr" />
    <result column="depart_order" jdbcType="INTEGER" property="departOrder" />
    <result column="org_category" jdbcType="VARCHAR" property="orgCategory" />
    <result column="org_type" jdbcType="VARCHAR" property="orgType" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <select id="queryUserDeparts" parameterType="String" resultType="com.zhaodui.springboot.system.model.SysDepart">
	   select * from sys_depart where id IN ( select dep_id from sys_user_depart where user_id = #{userId} )
	</select>

  <!-- 根据username查询所拥有的部门 -->
  <select id="queryDepartsByUsername" parameterType="String" resultType="com.zhaodui.springboot.system.model.SysDepart">
        SELECT *
        FROM sys_depart
        WHERE id IN (
            SELECT dep_id
            FROM sys_user_depart
            WHERE user_id = (
                SELECT id
                FROM sys_user
                WHERE username = #{username}
            )
        )
    </select>



</mapper>