<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaodui.springboot.system.mapper.SysRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.zhaodui.springboot.system.model.SysRolePermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="data_rule_ids" jdbcType="VARCHAR" property="dataRuleIds" />
  </resultMap>
</mapper>