<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.bluesky.mapper.BaseRuleEntityItemInfoMapper">
    <sql id="BaseFindColumnSql">
            T.ITEM_ID,
            T.ENTITY_ID,
            T.ITEM_NAME,
            T.ITEM_IDENTIFY,
            T.ITEM_DESC,
            T.CRE_USER_ID,
            T.CRE_TIME,
            T.IS_EFFECT,
            T.REMARK
    </sql>
    <select id="findBaseRuleEntityItemInfoList" parameterType="com.sky.bluesky.model.BaseRuleEntityItemInfo"
            resultType="com.sky.bluesky.model.BaseRuleEntityItemInfo">
        SELECT DISTINCT
            <include refid="BaseFindColumnSql"></include>
        FROM
            RULE_ENTITY_ITEM_INFO T
        WHERE 1=1

    </select>
    <select id="findBaseRuleEntityItemInfoById" resultType="com.sky.bluesky.model.BaseRuleEntityItemInfo">
        SELECT DISTINCT
        <include refid="BaseFindColumnSql"></include>
        FROM
        RULE_ENTITY_ITEM_INFO T
        WHERE 1=1
        AND T.ITEM_ID = #{id}
    </select>
</mapper>