<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.bluesky.mapper.BaseRuleVariableInfoMapper">
    <select id="findBaseRuleVariableInfoList" parameterType="com.sky.bluesky.model.BaseRuleVariableInfo"
            resultType="com.sky.bluesky.model.BaseRuleVariableInfo">
        SELECT DISTINCT
                T.VARIABLE_ID,
                T.VARIABLE_NAME,
                T.VARIABLE_TYPE,
                T.DEFAULT_VALUE,
                T.VALUE_TYPE,
                T.VARIABLE_VALUE,
                T.IS_EFFECT,
                T.CRE_USER_ID,
                T.CRE_TIME,
                T.REMARK
            FROM
                RULE_VARIABLE T
            WHERE
                1 = 1
            <choose>
                <when test="isEffect == 0">
                    AND T.IS_EFFECT = 0
                </when>
                <otherwise>
                    AND T.IS_EFFECT = 1
                </otherwise>
            </choose>
            <if test="variableType != null">
                AND T.VARIABLE_TYPE = #{variableType}
            </if>
            <if test="valueType != null">
                AND T.VALUE_TYPE = #{valueType}
            </if>

    </select>
</mapper>