USE [plustest]
GO
/****** Object:  Table [dbo].[core_user_role]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_user_role](
	[ID] [int] IDENTITY(173,1) NOT NULL,
	[USER_ID] [int] NULL,
	[ROLE_ID] [int] NULL,
	[ORG_ID] [int] NULL,
	[CREATE_TIME] [datetime2](6) NULL,
 CONSTRAINT [PK_core_user_role_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_user_role' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_user_role'
GO
SET IDENTITY_INSERT [dbo].[core_user_role] ON
INSERT [dbo].[core_user_role] ([ID], [USER_ID], [ROLE_ID], [ORG_ID], [CREATE_TIME]) VALUES (1, 3, 1, 4, NULL)
INSERT [dbo].[core_user_role] ([ID], [USER_ID], [ROLE_ID], [ORG_ID], [CREATE_TIME]) VALUES (2, 4, 2, 5, NULL)
INSERT [dbo].[core_user_role] ([ID], [USER_ID], [ROLE_ID], [ORG_ID], [CREATE_TIME]) VALUES (3, 75, 3, 6, CAST(0x06406868210F503D0B AS DateTime2))
SET IDENTITY_INSERT [dbo].[core_user_role] OFF
/****** Object:  Table [dbo].[core_user]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_user](
	[ID] [int] IDENTITY(176,1) NOT NULL,
	[CODE] [nvarchar](16) NULL,
	[NAME] [nvarchar](16) NULL,
	[PASSWORD] [nvarchar](64) NULL,
	[CREATE_TIME] [datetime2](6) NULL,
	[ORG_ID] [int] NULL,
	[STATE] [nvarchar](16) NULL,
	[JOB_TYPE1] [nvarchar](16) NULL,
	[DEL_FLAG] [smallint] NULL,
	[update_Time] [datetime2](0) NULL,
	[JOB_TYPE0] [nvarchar](16) NULL,
	[attachment_id] [nvarchar](128) NULL,
 CONSTRAINT [PK_core_user_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_user' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_user'
GO
SET IDENTITY_INSERT [dbo].[core_user] ON
INSERT [dbo].[core_user] ([ID], [CODE], [NAME], [PASSWORD], [CREATE_TIME], [ORG_ID], [STATE], [JOB_TYPE1], [DEL_FLAG], [update_Time], [JOB_TYPE0], [attachment_id]) VALUES (1, N'admin', N'超级管理员1', N'123456', CAST(0x06C09D78D607483D0B AS DateTime2), 1, N'S1', N'JT_S_01', 0, CAST(0x007F8300483D0B0000 AS DateTime2), N'JT_01', NULL)
INSERT [dbo].[core_user] ([ID], [CODE], [NAME], [PASSWORD], [CREATE_TIME], [ORG_ID], [STATE], [JOB_TYPE1], [DEL_FLAG], [update_Time], [JOB_TYPE0], [attachment_id]) VALUES (171, N'lixx', N'李小小', NULL, CAST(0x06503EB18409D13D0B AS DateTime2), 3, N'S1', N'JT_S_04', 0, NULL, N'JT_02', NULL)
INSERT [dbo].[core_user] ([ID], [CODE], [NAME], [PASSWORD], [CREATE_TIME], [ORG_ID], [STATE], [JOB_TYPE1], [DEL_FLAG], [update_Time], [JOB_TYPE0], [attachment_id]) VALUES (172, N'lixx2', N'李xx2', N'123456', CAST(0x0630E7558909D13D0B AS DateTime2), 4, N'S1', N'JT_S_02', 0, NULL, N'JT_01', NULL)
SET IDENTITY_INSERT [dbo].[core_user] OFF
/****** Object:  Table [dbo].[core_role_menu]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_role_menu](
	[ID] [int] IDENTITY(201,1) NOT NULL,
	[ROLE_ID] [int] NULL,
	[MENU_ID] [int] NULL,
	[CREATE_TIME] [datetime2](6) NULL,
 CONSTRAINT [PK_core_role_menu_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_role_menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_role_menu'
GO
SET IDENTITY_INSERT [dbo].[core_role_menu] ON
INSERT [dbo].[core_role_menu] ([ID], [ROLE_ID], [MENU_ID], [CREATE_TIME]) VALUES (1, 1, 10, NULL)
INSERT [dbo].[core_role_menu] ([ID], [ROLE_ID], [MENU_ID], [CREATE_TIME]) VALUES (163, 1, 11, NULL)
INSERT [dbo].[core_role_menu] ([ID], [ROLE_ID], [MENU_ID], [CREATE_TIME]) VALUES (175, 173, 10, NULL)
SET IDENTITY_INSERT [dbo].[core_role_menu] OFF
/****** Object:  Table [dbo].[core_role_function]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_role_function](
	[ID] [int] IDENTITY(207,1) NOT NULL,
	[ROLE_ID] [int] NULL,
	[FUNCTION_ID] [int] NULL,
	[DATA_ACCESS_TYPE] [smallint] NULL,
	[DATA_ACCESS_POLICY] [nvarchar](128) NULL,
 CONSTRAINT [PK_core_role_function_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_role_function' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_role_function'
GO
SET IDENTITY_INSERT [dbo].[core_role_function] ON
INSERT [dbo].[core_role_function] ([ID], [ROLE_ID], [FUNCTION_ID], [DATA_ACCESS_TYPE], [DATA_ACCESS_POLICY]) VALUES (1, 1, 1, 5, NULL)
INSERT [dbo].[core_role_function] ([ID], [ROLE_ID], [FUNCTION_ID], [DATA_ACCESS_TYPE], [DATA_ACCESS_POLICY]) VALUES (2, 1, 2, 4, NULL)
INSERT [dbo].[core_role_function] ([ID], [ROLE_ID], [FUNCTION_ID], [DATA_ACCESS_TYPE], [DATA_ACCESS_POLICY]) VALUES (3, 1, 3, 5, NULL)
SET IDENTITY_INSERT [dbo].[core_role_function] OFF
/****** Object:  Table [dbo].[core_role]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_role](
	[ID] [int] IDENTITY(174,1) NOT NULL,
	[CODE] [nvarchar](16) NULL,
	[NAME] [nvarchar](255) NULL,
	[CREATE_TIME] [datetime2](6) NULL,
	[TYPE] [nvarchar](6) NULL,
 CONSTRAINT [PK_core_role_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_role' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_role'
GO
SET IDENTITY_INSERT [dbo].[core_role] ON
INSERT [dbo].[core_role] ([ID], [CODE], [NAME], [CREATE_TIME], [TYPE]) VALUES (1, N'DEPT_MANAGER', N'部门管理员', NULL, N'R0')
INSERT [dbo].[core_role] ([ID], [CODE], [NAME], [CREATE_TIME], [TYPE]) VALUES (2, N'CEO', N'公司CEO', NULL, N'R0')
INSERT [dbo].[core_role] ([ID], [CODE], [NAME], [CREATE_TIME], [TYPE]) VALUES (3, N'ASSIST', N'助理', NULL, N'R0')
SET IDENTITY_INSERT [dbo].[core_role] OFF
/****** Object:  Table [dbo].[core_org]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_org](
	[ID] [int] IDENTITY(9,1) NOT NULL,
	[CODE] [nvarchar](16) NOT NULL,
	[NAME] [nvarchar](16) NOT NULL,
	[CREATE_TIME] [datetime2](6) NULL,
	[PARENT_ORG_ID] [int] NULL,
	[TYPE] [nvarchar](6) NOT NULL,
	[DEL_FLAG] [smallint] NULL,
 CONSTRAINT [PK_core_org_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_org' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_org'
GO
SET IDENTITY_INSERT [dbo].[core_org] ON
INSERT [dbo].[core_org] ([ID], [CODE], [NAME], [CREATE_TIME], [PARENT_ORG_ID], [TYPE], [DEL_FLAG]) VALUES (1, N'集团公司', N'集团', CAST(0x06805228830ED63D0B AS DateTime2), NULL, N'ORGT0', 0)
INSERT [dbo].[core_org] ([ID], [CODE], [NAME], [CREATE_TIME], [PARENT_ORG_ID], [TYPE], [DEL_FLAG]) VALUES (3, N'信息科技部门', N'信息科技部门', NULL, 1, N'ORGT2', 0)
INSERT [dbo].[core_org] ([ID], [CODE], [NAME], [CREATE_TIME], [PARENT_ORG_ID], [TYPE], [DEL_FLAG]) VALUES (4, N'贵州银行', N'贵州银行', CAST(0x0600E083830ED63D0B AS DateTime2), 1, N'ORGT1', 0)
SET IDENTITY_INSERT [dbo].[core_org] OFF
/****** Object:  Table [dbo].[core_menu]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_menu](
	[ID] [int] IDENTITY(26,1) NOT NULL,
	[CODE] [nvarchar](16) NULL,
	[NAME] [nvarchar](16) NULL,
	[CREATE_TIME] [datetime2](6) NULL,
	[FUNCTION_ID] [int] NULL,
	[TYPE] [nvarchar](6) NULL,
	[PARENT_MENU_ID] [int] NULL,
	[SEQ] [int] NULL,
	[ICON] [nvarchar](255) NULL,
 CONSTRAINT [PK_core_menu_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_menu'
GO
SET IDENTITY_INSERT [dbo].[core_menu] ON
INSERT [dbo].[core_menu] ([ID], [CODE], [NAME], [CREATE_TIME], [FUNCTION_ID], [TYPE], [PARENT_MENU_ID], [SEQ], [ICON]) VALUES (8, N'系统管理', N'系统管理', NULL, NULL, N'MENU_S', 0, 1, NULL)
INSERT [dbo].[core_menu] ([ID], [CODE], [NAME], [CREATE_TIME], [FUNCTION_ID], [TYPE], [PARENT_MENU_ID], [SEQ], [ICON]) VALUES (10, N'用户管理', N'用户管理', NULL, 1, N'MENU_M', 18, 1, NULL)
INSERT [dbo].[core_menu] ([ID], [CODE], [NAME], [CREATE_TIME], [FUNCTION_ID], [TYPE], [PARENT_MENU_ID], [SEQ], [ICON]) VALUES (11, N'组织机构管理', N'组织机构管理', NULL, 6, N'MENU_M', 18, 2, NULL)
SET IDENTITY_INSERT [dbo].[core_menu] OFF
/****** Object:  Table [dbo].[core_function]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_function](
	[ID] [int] IDENTITY(184,1) NOT NULL,
	[CODE] [nvarchar](250) NULL,
	[NAME] [nvarchar](16) NULL,
	[CREATE_TIME] [datetime2](6) NULL,
	[ACCESS_URL] [nvarchar](250) NULL,
	[PARENT_ID] [int] NULL,
	[TYPE] [nvarchar](4) NULL,
 CONSTRAINT [PK_core_function_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_function' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_function'
GO
SET IDENTITY_INSERT [dbo].[core_function] ON
INSERT [dbo].[core_function] ([ID], [CODE], [NAME], [CREATE_TIME], [ACCESS_URL], [PARENT_ID], [TYPE]) VALUES (1, N'user', N'用户功能', NULL, N'/admin/user/index.do', 0, N'FN0')
INSERT [dbo].[core_function] ([ID], [CODE], [NAME], [CREATE_TIME], [ACCESS_URL], [PARENT_ID], [TYPE]) VALUES (2, N'user.query', N'用户列表', NULL, NULL, 1, N'FN1')
INSERT [dbo].[core_function] ([ID], [CODE], [NAME], [CREATE_TIME], [ACCESS_URL], [PARENT_ID], [TYPE]) VALUES (3, N'user.edit', N'用户编辑', NULL, NULL, 1, N'FN0')
SET IDENTITY_INSERT [dbo].[core_function] OFF
/****** Object:  Table [dbo].[core_file_tag]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_file_tag](
	[ID] [int] IDENTITY(3,1) NOT NULL,
	[KEY] [nvarchar](64) NOT NULL,
	[VALUE] [nvarchar](255) NOT NULL,
	[FILE_ID] [int] NOT NULL,
 CONSTRAINT [PK_core_file_tag_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_file_tag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_file_tag'
GO
SET IDENTITY_INSERT [dbo].[core_file_tag] ON
INSERT [dbo].[core_file_tag] ([ID], [KEY], [VALUE], [FILE_ID]) VALUES (1, N'customer', N'12332', 1)
INSERT [dbo].[core_file_tag] ([ID], [KEY], [VALUE], [FILE_ID]) VALUES (2, N'type', N'crdit', 2)
SET IDENTITY_INSERT [dbo].[core_file_tag] OFF
/****** Object:  Table [dbo].[core_file]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_file](
	[ID] [int] IDENTITY(39,1) NOT NULL,
	[NAME] [nvarchar](64) NULL,
	[PATH] [nvarchar](255) NULL,
	[BIZ_ID] [nvarchar](128) NULL,
	[USER_ID] [int] NULL,
	[CREATE_TIME] [datetime2](6) NULL,
	[ORG_ID] [int] NULL,
	[BIZ_TYPE] [nvarchar](128) NULL,
	[FILE_BATCH_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_core_file_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_file' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_file'
GO
SET IDENTITY_INSERT [dbo].[core_file] ON
INSERT [dbo].[core_file] ([ID], [NAME], [PATH], [BIZ_ID], [USER_ID], [CREATE_TIME], [ORG_ID], [BIZ_TYPE], [FILE_BATCH_ID]) VALUES (19, N'dict_upload_template.xls', N'20180311/dict_upload_template.xls.8caa38fb-52ef-4c73-85ea-abfb1f5c5dc4', NULL, 1, CAST(0x06906DE8160DFB3D0B AS DateTime2), 1, NULL, N'18c0dd67-e334-47ba-8969-915bcf77c544')
INSERT [dbo].[core_file] ([ID], [NAME], [PATH], [BIZ_ID], [USER_ID], [CREATE_TIME], [ORG_ID], [BIZ_TYPE], [FILE_BATCH_ID]) VALUES (20, N'dict_upload_template.xls', N'20180311/dict_upload_template.xls.f50b7f0f-d376-4a95-be6a-14f5aa4a81e6', NULL, 1, CAST(0x06E07DEB170DFB3D0B AS DateTime2), 1, NULL, N'335a583a-9c74-462d-be0a-5a82d427b1aa')
INSERT [dbo].[core_file] ([ID], [NAME], [PATH], [BIZ_ID], [USER_ID], [CREATE_TIME], [ORG_ID], [BIZ_TYPE], [FILE_BATCH_ID]) VALUES (21, N'dict_upload_template.xls', N'20180311/dict_upload_template.xls.b0b9434d-e367-43ef-b8ac-366cf7b018b6', NULL, 1, CAST(0x06C042AF1D0DFB3D0B AS DateTime2), 1, NULL, N'a5b887c6-101c-46e8-b9e2-b3b448edff34')
SET IDENTITY_INSERT [dbo].[core_file] OFF
/****** Object:  Table [dbo].[core_dict]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_dict](
	[ID] [int] IDENTITY(33,1) NOT NULL,
	[VALUE] [nvarchar](16) NOT NULL,
	[NAME] [nvarchar](128) NOT NULL,
	[TYPE] [nvarchar](64) NOT NULL,
	[TYPE_NAME] [nvarchar](64) NOT NULL,
	[SORT] [int] NULL,
	[PARENT] [int] NULL,
	[DEL_FLAG] [int] NULL,
	[REMARK] [nvarchar](255) NULL,
	[CREATE_TIME] [datetime2](6) NULL,
 CONSTRAINT [PK_core_dict_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_dict' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_dict'
GO
SET IDENTITY_INSERT [dbo].[core_dict] ON
INSERT [dbo].[core_dict] ([ID], [VALUE], [NAME], [TYPE], [TYPE_NAME], [SORT], [PARENT], [DEL_FLAG], [REMARK], [CREATE_TIME]) VALUES (1, N'DA0', N'查看自己', N'data_access_type', N'数据权限', 1, NULL, 0, N'11111111111111111123', NULL)
INSERT [dbo].[core_dict] ([ID], [VALUE], [NAME], [TYPE], [TYPE_NAME], [SORT], [PARENT], [DEL_FLAG], [REMARK], [CREATE_TIME]) VALUES (2, N'DA1', N'查看本公司', N'data_access_type', N'数据权限', 3, NULL, 0, N'hello,go', NULL)
INSERT [dbo].[core_dict] ([ID], [VALUE], [NAME], [TYPE], [TYPE_NAME], [SORT], [PARENT], [DEL_FLAG], [REMARK], [CREATE_TIME]) VALUES (3, N'DA2', N'查看同机构', N'data_access_type', N'数据权限', 3, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[core_dict] OFF
/****** Object:  Table [dbo].[core_audit]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_audit](
	[ID] [int] IDENTITY(46,1) NOT NULL,
	[FUNCTION_CODE] [nvarchar](45) NULL,
	[FUNCTION_NAME] [nvarchar](45) NULL,
	[USER_ID] [int] NULL,
	[USER_NAME] [nvarchar](45) NULL,
	[IP] [nvarchar](45) NULL,
	[CREATE_TIME] [datetime2](6) NULL,
	[SUCCESS] [smallint] NULL,
	[MESSAGE] [nvarchar](250) NULL,
	[ORG_ID] [nvarchar](45) NULL,
 CONSTRAINT [PK_core_audit_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.core_audit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'core_audit'
GO
SET IDENTITY_INSERT [dbo].[core_audit] ON
INSERT [dbo].[core_audit] ([ID], [FUNCTION_CODE], [FUNCTION_NAME], [USER_ID], [USER_NAME], [IP], [CREATE_TIME], [SUCCESS], [MESSAGE], [ORG_ID]) VALUES (1, N'org.query', N'未定义', 1, N'超级管理员', N'172.16.49.65', CAST(0x0660106ABF10DA3D0B AS DateTime2), 1, N'', NULL)
INSERT [dbo].[core_audit] ([ID], [FUNCTION_CODE], [FUNCTION_NAME], [USER_ID], [USER_NAME], [IP], [CREATE_TIME], [SUCCESS], [MESSAGE], [ORG_ID]) VALUES (2, N'org.query', N'未定义', 1, N'超级管理员', N'172.16.49.65', CAST(0x0668B571BF10DA3D0B AS DateTime2), 1, N'', NULL)
INSERT [dbo].[core_audit] ([ID], [FUNCTION_CODE], [FUNCTION_NAME], [USER_ID], [USER_NAME], [IP], [CREATE_TIME], [SUCCESS], [MESSAGE], [ORG_ID]) VALUES (3, N'role.edit', N'未定义', 1, N'超级管理员', N'172.16.49.65', CAST(0x06603B30C410DA3D0B AS DateTime2), 1, N'', NULL)
SET IDENTITY_INSERT [dbo].[core_audit] OFF
/****** Object:  Table [dbo].[cms_blog]    Script Date: 11/08/2018 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_blog](
	[id] [int] IDENTITY(3,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](512) NULL,
	[create_time] [datetime2](0) NULL,
	[create_user_id] [int] NULL,
	[type] [nvarchar](255) NULL,
 CONSTRAINT [PK_cms_blog_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'plustest.cms_blog' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_blog'
GO
SET IDENTITY_INSERT [dbo].[cms_blog] ON
INSERT [dbo].[cms_blog] ([id], [title], [content], [create_time], [create_user_id], [type]) VALUES (1, N'hello', N'我的博客,内容是。。。', CAST(0x00018B00EA3D0B0000 AS DateTime2), 1, N'F0')
INSERT [dbo].[cms_blog] ([id], [title], [content], [create_time], [create_user_id], [type]) VALUES (2, N'cccc', N'过年回家', CAST(0x00A99300E13D0B0000 AS DateTime2), 1, N'F0')
SET IDENTITY_INSERT [dbo].[cms_blog] OFF
/****** Object:  Default [DF__cms_blog__title__164452B1]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[cms_blog] ADD  DEFAULT (NULL) FOR [title]
GO
/****** Object:  Default [DF__cms_blog__conten__173876EA]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[cms_blog] ADD  DEFAULT (NULL) FOR [content]
GO
/****** Object:  Default [DF__cms_blog__create__182C9B23]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[cms_blog] ADD  DEFAULT (NULL) FOR [create_time]
GO
/****** Object:  Default [DF__cms_blog__create__1920BF5C]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[cms_blog] ADD  DEFAULT (NULL) FOR [create_user_id]
GO
/****** Object:  Default [DF__cms_blog__type__1A14E395]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[cms_blog] ADD  DEFAULT (NULL) FOR [type]
GO
/****** Object:  Default [DF__core_audi__FUNCT__1B0907CE]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [FUNCTION_CODE]
GO
/****** Object:  Default [DF__core_audi__FUNCT__1BFD2C07]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [FUNCTION_NAME]
GO
/****** Object:  Default [DF__core_audi__USER___1CF15040]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [USER_ID]
GO
/****** Object:  Default [DF__core_audi__USER___1DE57479]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [USER_NAME]
GO
/****** Object:  Default [DF__core_audit__IP__1ED998B2]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [IP]
GO
/****** Object:  Default [DF__core_audi__CREAT__1FCDBCEB]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_audi__SUCCE__20C1E124]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [SUCCESS]
GO
/****** Object:  Default [DF__core_audi__MESSA__21B6055D]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [MESSAGE]
GO
/****** Object:  Default [DF__core_audi__ORG_I__22AA2996]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_audit] ADD  DEFAULT (NULL) FOR [ORG_ID]
GO
/****** Object:  Default [DF__core_dict__SORT__239E4DCF]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_dict] ADD  DEFAULT (NULL) FOR [SORT]
GO
/****** Object:  Default [DF__core_dict__PAREN__24927208]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_dict] ADD  DEFAULT (NULL) FOR [PARENT]
GO
/****** Object:  Default [DF__core_dict__DEL_F__25869641]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_dict] ADD  DEFAULT (NULL) FOR [DEL_FLAG]
GO
/****** Object:  Default [DF__core_dict__REMAR__267ABA7A]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_dict] ADD  DEFAULT (NULL) FOR [REMARK]
GO
/****** Object:  Default [DF__core_dict__CREAT__276EDEB3]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_dict] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_file__NAME__286302EC]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [NAME]
GO
/****** Object:  Default [DF__core_file__PATH__29572725]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [PATH]
GO
/****** Object:  Default [DF__core_file__BIZ_I__2A4B4B5E]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [BIZ_ID]
GO
/****** Object:  Default [DF__core_file__USER___2B3F6F97]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [USER_ID]
GO
/****** Object:  Default [DF__core_file__CREAT__2C3393D0]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_file__ORG_I__2D27B809]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [ORG_ID]
GO
/****** Object:  Default [DF__core_file__BIZ_T__2E1BDC42]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [BIZ_TYPE]
GO
/****** Object:  Default [DF__core_file__FILE___2F10007B]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_file] ADD  DEFAULT (NULL) FOR [FILE_BATCH_ID]
GO
/****** Object:  Default [DF__core_funct__CODE__300424B4]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_function] ADD  DEFAULT (NULL) FOR [CODE]
GO
/****** Object:  Default [DF__core_funct__NAME__30F848ED]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_function] ADD  DEFAULT (NULL) FOR [NAME]
GO
/****** Object:  Default [DF__core_func__CREAT__31EC6D26]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_function] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_func__ACCES__32E0915F]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_function] ADD  DEFAULT (NULL) FOR [ACCESS_URL]
GO
/****** Object:  Default [DF__core_func__PAREN__33D4B598]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_function] ADD  DEFAULT (NULL) FOR [PARENT_ID]
GO
/****** Object:  Default [DF__core_funct__TYPE__34C8D9D1]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_function] ADD  DEFAULT (NULL) FOR [TYPE]
GO
/****** Object:  Default [DF__core_menu__CODE__35BCFE0A]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [CODE]
GO
/****** Object:  Default [DF__core_menu__NAME__36B12243]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [NAME]
GO
/****** Object:  Default [DF__core_menu__CREAT__37A5467C]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_menu__FUNCT__38996AB5]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [FUNCTION_ID]
GO
/****** Object:  Default [DF__core_menu__TYPE__398D8EEE]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [TYPE]
GO
/****** Object:  Default [DF__core_menu__PAREN__3A81B327]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [PARENT_MENU_ID]
GO
/****** Object:  Default [DF__core_menu__SEQ__3B75D760]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [SEQ]
GO
/****** Object:  Default [DF__core_menu__ICON__3C69FB99]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_menu] ADD  DEFAULT (NULL) FOR [ICON]
GO
/****** Object:  Default [DF__core_org__CREATE__3D5E1FD2]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_org] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_org__PARENT__3E52440B]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_org] ADD  DEFAULT (NULL) FOR [PARENT_ORG_ID]
GO
/****** Object:  Default [DF__core_org__DEL_FL__3F466844]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_org] ADD  DEFAULT (NULL) FOR [DEL_FLAG]
GO
/****** Object:  Default [DF__core_role__CODE__403A8C7D]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role] ADD  DEFAULT (NULL) FOR [CODE]
GO
/****** Object:  Default [DF__core_role__NAME__412EB0B6]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role] ADD  DEFAULT (NULL) FOR [NAME]
GO
/****** Object:  Default [DF__core_role__CREAT__4222D4EF]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_role__TYPE__4316F928]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role] ADD  DEFAULT (NULL) FOR [TYPE]
GO
/****** Object:  Default [DF__core_role__ROLE___440B1D61]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role_function] ADD  DEFAULT (NULL) FOR [ROLE_ID]
GO
/****** Object:  Default [DF__core_role__FUNCT__44FF419A]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role_function] ADD  DEFAULT (NULL) FOR [FUNCTION_ID]
GO
/****** Object:  Default [DF__core_role__DATA___45F365D3]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role_function] ADD  DEFAULT (NULL) FOR [DATA_ACCESS_TYPE]
GO
/****** Object:  Default [DF__core_role__DATA___46E78A0C]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role_function] ADD  DEFAULT (NULL) FOR [DATA_ACCESS_POLICY]
GO
/****** Object:  Default [DF__core_role__ROLE___47DBAE45]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role_menu] ADD  DEFAULT (NULL) FOR [ROLE_ID]
GO
/****** Object:  Default [DF__core_role__MENU___48CFD27E]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role_menu] ADD  DEFAULT (NULL) FOR [MENU_ID]
GO
/****** Object:  Default [DF__core_role__CREAT__49C3F6B7]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_role_menu] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_user__CODE__4AB81AF0]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [CODE]
GO
/****** Object:  Default [DF__core_user__NAME__4BAC3F29]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [NAME]
GO
/****** Object:  Default [DF__core_user__PASSW__4CA06362]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [PASSWORD]
GO
/****** Object:  Default [DF__core_user__CREAT__4D94879B]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
/****** Object:  Default [DF__core_user__ORG_I__4E88ABD4]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [ORG_ID]
GO
/****** Object:  Default [DF__core_user__STATE__4F7CD00D]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [STATE]
GO
/****** Object:  Default [DF__core_user__JOB_T__5070F446]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [JOB_TYPE1]
GO
/****** Object:  Default [DF__core_user__DEL_F__5165187F]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [DEL_FLAG]
GO
/****** Object:  Default [DF__core_user__updat__52593CB8]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [update_Time]
GO
/****** Object:  Default [DF__core_user__JOB_T__534D60F1]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [JOB_TYPE0]
GO
/****** Object:  Default [DF__core_user__attac__5441852A]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user] ADD  DEFAULT (NULL) FOR [attachment_id]
GO
/****** Object:  Default [DF__core_user__USER___5535A963]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user_role] ADD  DEFAULT (NULL) FOR [USER_ID]
GO
/****** Object:  Default [DF__core_user__ROLE___5629CD9C]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user_role] ADD  DEFAULT (NULL) FOR [ROLE_ID]
GO
/****** Object:  Default [DF__core_user__ORG_I__571DF1D5]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user_role] ADD  DEFAULT (NULL) FOR [ORG_ID]
GO
/****** Object:  Default [DF__core_user__CREAT__5812160E]    Script Date: 11/08/2018 09:43:23 ******/
ALTER TABLE [dbo].[core_user_role] ADD  DEFAULT (NULL) FOR [CREATE_TIME]
GO
