.myClass {
	position: absolute;
	left: 400px;
	top: 150px
}

.myClass1 {
	position: absolute;
	left: 250px;
	top: 30px;
	border-style: dotted
}

.myClass2 {
	position: absolute;
	left: 300px;
	top: 260px
}