<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CourierMapper" >
  <resultMap id="BaseResultMap" type="model.Courier" >
    <id column="courieID" property="courieid" jdbcType="INTEGER" />
    <result column="couriername" property="couriername" jdbcType="VARCHAR" />
    <result column="courietype" property="courietype" jdbcType="VARCHAR" />
    <result column="couriedesc" property="couriedesc" jdbcType="VARCHAR" />
    <result column="couriestate" property="couriestate" jdbcType="INTEGER" />
    <result column="couriefrom" property="couriefrom" jdbcType="VARCHAR" />
    <result column="courieto" property="courieto" jdbcType="VARCHAR" />
    <result column="couriearrived" property="couriearrived" jdbcType="VARCHAR" />
    <result column="couriearrivetime" property="couriearrivetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    courieID, couriername, courietype, couriedesc, couriestate, couriefrom, courieto, 
    couriearrived, couriearrivetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from courier
    where courieID = #{courieid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from courier
    where courieID = #{courieid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.Courier" >
    insert into courier (courieID, couriername, courietype, 
      couriedesc, couriestate, couriefrom, 
      courieto, couriearrived, couriearrivetime
      )
    values (#{courieid,jdbcType=INTEGER}, #{couriername,jdbcType=VARCHAR}, #{courietype,jdbcType=VARCHAR}, 
      #{couriedesc,jdbcType=VARCHAR}, #{couriestate,jdbcType=INTEGER}, #{couriefrom,jdbcType=VARCHAR}, 
      #{courieto,jdbcType=VARCHAR}, #{couriearrived,jdbcType=VARCHAR}, #{couriearrivetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.Courier" >
    insert into courier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courieid != null" >
        courieID,
      </if>
      <if test="couriername != null" >
        couriername,
      </if>
      <if test="courietype != null" >
        courietype,
      </if>
      <if test="couriedesc != null" >
        couriedesc,
      </if>
      <if test="couriestate != null" >
        couriestate,
      </if>
      <if test="couriefrom != null" >
        couriefrom,
      </if>
      <if test="courieto != null" >
        courieto,
      </if>
      <if test="couriearrived != null" >
        couriearrived,
      </if>
      <if test="couriearrivetime != null" >
        couriearrivetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courieid != null" >
        #{courieid,jdbcType=INTEGER},
      </if>
      <if test="couriername != null" >
        #{couriername,jdbcType=VARCHAR},
      </if>
      <if test="courietype != null" >
        #{courietype,jdbcType=VARCHAR},
      </if>
      <if test="couriedesc != null" >
        #{couriedesc,jdbcType=VARCHAR},
      </if>
      <if test="couriestate != null" >
        #{couriestate,jdbcType=INTEGER},
      </if>
      <if test="couriefrom != null" >
        #{couriefrom,jdbcType=VARCHAR},
      </if>
      <if test="courieto != null" >
        #{courieto,jdbcType=VARCHAR},
      </if>
      <if test="couriearrived != null" >
        #{couriearrived,jdbcType=VARCHAR},
      </if>
      <if test="couriearrivetime != null" >
        #{couriearrivetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.Courier" >
    update courier
    <set >
      <if test="couriername != null" >
        couriername = #{couriername,jdbcType=VARCHAR},
      </if>
      <if test="courietype != null" >
        courietype = #{courietype,jdbcType=VARCHAR},
      </if>
      <if test="couriedesc != null" >
        couriedesc = #{couriedesc,jdbcType=VARCHAR},
      </if>
      <if test="couriestate != null" >
        couriestate = #{couriestate,jdbcType=INTEGER},
      </if>
      <if test="couriefrom != null" >
        couriefrom = #{couriefrom,jdbcType=VARCHAR},
      </if>
      <if test="courieto != null" >
        courieto = #{courieto,jdbcType=VARCHAR},
      </if>
      <if test="couriearrived != null" >
        couriearrived = #{couriearrived,jdbcType=VARCHAR},
      </if>
      <if test="couriearrivetime != null" >
        couriearrivetime = #{couriearrivetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where courieID = #{courieid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Courier" >
    update courier
    set couriername = #{couriername,jdbcType=VARCHAR},
      courietype = #{courietype,jdbcType=VARCHAR},
      couriedesc = #{couriedesc,jdbcType=VARCHAR},
      couriestate = #{couriestate,jdbcType=INTEGER},
      couriefrom = #{couriefrom,jdbcType=VARCHAR},
      courieto = #{courieto,jdbcType=VARCHAR},
      couriearrived = #{couriearrived,jdbcType=VARCHAR},
      couriearrivetime = #{couriearrivetime,jdbcType=TIMESTAMP}
    where courieID = #{courieid,jdbcType=INTEGER}
  </update>
</mapper>