<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="model.SysUser" >
    <id column="USERID" property="userid" jdbcType="INTEGER" />
    <result column="ROLEID" property="roleid" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="USERPWD" property="userpwd" jdbcType="VARCHAR" />
    <result column="USERTRUENAME" property="usertruename" jdbcType="VARCHAR" />
    <result column="USERSTATE" property="userstate" jdbcType="INTEGER" />
    <result column="USERTEL" property="usertel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USERID, ROLEID, USERNAME, USERPWD, USERTRUENAME, USERSTATE, USERTEL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sysuser
    where USERID = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysuser
    where USERID = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.SysUser" >
    insert into sysuser (USERID, ROLEID, USERNAME, 
      USERPWD, USERTRUENAME, USERSTATE, 
      USERTEL)
    values (#{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{userpwd,jdbcType=VARCHAR}, #{usertruename,jdbcType=VARCHAR}, #{userstate,jdbcType=INTEGER}, 
      #{usertel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.SysUser" >
    insert into sysuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="userpwd != null" >
        USERPWD,
      </if>
      <if test="usertruename != null" >
        USERTRUENAME,
      </if>
      <if test="userstate != null" >
        USERSTATE,
      </if>
      <if test="usertel != null" >
        USERTEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="usertruename != null" >
        #{usertruename,jdbcType=VARCHAR},
      </if>
      <if test="userstate != null" >
        #{userstate,jdbcType=INTEGER},
      </if>
      <if test="usertel != null" >
        #{usertel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.SysUser" >
    update sysuser
    <set >
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        USERPWD = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="usertruename != null" >
        USERTRUENAME = #{usertruename,jdbcType=VARCHAR},
      </if>
      <if test="userstate != null" >
        USERSTATE = #{userstate,jdbcType=INTEGER},
      </if>
      <if test="usertel != null" >
        USERTEL = #{usertel,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.SysUser" >
    update sysuser
    set ROLEID = #{roleid,jdbcType=INTEGER},
      USERNAME = #{username,jdbcType=VARCHAR},
      USERPWD = #{userpwd,jdbcType=VARCHAR},
      USERTRUENAME = #{usertruename,jdbcType=VARCHAR},
      USERSTATE = #{userstate,jdbcType=INTEGER},
      USERTEL = #{usertel,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=INTEGER}
  </update>
</mapper>