<table class="width100" id="datasort">
	<tr class="filterTypeTitle">
	 	<td class="td-center"><label data-i18n="select.sort_way.searchSortName"></label></td>
	 	<td class="td-center"><label data-i18n="select.sort_way.searchSortWay"></label></td>
	 	<td class="td-center"><label data-i18n="select.sort_way.searchFilterOperate"></label></td>
	</tr>
	<tr>
		<td class="td-center">
			<select name="sortName" class="dfinput">
				<option value="0" data-i18n="common.choose"></option>
   				<%for (var i=0;i<sortCols.length;i++){%>
					<option value="<%=sortCols[i]%>" data-i18n="<%=tableName%>.<%=sortCols[i]%>"></option>	
				<%}%>
			</select>
		</td>
		<td class="td-center">
			<select name="sortWay" class="dfinput">
				<option value="0" data-i18n="common.choose"></option>
				<option value="ASC" data-i18n="select.sort_way.asc"></option>
				<option value="DESC" data-i18n="select.sort_way.desc"></option>
			</select>
		</td>
		<td class="td-center">
			<div class="addsortway addItem " data-i18n="[title]common.and"></div>
		</td>
	</tr>
</table>