<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>mydb-data.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>mydb-data.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<!--<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
			<pattern>%date{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
			<!--<pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>-->

		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="org.springframework.data.rest" level="DEBUG" />
	<!--<logger name="org.springframework.boot.actuate" level="DEBUG" />-->
	<logger name="org.springframework.security" level="ERROR" />
	<logger name="org.springframework.data.rest.webmvc.RepositoryEntityController" level="DEBUG" />
	<logger name="com.supermy.base.web" level="DEBUG" />
	<logger name="com.supermy.rocksdb" level="DEBUG" />
	<logger name="org.springframework.data.rest.webmvc" level="DEBUG" />



	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="DEBUG"/>

    <!--WRAN-->
	<root level="ERROR">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>