<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.4.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">
	 <!--<context:property-placeholder location="classpath*:META-INF/mongodb/mongodb.properties"/>
     定义mongo对象，对应的是mongodb官方jar包中的Mongo，replica-set设置集群副本的ip地址和端口 -->
    <mongo:mongo host="10.10.9.104" port="27017">
        <mongo:options connections-per-host="200"
            threads-allowed-to-block-for-connection-multiplier="100"
            connect-timeout="1000"
            max-wait-time="1500"
            auto-connect-retry="true"
            socket-keep-alive="true"
            socket-timeout="1500"
            slave-ok="true"
            write-number="1"
            write-timeout="0"
            write-fsync="true" />
    </mongo:mongo>
    <!-- mongo的工厂，通过它来取得mongo实例,dbname为mongodb的数据库名，没有的话会自动创建 -->
    <mongo:db-factory dbname="smartsales" mongo-ref="mongo" />
    <!-- mongodb的主要操作对象，所有对mongodb的增删改查的操作都是通过它完成 -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>
    
    <context:annotation-config />
    <!-- 
    <bean id="abstractMongoDB" class="com.***.AbstractMongoDB"
        abstract="true">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate" />
        </property>
    </bean> -->
    
</beans>