<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--标准日志工厂实现-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 开启驼峰，开启后，只要数据库字段和对象属性名字母相同，无论中间加多少下划线都可以识别 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>


    <!--配置数据源，交给Spring去做-->
    <typeAliases>
        <package name="cn.classg.entity"/>
    </typeAliases>


    <!-- pagehelper分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql" />
        </plugin>
    </plugins>

    <mappers>
        <!--<mapper class="cn.classg.mapper.BooksMapper"/>
        <mapper class="cn.classg.mapper.UserMapper"/>-->
        <package name="cn.classg.mapper" />
    </mappers>
</configuration>