<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.FileMapper" >
  <resultMap id="BaseResultMap" type="po.File" >
    <id column="fileid" property="fileid" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="realfilename" property="realfilename" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fileid, filename, realfilename, bz
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from file
    where fileid = #{fileid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from file
    where fileid = #{fileid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.File" useGeneratedKeys="true" keyProperty="fileid">
    insert into file ( filename, realfilename, 
      bz)
    values ( #{filename,jdbcType=VARCHAR}, #{realfilename,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="po.File" >
    insert into file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="filename != null" >
        filename,
      </if>
      <if test="realfilename != null" >
        realfilename,
      </if>
      <if test="bz != null" >
        bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="realfilename != null" >
        #{realfilename,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.File" >
    update file
    <set >
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="realfilename != null" >
        realfilename = #{realfilename,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.File" >
    update file
    set filename = #{filename,jdbcType=VARCHAR},
      realfilename = #{realfilename,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR}
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
</mapper>