<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>SpringBoot项目测试</h1>
	<form th:action="@{/update}" method="post">
		<fieldset style="width: 300px">
			<legend>新增用户</legend>
			<table>
				<tr>
					<td>id</td>
					<td>
						<input th:value="${user.id}" readonly="readonly" name=id type="text">
					</td>
				</tr>
				<tr>
					<td>姓名</td>
					<td>
						<input th:value="${user.userName}" name="userName" type="text">
					</td>
				</tr>
				<tr>
					<td>性别</td>
					<td>
						<input th:checked="${user.gender == '男'}" type="radio" name="gender"  value="男">男
						<input th:checke="${user.gender == '女'}"  type="radio" name="gender" value="女">女
					</td>
				</tr>
				<tr>
					<td>
						<input type="reset" value="重置">
					</td>
					<td>
						<input type="submit" value="提交">
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>