<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>SpringBoot项目测试</h1>
	<hr/>
	<p>
		<span>ID</span>
		<span>姓名</span>
		<span>性别</span>
	</p>
	<p>
		<span th:text=${user.id}></span>
		<span th:text=${user.userName}></span>
		<span th:text=${user.gender}></span>
	</p>

	<br/>
	
	<a href="/findById/2">访问2号用户</a>
	<br/>
	<a th:href="@{/findById/2}">绝对路径访问1号用户</a>
</body>
</html>