<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>用户列表</h2>
	<hr/>
	
	<table>
		<tr>
			<td>id</td>
			<td>姓名</td>
			<td>性别</td>
			<td>操作</td>
		</tr>
		<tr th:each="user:${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.userName}"></td>
			<td th:text="${user.gender}"></td>
			<td >
				<a th:href="@{/update/{id}(id=${user.id})}">修改</a>
				<a th:href="@{/delete/{id}(id=${user.id})}">删除</a>
			</td>
		</tr>
	</table>
</body>
</html>