<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.dfs.core.mapper.FileInfoMapper">
    <cache/>

    <insert id="addFileInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="fileInfo.id">
		INSERT INTO dfs_file_info
		(file_id,name,bytes,group_name,access_type,belongs_app,status,create_date,update_date)
		VALUES
		(#{fileInfo.fileId},#{fileInfo.name},#{fileInfo.bytes},#{fileInfo.groupName},#{fileInfo.accessType},#{fileInfo.belongsApp},#{fileInfo.status},#{fileInfo.createDate},#{fileInfo.updateDate})
	</insert>

    <update id="updateFileInfoById" flushCache="true">
        UPDATE dfs_file_info
        SET
        <if test="fileInfo.fileId != null ">
            file_id = #{fileInfo.fileId},
        </if>
        <if test="fileInfo.groupName != null ">
            group_name = #{fileInfo.groupName},
        </if>
        <if test="fileInfo.status != null ">
            status = #{fileInfo.status},
        </if>
        <if test="fileInfo.updateDate != null ">
            update_date = #{fileInfo.updateDate}
        </if>
        WHERE id = #{fileInfo.id}
    </update>

    <update id="updateFileInfoByFileId" flushCache="true">
        UPDATE dfs_file_info
        SET
        <if test="fileInfo.status != null ">
            status = #{fileInfo.status},
        </if>
        <if test="fileInfo.updateDate != null ">
            update_date = #{fileInfo.updateDate}
        </if>
        WHERE file_id = #{fileInfo.fileId}
    </update>

    <select id="getFileLengthByFileId" resultType="long">
		SELECT bytes FROM dfs_file_info WHERE file_id = #{fileId}
	</select>

    <select id="getFileNameByFileId" resultType="java.lang.String">
		SELECT name FROM dfs_file_info WHERE file_id = #{fileId}
	</select>
</mapper>  