<div tabindex="0" id="timepicker" class="float-pup float-pup-2">
	<div id="hour" class="show"></div>
	<div id="minute" class="show"></div>
	<div class="show"><a type="button"   data-i18n="button.ok"  href="javascript:void(0)" class="add-defect-p " id="select_time" style="font-size:12px;"></a></div>
</div>