<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
   		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx 
	    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
	    http://www.springframework.org/schema/aop 
	    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	    ">

    <!-- 注解扫描所有包 -->
    <context:component-scan base-package="cn.kiiwii.framework.*"/>

    <!-- 载入常用的配置 -->
    <context:property-placeholder location="
        classpath:redis/redis.properties"/>

    <context:annotation-config/>
    <!--扫描拦截器注解-->
    <tx:annotation-driven/>
    <!-- 强制使用cglib代理 -->
    <aop:aspectj-autoproxy proxy-target-class="false"/>

    <import resource="redis/spring-redis.xml"/>
</beans>