@charset utf-8;

body {
font-family: arial, sans-serif;
}

FORM {
padding:0
}

.titlep {
font-size:13px;
font-weight:700;
color:#000;
text-align:left;
margin-bottom:5px;
padding:5px 2px 2px
}

.formtable {
border:1px solid #888;
border-collapse:collapse;
border-spacing:2px;
border-color:gray
}

table.formtable>tbody>tr>td {
padding:2px;
border:1px solid #888;
vertical-align:middle;
height:22px;
text-align:left;
}

TABLE,BODY,INPUT,SELECT,TEXTAREA {
font-size:12px
}

table.formtable TEXTAREA{
	width:95%;
	height:45px;
}

.formtable td input[type=text] {
width:70%;
border:0;
border-bottom:1px solid #aaa
}

TD.label {
background:#f3f3f3;
vertical-align:middle;
text-align:right
}