<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>jun_webservlet_guice_dbutil</display-name>
	<filter>
		<filter-name>TransactionFilter</filter-name>
		<filter-class>com.jun.plugin.servlet.guice.core.web.filter.TransactionFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TransactionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.jun.plugin.servlet.guice.core.web.listener.GoogleGuiceServletContextListener
		</listener-class>
	</listener>


	<listener>
		<listener-class>com.jun.plugin.servlet.guice.GuiceServletConfig
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.jun.plugin.servlet.guice.user.action.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>