<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.GoodTypeMapper" >
  <resultMap id="BaseResultMap" type="model.GoodType" >
    <id column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="themeid" property="themeid" jdbcType="INTEGER" />
    <result column="typedesc" property="typedesc" jdbcType="VARCHAR" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    typeid, themeid, typedesc, typename
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goodtype
    where typeid = #{typeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goodtype
    where typeid = #{typeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.GoodType" >
    insert into goodtype (typeid, themeid, typedesc, 
      typename)
    values (#{typeid,jdbcType=INTEGER}, #{themeid,jdbcType=INTEGER}, #{typedesc,jdbcType=VARCHAR}, 
      #{typename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.GoodType" >
    insert into goodtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="themeid != null" >
        themeid,
      </if>
      <if test="typedesc != null" >
        typedesc,
      </if>
      <if test="typename != null" >
        typename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="themeid != null" >
        #{themeid,jdbcType=INTEGER},
      </if>
      <if test="typedesc != null" >
        #{typedesc,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.GoodType" >
    update goodtype
    <set >
      <if test="themeid != null" >
        themeid = #{themeid,jdbcType=INTEGER},
      </if>
      <if test="typedesc != null" >
        typedesc = #{typedesc,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where typeid = #{typeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.GoodType" >
    update goodtype
    set themeid = #{themeid,jdbcType=INTEGER},
      typedesc = #{typedesc,jdbcType=VARCHAR},
      typename = #{typename,jdbcType=VARCHAR}
    where typeid = #{typeid,jdbcType=INTEGER}
  </update>
</mapper>