<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StoreDescMapper" >
  <resultMap id="BaseResultMap" type="model.StoreDesc" >
    <id column="STOREDESCID" property="storedescid" jdbcType="INTEGER" />
    <result column="STOREDESC1" property="storedesc1" jdbcType="VARCHAR" />
    <result column="STOREDESC2" property="storedesc2" jdbcType="VARCHAR" />
    <result column="STOREDESC3" property="storedesc3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STOREDESCID, STOREDESC1, STOREDESC2, STOREDESC3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from storedesc
    where STOREDESCID = #{storedescid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from storedesc
    where STOREDESCID = #{storedescid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.StoreDesc" >
    insert into storedesc (STOREDESCID, STOREDESC1, STOREDESC2, 
      STOREDESC3)
    values (#{storedescid,jdbcType=INTEGER}, #{storedesc1,jdbcType=VARCHAR}, #{storedesc2,jdbcType=VARCHAR}, 
      #{storedesc3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.StoreDesc" >
    insert into storedesc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storedescid != null" >
        STOREDESCID,
      </if>
      <if test="storedesc1 != null" >
        STOREDESC1,
      </if>
      <if test="storedesc2 != null" >
        STOREDESC2,
      </if>
      <if test="storedesc3 != null" >
        STOREDESC3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storedescid != null" >
        #{storedescid,jdbcType=INTEGER},
      </if>
      <if test="storedesc1 != null" >
        #{storedesc1,jdbcType=VARCHAR},
      </if>
      <if test="storedesc2 != null" >
        #{storedesc2,jdbcType=VARCHAR},
      </if>
      <if test="storedesc3 != null" >
        #{storedesc3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.StoreDesc" >
    update storedesc
    <set >
      <if test="storedesc1 != null" >
        STOREDESC1 = #{storedesc1,jdbcType=VARCHAR},
      </if>
      <if test="storedesc2 != null" >
        STOREDESC2 = #{storedesc2,jdbcType=VARCHAR},
      </if>
      <if test="storedesc3 != null" >
        STOREDESC3 = #{storedesc3,jdbcType=VARCHAR},
      </if>
    </set>
    where STOREDESCID = #{storedescid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.StoreDesc" >
    update storedesc
    set STOREDESC1 = #{storedesc1,jdbcType=VARCHAR},
      STOREDESC2 = #{storedesc2,jdbcType=VARCHAR},
      STOREDESC3 = #{storedesc3,jdbcType=VARCHAR}
    where STOREDESCID = #{storedescid,jdbcType=INTEGER}
  </update>
</mapper>