<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StoreMapper" >
  <resultMap id="BaseResultMap" type="model.Store" >
    <id column="STOREID" property="storeid" jdbcType="INTEGER" />
    <result column="STORENAME" property="storename" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="INTEGER" />
    <result column="STORETYPEID" property="storetypeid" jdbcType="INTEGER" />
    <result column="STOREDESCID" property="storedescid" jdbcType="INTEGER" />
    <result column="STOREICON" property="storeicon" jdbcType="VARCHAR" />
    <result column="CREDENT" property="credent" jdbcType="INTEGER" />
    <result column="CREDIBILITY" property="credibility" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    STOREID, STORENAME, USERID, STORETYPEID, STOREDESCID, STOREICON, CREDENT, CREDIBILITY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store
    where STOREID = #{storeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store
    where STOREID = #{storeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.Store" >
    insert into store (STOREID, STORENAME, USERID, 
      STORETYPEID, STOREDESCID, STOREICON, 
      CREDENT, CREDIBILITY)
    values (#{storeid,jdbcType=INTEGER}, #{storename,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{storetypeid,jdbcType=INTEGER}, #{storedescid,jdbcType=INTEGER}, #{storeicon,jdbcType=VARCHAR}, 
      #{credent,jdbcType=INTEGER}, #{credibility,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="model.Store" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeid != null" >
        STOREID,
      </if>
      <if test="storename != null" >
        STORENAME,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="storetypeid != null" >
        STORETYPEID,
      </if>
      <if test="storedescid != null" >
        STOREDESCID,
      </if>
      <if test="storeicon != null" >
        STOREICON,
      </if>
      <if test="credent != null" >
        CREDENT,
      </if>
      <if test="credibility != null" >
        CREDIBILITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="storename != null" >
        #{storename,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="storetypeid != null" >
        #{storetypeid,jdbcType=INTEGER},
      </if>
      <if test="storedescid != null" >
        #{storedescid,jdbcType=INTEGER},
      </if>
      <if test="storeicon != null" >
        #{storeicon,jdbcType=VARCHAR},
      </if>
      <if test="credent != null" >
        #{credent,jdbcType=INTEGER},
      </if>
      <if test="credibility != null" >
        #{credibility,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.Store" >
    update store
    <set >
      <if test="storename != null" >
        STORENAME = #{storename,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        USERID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="storetypeid != null" >
        STORETYPEID = #{storetypeid,jdbcType=INTEGER},
      </if>
      <if test="storedescid != null" >
        STOREDESCID = #{storedescid,jdbcType=INTEGER},
      </if>
      <if test="storeicon != null" >
        STOREICON = #{storeicon,jdbcType=VARCHAR},
      </if>
      <if test="credent != null" >
        CREDENT = #{credent,jdbcType=INTEGER},
      </if>
      <if test="credibility != null" >
        CREDIBILITY = #{credibility,jdbcType=INTEGER},
      </if>
    </set>
    where STOREID = #{storeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Store" >
    update store
    set STORENAME = #{storename,jdbcType=VARCHAR},
      USERID = #{userid,jdbcType=INTEGER},
      STORETYPEID = #{storetypeid,jdbcType=INTEGER},
      STOREDESCID = #{storedescid,jdbcType=INTEGER},
      STOREICON = #{storeicon,jdbcType=VARCHAR},
      CREDENT = #{credent,jdbcType=INTEGER},
      CREDIBILITY = #{credibility,jdbcType=INTEGER}
    where STOREID = #{storeid,jdbcType=INTEGER}
  </update>
</mapper>