<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.SysAdminMapper" >
  <resultMap id="BaseResultMap" type="model.SysAdmin" >
    <id column="ADMINID" property="adminid" jdbcType="INTEGER" />
    <result column="ROLEID" property="roleid" jdbcType="INTEGER" />
    <result column="ADMINNAME" property="adminname" jdbcType="VARCHAR" />
    <result column="ADMINPWD" property="adminpwd" jdbcType="VARCHAR" />
    <result column="ADMINTRUENAME" property="admintruename" jdbcType="VARCHAR" />
    <result column="ADMINSTATE" property="adminstate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ADMINID, ROLEID, ADMINNAME, ADMINPWD, ADMINTRUENAME, ADMINSTATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sysadmin
    where ADMINID = #{adminid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysadmin
    where ADMINID = #{adminid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.SysAdmin" >
    insert into sysadmin (ADMINID, ROLEID, ADMINNAME, 
      ADMINPWD, ADMINTRUENAME, ADMINSTATE
      )
    values (#{adminid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, 
      #{adminpwd,jdbcType=VARCHAR}, #{admintruename,jdbcType=VARCHAR}, #{adminstate,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.SysAdmin" >
    insert into sysadmin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        ADMINID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="adminname != null" >
        ADMINNAME,
      </if>
      <if test="adminpwd != null" >
        ADMINPWD,
      </if>
      <if test="admintruename != null" >
        ADMINTRUENAME,
      </if>
      <if test="adminstate != null" >
        ADMINSTATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null" >
        #{adminpwd,jdbcType=VARCHAR},
      </if>
      <if test="admintruename != null" >
        #{admintruename,jdbcType=VARCHAR},
      </if>
      <if test="adminstate != null" >
        #{adminstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.SysAdmin" >
    update sysadmin
    <set >
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        ADMINNAME = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null" >
        ADMINPWD = #{adminpwd,jdbcType=VARCHAR},
      </if>
      <if test="admintruename != null" >
        ADMINTRUENAME = #{admintruename,jdbcType=VARCHAR},
      </if>
      <if test="adminstate != null" >
        ADMINSTATE = #{adminstate,jdbcType=INTEGER},
      </if>
    </set>
    where ADMINID = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.SysAdmin" >
    update sysadmin
    set ROLEID = #{roleid,jdbcType=INTEGER},
      ADMINNAME = #{adminname,jdbcType=VARCHAR},
      ADMINPWD = #{adminpwd,jdbcType=VARCHAR},
      ADMINTRUENAME = #{admintruename,jdbcType=VARCHAR},
      ADMINSTATE = #{adminstate,jdbcType=INTEGER}
    where ADMINID = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>