<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<!-- 加载属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:mina.properties" />	
	
	<!--  -->
	<bean id="tcpAcceptor" class="com.myschool.mima.server.ServerAcceptor" init-method="bind" destroy-method="unbind">
        <property name="heartbeat" value="${tcp.heartbeat}" />				<!-- 心跳时间 -->
		<property name="idleTime" value="${tcp.idleTime}" />				<!-- 超时时间 -->
		<property name="readBufferSize" value="${tcp.readBufferSize}" />	<!-- 设置读取数据的缓冲区大小  -->
		<property name="tcpNoDelay" value="${tcp.tcpNoDelay}" />			<!-- true : 把小数据包拼接起来填充每个报文 -->
		<property name="sendBufferSize" value="${tcp.sendBufferSize}"/>		<!-- 设置发送数据的缓冲区大小 -->
		<property name="address">											<!-- 绑定的端口和地址 -->
            <list>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg index="0" type="java.lang.String" value="${tcp.host1}" />  <!-- 这里可以只注入端口，这样绑定当前的机器 -->
                    <constructor-arg index="1" type="int" value="${tcp.port1}" />  
                </bean>
            </list>
        </property>
	</bean>
</beans>