@import url("../../libs/layui/css/layui.css");
@import url("../icon/bootstrap-icons.css");
/* @import url("./layout.css"); */

/*reset layui*/
.layui-card{margin-bottom:12px; box-shadow: 0 1px 3px 0 rgb(5 32 96 / 10%);}
.layui-card-header {position: relative; padding:0 12px;}
.layui-card-header .layui-icon,.layui-card-header .pull-right{line-height: initial; position: absolute;right: 12px;top: 50%; margin-top: -9px}
.layui-card-title {font-size: 18px;font-weight: 600;padding: 12px 12px 0;}
.layui-table, .layui-table-view{margin:0; background-color:#fff;}
.layui-table td, .layui-table th{padding:8px;}
.layui-table-cell{padding:6px;}
.layui-table-box{background-color:#fff;}
.layui-table-page{background-color:#fff;border-bottom:1px solid #f1f1f1;}
.layui-table-tool{box-shadow: 0 0 0 rgb(0 0 0 / 1%);}
.layui-btn{background-color: #47B347;}
.layui-btn-normal{background-color: #3c9cff;}
.layui-btn-warm{background-color: #ff9900;}
.layui-btn-danger{background-color: #FF5722;}
.layui-btn-primary{background-color: #f5f5fa;}
.layui-btn-primary:hover{border-color:#3c9cff;color:#3c9cff}
.layui-btn-group .layui-btn-primary:hover{color:#3c9cff}
.layui-btn-reset {height: 38px;background-color: #fff; line-height: 38px; border: 1px solid transparent;padding: 0 12px; white-space: nowrap; color: #767a82;font-size: 14px;cursor: pointer;vertical-align: middle;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color: #47B347;}

.layui-tab-brief>.layui-tab-title .layui-this{color:#187FDD}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{border-color:#187FDD}
.layui-form-radio{padding-right:4px;}
.layui-form-radio>i{margin-right:4px;}
.layui-form-label{padding:9px; color:#909399}
.layui-form-label font{color:#FF6347; margin-right: 2px;}
.layui-input-block{margin-left:100px;}
.layui-form-2 .layui-form-label{width:112px;}
.layui-form-2 .layui-input-block{margin-left:130px;}

.layui-table-form tbody tr:hover{background-color: #fff;}
.layui-td-gray,.layui-td-gray-2,.layui-td-gray-3,.layui-td-gray-4{color:#909399; width:68px; text-align:right; background-color:#f7f7f7;}
.layui-td-gray-2{width:96px;}
.layui-td-gray-3{width:126px;}
.layui-td-gray-4{width:152px;}
.layui-td-gray font,.layui-td-gray-2 font,.layui-td-gray-3 font,.layui-td-gray-4 font{color:#FF6347; margin-left: 2px;}

.layui-select-tags{padding:10px 0;}
.layui-tags-span{padding:5px 8px; font-size:14px; border-radius:3px; margin-bottom:6px; margin-right:6px; border:1px solid #e6e6e6; display:inline-block;cursor:pointer;}
.layui-readonly{background-color: #f5f5f5; color:#999;}
.layui-tags-span:hover{border:1px solid #ddd; background-color:#f2f2f2;}
.layui-tags-span i{margin-left:5px; font-size:14px;}
.layui-tags-span i:hover{border-radius:2px;background-color:#FF6347;color:#fff}
.layui-letter-span{padding:10px 5px; font-size:15px; display:inline-block; cursor:pointer;}
.layui-letter-span.on{color:#FF6347; font-weight:800;}
.layui-letter-span:hover{color:#4285f4;}
.layui-tags-all{float: right; font-weight: 200; background-color:#4285f4; color:#fff; border-radius: 3px; padding: 2px 6px; cursor: pointer; display: none;}

.layui-data-none{padding:12px 0; color:#969696; text-align:center; font-size:12px;}
.gougu-data-none{background:url(../images/data-none.png) no-repeat center center; background-size:auto 80%;}

html {background-color: #FAFAFA; color: #162a48}
html,body{height:100%;}
body.right-open{overflow:hidden;}
.bg-white{background-color:#fff;}
a.tab-a,a.open-a,a.link-a,a.right-a,a.side-a{color:#187FDD; cursor:pointer;}
a.tab-a:hover,a:hover,a.open-a:hover,a.link-a:hover,a.right-a:hover{color:#187FDD; opacity:0.8}
.left{float:left;}
.right{float:right;}
.h1,h1{font-size:24px; font-weight: 600;}
.h2,h2{font-size:20px; font-weight: 600;}
.h3,h3{font-size:18px; font-weight: 600;}
.h4,h4{font-size:16px; font-weight: 600;}

.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f28{font-size:28px;}
.f32{font-size:32px;}
.f36{font-size:36px;}

.m-0{margin:0}
.m-1{margin:4px}
.m-2{margin:8px}
.m-3{margin:12px}
.m-4{margin:16px}
.m-5{margin:20px}
.my-1{margin-top:4px;margin-bottom:4px}
.my-2{margin-top:8px;margin-bottom:8px}
.my-3{margin-top:12px;margin-bottom:12px}
.my-4{margin-top:16px;margin-bottom:16px}
.my-5{margin-top:20px;margin-bottom:20px}
.mx-1{margin-left:4px;margin-right:4px}
.mx-2{margin-left:8px;margin-right:8px}
.mx-3{margin-left:12px;margin-right:12px}
.mx-4{margin-left:16px;margin-right:16px}
.mx-5{margin-left:20px;margin-right:20px}
.ml-1{margin-left:4px}
.ml-2{margin-left:8px}
.ml-3{margin-left:12px}
.ml-4{margin-left:16px}
.ml-5{margin-left:20px}
.mt-1{margin-top:4px}
.mt-2{margin-top:8px}
.mt-3{margin-top:12px}
.mt-4{margin-top:16px}
.mt-5{margin-top:20px}
.mr-1{margin-right:4px}
.mr-2{margin-right:8px}
.mr-3{margin-right:12px}
.mr-4{margin-right:16px}
.mr-5{margin-right:20px}
.mb-1{margin-bottom:4px}
.mb-2{margin-bottom:8px}
.mb-3{margin-bottom:12px}
.mb-4{margin-bottom:16px}
.mb-5{margin-bottom:20px}

.p-0{padding:0}
.p-1{padding:4px}
.p-2{padding:8px}
.p-3{padding:12px}
.p-4{padding:16px}
.p-5{padding:20px}
.py-1{padding-top:4px;padding-bottom:4px}
.py-2{padding-top:8px;padding-bottom:8px}
.py-3{padding-top:12px;padding-bottom:12px}
.py-4{padding-top:16px;padding-bottom:16px}
.py-5{padding-top:20px;padding-bottom:20px}
.px-1{padding-left:4px;padding-right:4px}
.px-2{padding-left:8px;padding-right:8px}
.px-3{padding-left:12px;padding-right:12px}
.px-4{padding-left:16px;padding-right:16px}
.px-5{padding-left:20px;padding-right:20px}
.pl-1{padding-left:4px}
.pl-2{padding-left:8px}
.pl-3{padding-left:12px}
.pl-4{padding-left:16px}
.pt-1{padding-top:4px}
.pt-2{padding-top:8px}
.pt-3{padding-top:12px}
.pt-4{padding-top:16px}
.pt-5{padding-top:20px}
.pr-1{padding-right:4px}
.pr-2{padding-right:8px}
.pr-3{padding-right:12px}
.pr-4{padding-right:16px}
.pr-5{padding-right:20px}
.pb-1{padding-bottom:4px}
.pb-2{padding-bottom:8px}
.pb-3{padding-bottom:12px}
.pb-4{padding-bottom:16px}
.pb-5{padding-bottom:20px}

.border{border:1px solid #eee; box-sizing:border-box}
.border-y{border-top:1px solid #eee;border-bottom:1px solid #eee; box-sizing:border-box}
.border-x{border-left:1px solid #eee;border-right:1px solid #eee; box-sizing:border-box}
.border-t{border-top:1px solid #eee; box-sizing:border-box}
.border-b{border-bottom:1px solid #eee; box-sizing:border-box}
.border-l{border-left:1px solid #eee; box-sizing:border-box}
.border-r{border-right:1px solid #eee; box-sizing:border-box}

.layui-bg-0{background-color:#648A8D !important;}/*灰青*/
.layui-bg-1,.layui-bg-green{background-color:#47B347 !important;}/*亮绿*/
.layui-bg-2{background-color:#187FDD !important;}/*亮蓝*/
.layui-bg-3{background-color:#FEC939 !important;}/*亮黄*/
.layui-bg-4{background-color:#FD6206 !important;}/*亮橙*/
.layui-bg-5{background-color:#FF5823 !important;}/*亮红*/
.layui-bg-6{background-color:#4AC8BE !important;}/*亮青*/
.layui-bg-7{background-color:#7860C0 !important;}/*亮紫*/
.layui-bg-8{background-color:#646464 !important;}/*黑*/
.layui-bg-9{background-color:#969696 !important;}/*灰黑*/

.layui-color-0{color:#648A8D !important;}/*灰青*/
.layui-color-1{color:#47B347 !important;}/*亮绿*/
.layui-color-2{color:#187FDD !important;}/*亮蓝*/
.layui-color-3{color:#FEC939 !important;}/*亮黄*/
.layui-color-4{color:#FD6206 !important;}/*亮橙*/
.layui-color-5{color:#FF5823 !important;}/*亮红*/
.layui-color-6{color:#4AC8BE !important;}/*亮青*/
.layui-color-7{color:#7860C0 !important;}/*亮紫*/
.layui-color-8{color:#646464 !important;}/*黑*/
.layui-color-9{color:#969696 !important;}/*灰黑*/

.black{color:#182b50}

.blue{color:#187FDD}
.blue-dark{color:#3c9cff;}
.blue-disabled{color:#9acafc;}
.blue-light{color:#ecf5ff;}

.yellow{color:#f9ae3d;}
.yellow-dark{color:#f1a532;}
.yellow-disabled{color:#f9d39b;}
.yellow-light{color:#fdf6ec;}

.green{color:#47B347;}
.green-dark{color:#53c21d;}
.green-disabled{color:#a9e08f;}
.green-light{color:#f5fff0;}

.red{color:#f56c6c;}
.red-dark{color:#e45656;}
.red-disabled{color:#f7b2b2;}
.red-light{color:#fef0f0;}

.gray{color:#969696;}
.gray-dark{color:#767676;}
.gray-disabled{color:#c6c6c6;}
.gray-light{color:#f1f1f1;}

/* 滚动条 */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.15);background-clip:content-box;border:1px solid transparent;border-radius:8px
}

::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.04)}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);border:1px solid transparent}
::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.65)}

::-moz-scrollbar {
	width: 8px;
	background-color: transparent;
}
::-moz-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 8px;
}
body.right-open{overflow-y:clip;}
div.layui-table-main::-webkit-scrollbar{width:12px;height:12px}
div.layui-table-main::-webkit-scrollbar-thumb{min-width:12px;min-height:12px;background-color:rgba(0,0,0,.15);background-clip:content-box;border:2px solid transparent;border-radius:12px}
div.layui-table-main::-webkit-scrollbar-track{background-color:transparent}
div.layui-table-main::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.04)}
div.layui-table-main::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);border:2px solid transparent}
div.layui-table-main::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.65)}
/*placeholder*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color: #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#aaa;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#aaa;
}
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#aaa;
 }
 /*text ellipsis*/
.text-overflow1{ overflow: hidden; text-overflow: ellipsis; word-break: break-all; display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.text-overflow2{ overflow: hidden; text-overflow: ellipsis; word-break: break-all; display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.text-overflow3{ overflow: hidden; text-overflow: ellipsis; word-break: break-all; display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

/*gg-DIY*/
.gg-form-bar{padding:12px; background-color:#fff;}
.gg-tab-bar{background-color:#fff;}
.gg-tab{text-align: left!important;}
.gg-tab-title{position: relative;left: 0; height: 40px; white-space: nowrap; font-size: 0;}
.gg-tab-title li{display: inline-block;*display: inline;*zoom: 1;vertical-align: middle; font-size: 16px; position: relative;line-height: 40px; min-width: 64px; padding: 0 12px;text-align: center;cursor: pointer;}
.gg-tab-title li:hover,.gougu-tab li.tab-this{ color:#187FDD;}
.gg-tab-title li.tab-this:after{border-bottom: 2px solid #187FDD;position: absolute;left: 0; top: 0;  content: ""; width: 100%; height: 41px; box-sizing: border-box;pointer-events: none;}
.gg-tab-title.big{height: 46px;}
.gg-tab-title.big li{line-height: 46px;}
.gg-tab-title.big li{line-height: 46px;}
.gg-tab-title.big li.tab-this:after{height: 47px;}
.gg-img-center{display: table-cell;vertical-align: middle;}
.gg-img-center img{max-width: 100%; max-height: 100%; display: block; margin: auto;}
.gg-img-radius img{border-radius:4px;max-width: 100%; max-height: 100%;}
.gg-img-round img{border-radius:50%;max-width: 100%; max-height: 100%;}
.gg-img-cover { width: 100%; position: relative; padding-top: 0; border-radius: 3px; overflow: hidden; background-color: #f0f0f0;}
.gg-img-cover img { width: 100%;height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; border-radius: 2px; max-width: 100%;}
.gg-img-cover.cover-2-1 { padding-top: 50%;}
.gg-img-cover.cover-4-3 { padding-top: 75%;}
.gg-img-cover.cover-16-9 { padding-top: 56.25%;}

.sub-menu { overflow: hidden; position: absolute; height: 100%;top: 0;left: 0;}
.sub-menu ul{padding:0; line-height:2.7}
.sub-menu li.sub-menu-title{margin-top:10px;}
.sub-menu li.sub-menu-title i{font-size:18px; font-weight:800}
.sub-menu li.sub-menu-title span{padding-left:8px; font-size:15px;}
.sub-menu li.sub-menu-title cite{font-size:12px; margin-left:4px; color:#999}
.sub-menu li.sub-menu-title.active a{color:#4285F4;}
.sub-menu li.sub-menu-li a{padding-left:12px; font-size:14px; display:inline-block; width:100%; box-sizing:border-box;}
.sub-menu li.sub-menu-li a .iconfont{margin-right:8px; font-weight:600}
.sub-menu li.sub-menu-li.active a{color:#4285F4; background-color:#F2F8FF}
.sub-menu li.sub-menu-li span.num{margin-left:4px}

.file-card {background: #fff;border: 1px solid #f1f1f1;border-radius: 2px; padding:0; margin:4px 6px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.file-card .file-icon{font-size:36px; color:#646464; margin-right: 4px;}
.file-card .file-title {font-size: 12px; letter-spacing: 0; margin-right: 8px; line-height: 16px; word-break: break-all; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;width: calc(100% - 108px);}
.file-card .file-title-view{width: calc(100% - 80px);}
.file-card .file-tool .iconfont{font-size:18px; font-weight:600; padding:3px; cursor:pointer;}

.editormd,.editormd-toolbar,.editormd .CodeMirror,.CodeMirror-gutters{border-color:#eeeeee!important;}
.editormd{margin-bottom:0!important;}
.CodeMirror-gutters{background-color:#fafafa!important;}

.layui-layer-gougu-admin {box-shadow: 1px 1px 10px rgba(0,0,0,.1); border-radius: 0!important;overflow:initial!important;}
.express-box { position: fixed; z-index:9999; height:100%; right: -100%; top:0;background-color: #fff;}
.express-box article{width:100%; height:100%; overflow:auto;}
.express-mask{ display: none; position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background-color: rgba(0,0,0,.6); }
.express-close{position: absolute;width:24px;height:60px; padding:20px 6px; line-height:30px;text-align:center; left: -38px;right:0; top: 16%;background-color:#FF5722;color:#fff;border-radius:6px 0 0 6px; cursor:pointer; border:2px solid #fff; border-right:none; font-weight:600; font-size:14px;}
.express-close:hover{opacity:0.9}