<form class="layui-form model-form" id="formPsw">
    <div class="layui-form-item">
        <label class="layui-form-label">原始密码:</label>
        <div class="layui-input-block">
            <input type="password" name="oldPsw" placeholder="请输入原始密码" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码:</label>
        <div class="layui-input-block">
            <input type="password" name="newPsw" placeholder="请输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|psw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码:</label>
        <div class="layui-input-block">
            <input type="password" name="rePsw" placeholder="请再次输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|repsw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="submitPsw" lay-submit>保存</button>
        </div>
    </div>
</form>
<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        // 监听修改密码表单提交
        form.on('submit(submitPsw)', function (d) {
            layer.load(2);
            admin.req('user/psw', d.field, function (res) {
                if (res.code == 200) {
                    layer.closeAll('loading');
                    layer.closeAll('page');
                    layer.msg(res.msg, {icon: 1, time: 1500}, function () {
                        // location.replace('login.html');
                    });
                } else {
                    layer.closeAll('loading');
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'PUT');
            return false;
        });

        // 添加表单验证方法
        form.verify({
            psw: [/^[\S]{5,12}$/, '密码必须5到12位，且不能出现空格'],
            repsw: function (t) {
                if (t !== $('#formPsw input[name=newPsw]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>