<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="Oracle Data Provider" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="MsSql" connectionString="Data Source=192.168.100.169\MJ;password=123456;Initial Catalog=QTP0414;User ID=sa" />
    <add name="MySql" connectionString="Server=192.168.100.169;Database=clientcenter;User=root; Password=root;" />
    <add name="Oracle" connectionString="Data Source=192.168.100.20:1522/ORCL;Persist Security Info=True;User ID=CEMS_CRM;Password=123456;Unicode=True" />
    <add name="OracleManaged" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.100.20)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=ORCL)));Persist Security Info=True;User ID=CEMS_CRM;Password=123456;" />
    <add name="Sqlite" connectionString="Data Source=D:\sqlite\mydb.db" />
    <add name="Oledb" connectionString="Provider=SQLOLEDB;Data Source=192.168.100.169\MJ;password=123456;Initial Catalog=QTP0414;User ID=sa" />
  </connectionStrings>
</configuration>