<div class="dfinput">
    <p><input type="text" name="dropdown_tree_input" readonly="readonly"/>
    <a name="dropdown_tree_search" class="operation-a"></a>
</div>

<div name="dropdown_tree_popup" class="tree-border hide" style="max-height:300px;overflow:auto;">            
    <div name="dropdown_tree"></div>  
</div>