<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 静态资源处理 -->
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven conversion-service="formattingFactoryBean" validator="validator">
		 <mvc:message-converters>
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	            <property name="supportedMediaTypes">
	                <list>
	                    <value>application/json;charset=UTF-8</value>
	                    <value>text/html;charset=UTF-8</value>
	                    <value>text/plain;charset=UTF-8</value>
	                </list>
	            </property>
	            <property name="writeAcceptCharset" value="false" />
	        </bean>
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	        	<property name="objectMapper">
	            	<bean class="com.fasterxml.jackson.databind.ObjectMapper">
	            		<property name="dateFormat">
	            			<bean class="java.text.SimpleDateFormat">
	            				<constructor-arg value="yyyy年MM月dd日"></constructor-arg>
	            			</bean>
	            		</property>
	            	</bean>
	            </property>
	        </bean>
	    </mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 自动扫描组件 -->
	<context:component-scan base-package="spring_mvc"></context:component-scan>
	
	<!-- 拦截器Bean -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale">
			<bean class="java.util.Locale">
				<constructor-arg value="zh" index="0"></constructor-arg>
				<constructor-arg value="CN" index="1"></constructor-arg>
			</bean>
		</property>
	</bean>
	<!-- 配置国际化拦截器 -->
	<mvc:interceptors>
	    <!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 --> 
	    <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	    	<property name="paramName" value="lang" />
	    </bean> 
	    <mvc:interceptor>
	    	<mvc:mapping path="/interceptor/**"/>
	    	<bean class="spring_mvc.interceptor.HanderInterceptor2"></bean> 
	    </mvc:interceptor>
	    <mvc:interceptor>
	    	<mvc:mapping path="/interceptor/**"/>
	    	<bean class="spring_mvc.interceptor.HanderInterceptor1"></bean> 
	    </mvc:interceptor>
	
		<!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang"></property>
		</bean>
	</mvc:interceptors>
	
	<!-- <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="spring_mvc.conversion.UserConversionService"></bean>
				<bean class="spring_mvc.conversion.DateConversionService"></bean>
				<bean class="spring_mvc.conversion.BooleanConversionService"></bean>
			</set>
		</property>
	</bean> -->
	<bean id="formattingFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		
		<property name="formatters">
			<set>
				<bean class="spring_mvc.formatting.dateFormatter" />
    			<bean class="spring_mvc.formatting.userFormatter" />
			</set>
		</property>
	</bean>
	<!-- 输入校验 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass"  value="org.hibernate.validator.HibernateValidator"/>
        <!--不设置则默认为classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="messageSource"></property>
    </bean>
	<!-- 配置国际化资源文件 -->
	<!-- 国际化 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    	<property name="defaultEncoding" value="utf-8" />
    	<property name="basenames">
    		<list>
    			<value>classpath:i18n</value>
    			<value>classpath:validationMessage</value>
    		</list>
    	</property>
    </bean>
    
    
	<!-- 视图 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="contentType" value="text/html;charset=UTF-8"></property>
	</bean>
	<!-- 上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="resolveLazily" value="true" />
    	<property name="maxUploadSize" value="20971520" />
    	<property name="defaultEncoding" value="utf-8" />
    </bean>
</beans>
