<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="log.path" value="./spring-lhbauth-jwt/log/spring-lhbauth-jwt.log"/>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{72} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件 输出的文件名的格式 以及归档的分隔方式 -->
            <!--<fileNamePattern>./logs/spring-myauth-demo.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>-->
            <fileNamePattern>./spring-lhbauth-jwt/logs/spring-lhbauth-jwt.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <maxHistory>1</maxHistory>
            <!--当文件大于20KB时，删除旧日志-->
            <totalSizeCap>1GB</totalSizeCap>
            <!--文件达到最大5KB时会切割 -->
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>


        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{108} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>