<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunhe.dao.IUserDao">

	<sql id="usercol">id as id,name as userName,password as passWord,age as age
	</sql>

	<select id="selectByPrimaryKey" resultType="cn.yunhe.model.User">
		select
		<include refid="usercol" />
		from t_user where id=#{id}
	</select>

	<select id="selectAll" resultType="cn.yunhe.model.User">
		select
		<include refid="usercol" />
		from t_user order by id desc
	</select>

	<select id="selectByNameAndPass" parameterType="cn.yunhe.model.User"
		resultType="java.lang.Integer">
		select
		<include refid="usercol" />
		from t_user where name = #{userName} and password = #{passWord}
	</select>


	<select id="getUser" parameterType="cn.yunhe.model.User"
		resultType="cn.yunhe.model.User">
		select
		<include refid="usercol" />
		from t_user where id = #{id}
	</select>


	<update id="editUser" parameterType="cn.yunhe.model.User">
		update t_user set name = #{userName}, age = #{age} where id = #{id}
	</update>
	
	<insert id="addUser" parameterType="cn.yunhe.model.User">
		insert into t_user(name,age) values(#{userName},#{age})
	</insert>
	
	<!-- 查询 -->
	<select id="getLikeUsers" parameterType="map"
		resultType="map">
		select <include refid="usercol" /> from t_user where name like concat('%',#{user.userName},'%') order by id desc 
	</select>
	<select id="getLikeUsersCount" parameterType="map"
		resultType="int">
		select count(*) from t_user where name like concat('%',#{user.userName},'%')
	</select>
	
	
	<delete id="delUser" parameterType="cn.yunhe.model.User">
		delete from t_user where id = #{id}
	</delete>


</mapper>  
  