<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mate.encrypt.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="mybatis.mate.encrypt.entity.vo.UserDto">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="md5" property="md5" jdbcType="VARCHAR"/>
        <result column="rsa" property="rsa" jdbcType="VARCHAR"/>
        <collection property="userInfos" javaType="java.util.ArrayList" ofType="mybatis.mate.encrypt.entity.UserInfo"
                    select="selectUserInfoList" column="{userId=id}"/>
    </resultMap>

    <update id="insertBatchTest" parameterType="mybatis.mate.encrypt.entity.User">
        INSERT INTO user (id,username,password,email) VALUES
        <foreach collection="userList" item="item" separator=",">
            (#{item.id},#{item.username},#{item.password},#{item.email})
        </foreach>
    </update>

    <update id="updateBatchUserById" parameterType="mybatis.mate.encrypt.entity.User">
        <foreach collection="userList" item="item">
            UPDATE user SET password=#{item.password},email=#{item.email} WHERE id=#{item.id};
        </foreach>
    </update>

    <select id="selectUserDtoList" resultMap="BaseResultMap">
        SELECT * FROM user
    </select>

    <select id="selectUserDto" resultMap="BaseResultMap">
        SELECT * FROM user WHERE id=#{id}
    </select>

    <select id="selectUserInfoList" resultType="mybatis.mate.encrypt.entity.UserInfo">
        SELECT * FROM user_info WHERE user_id=#{userId}
    </select>
</mapper>
