<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osmp.web.role.dao.RoleMapper">
	<resultMap type="com.osmp.web.role.entity.Role" id="Role">
		<id property="id" column="id"/>
		<result property="name" column="role_name"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<select id="getById" parameterType="String" resultMap="Role">
		 SELECT * FROM tb_role T where ID=#{id}
	</select>
	
	<select id="getUserRole" parameterType="String" resultMap="Role">
		SELECT tr.*
		from tb_user_role tur,
			tb_role tr 
		where tr.id = tur.role_id
			and tur.user_id = #{id}
	</select>
	
</mapper>