<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osmp.web.role.dao.RolePrivilegeMapper">
	<resultMap type="com.osmp.web.role.entity.RolePrivilege" id="RolePrivilege">
		<id property="id" column="id"/>
		<result property="roleId" column="role_id"/>
		<result property="privilegeId" column="privilege_id"/>
	</resultMap>
	
	<delete id="deletByRoleId" parameterType="String">
		 delete from tb_role_privilege where role_id=#{roleId}
	</delete>
	
</mapper>