<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkingcao.silence.ssm.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="bornDate" column="born_date"/>
        <result property="headImg" column="head_img"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
     SELECT id,name,age,born_date,head_img FROM t_user
    </select>

    <select id="selectById" resultMap="BaseResultMap">
     SELECT id,name,age,born_date,head_img FROM t_user WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO t_user(name,age,born_date,head_img)
     VALUES(#{name},#{age},#{bornDate},#{headImg})
    </insert>

    <update id="updateById">
     UPDATE t_user SET name = #{name},age = #{age},born_date=#{bornDate},
     head_img = #{headImg} WHERE id = #{id}
    </update>

    <delete id="deleteById">
     DELETE FROM t_user WHERE id = #{id}
    </delete>
</mapper>