<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.project.mapper.SysConfigMapper">

	<resultMap type="SysConfig" id="SysConfigResult">
		<id     property="configId"     column="config_id"     />
		<result property="author"   column="author"   />
		<result property="packageName"   column="package_name"   />
		<result property="autoRemovePre"     column="auto_remove_pre"      />
		<result property="tablePrefix"   column="table_prefix"   />
	</resultMap>
	
	<sql id="selectSysConfigVo">
        select config_id, author, package_name, auto_remove_pre, table_prefix
		from sys_config
    </sql>

	<select id="selectSysConfig" resultMap="SysConfigResult">
	    <include refid="selectSysConfigVo"/>
	</select>
	
	<update id="updateSysConfig" parameterType="SysConfig">
        update sys_config
        <set>
            <if test="author != null">author = #{author},</if>
            <if test="packageName != null and packageName != ''">package_name = #{packageName},</if>
            <if test="autoRemovePre != null and autoRemovePre != ''">auto_remove_pre = #{autoRemovePre},</if>
            <if test="tablePrefix != null and tablePrefix != ''">table_prefix = #{tablePrefix},</if>
        </set>
        where config_id = #{configId}
    </update>
</mapper> 