<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osmp.web.user.dao.SysPrivilegeMapper">
	<resultMap type="com.osmp.web.user.entity.SysPrivilege" id="SysPrivilege">
		<id property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="uri" column="URI"/>
		<result property="icon" column="ICON"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="ord" column="ORD"/>
		<result property="pid" column="PID"/>
		<result property="prstate" column="PRSTATE"/>
		<result property="type" column="TYPE"/>
	</resultMap>
	
	<select id="getAllSysPrivilege" resultMap="SysPrivilege">
		SELECT * FROM t_sys_privilege T ORDER BY T.ORD
	</select>
	
	<select id="getListByPid" parameterType="String" resultMap="SysPrivilege">
		SELECT * FROM t_sys_privilege T WHERE T.PID=#{pid} ORDER BY T.ORD
	</select>
	
	<select id="getById" parameterType="String" resultMap="SysPrivilege">
		 SELECT * FROM t_sys_privilege T where ID=#{id}
	</select>
	
</mapper>