<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body style="text-align: center;margin-top: 168px;">
	<h1>Kisso - SpringBoot</h1>
	<div class="table_box">
		<p>$!{userId} 欢迎来到 SpringBoot-SSO 极速开发世界！</p>
		<br>
		<a href="/logout.html">退出登录</a>
	</div>
</body>
</html>