<div class="popup-image">
<table>
<tr><td colspan="3" align="center"><h4 data-i18n="message.upload_image_desc"></h4></td></tr>
<tr>
<td><img src="../img/reduce.png" id="reduceBtn" class="cursor-hand"/></td>
<td id="slider_td"><div id="slider"></div></td>
<td align="right"><img src="../img/increase.png" id="increaseBtn" class="cursor-hand"/></td>
</tr>
<tr><td colspan="3" align="center"><img src="<%=originalSrc%>" id="srcPhoto"></td></tr>
<tr><td colspan="3" align="center"><button id="confirmImgBtn" type="button" class="btn btn-blue btn-save" data-i18n="button.ok"></button></td></tr>
</table>
</div>
      

