.svn/
svn/
target/
.classpath/
.settings/
node_modules/
*.class
*.iml
*.project
*.classpath
*.bpmn2d
*.DS_Store
build/
*.gradle
.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*