<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"  
        destroy-method="close">  
        <!-- 数据库驱动 -->  
        <property name="driverClass" value="${aliLibrary.db.driverClass}" />  
        <!-- 相应驱动的jdbcUrl,你懂的 -->  
        <property name="jdbcUrl" value="${aliLibrary.db.jdbcUrl}" />  
        <!-- 数据库的用户名 -->  
        <property name="username" value="${aliLibrary.db.username}" />  
        <!-- 数据库的密码 -->  
        <property name="password" value="${aliLibrary.db.password}" />  
        <!-- 检查数据库连接池中空闲连接的间隔时间，单位是分，默认值：240，如果要取消则设置为0 -->  
        <property name="idleConnectionTestPeriod" value="${aliLibrary.db.idleConnectionTestPeriod}" />  
        <!-- 连接池中未使用的链接最大存活时间，单位是分，默认值：60，如果要永远存活设置为0 -->  
        <property name="idleMaxAge" value="${aliLibrary.db.idleMaxAge}" />  
        <!-- 每个分区最大的连接数 -->  
        <property name="maxConnectionsPerPartition" value="${aliLibrary.db.maxConnectionsPerPartition}" />  
        <!-- 每个分区最小的连接数 -->  
        <property name="minConnectionsPerPartition" value="${aliLibrary.db.minConnectionsPerPartition}" />  
        <!-- 分区数 ，默认值2，最小1，推荐3-4，视应用而定-->  
        <property name="partitionCount" value="${aliLibrary.db.partitionCount}" />  
        <!-- 每次去拿数据库连接的时候一次性要拿几个,默认值：2 -->  
        <property name="acquireIncrement" value="${aliLibrary.db.acquireIncrement}" />  
        <!-- 缓存prepared statements的大小，默认值：0 -->  
        <property name="statementsCacheSize" value="${aliLibrary.db.statementsCacheSize}" />  
        <!-- 每个分区释放链接助理进程的数量，默认值：3，除非你的一个数据库连接的时间内做了很多工作，不然过多的助理进程会影响你的性能 -->  
        <property name="releaseHelperThreads" value="${aliLibrary.db.releaseHelperThreads}" />  
    </bean>  