<div class="success" id="error_modal">
    <div class="success-body">
        <i class="icon-success">
        </i>
        <span data-i18n="message.error"></span>      
    </div>
    <p class="success-msg">
        <%=message%>  
    </p>
</div>