<div id="popup" class="tip" cover=false>
	 <div class="tiptop"> 
     	<span>modal title</span> 
     <a class="close-button"></a> 
 	</div> 
 	<div id="modal_content" class="formbody"> 
 	</div>
</div>