<?xml version="1.0" encoding="UTF-8"?>
<configuration >
	<property name="AppName" value="springrain" />
	<!-- 控制台日志 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>${AppName} %d %-5p [%thread] %c:%L - %m%n</pattern>
		</encoder>
	</appender>
	<!-- 错误日志 -->
	<appender name="errorFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home}/logs/error/${AppName}</File>
		<encoder>
			<pattern>%d [%thread] %c:%L-%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/error/${AppName}_%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<!-- 日志过滤器 -->
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>DEBUG</level> 
			<onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> </filter> -->
	</appender>
	<!-- 数据库访问较慢的语句 -->
	<appender name="sqlFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home}/logs/sql/${AppName}</File>
		<encoder>
			<pattern>%d [%thread] %c:%L-%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/sql/${AppName}_%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
	</appender>
	<logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="false">
		<appender-ref ref="sqlFile" />
	</logger>
	
	<logger name="org" level="INFO" additivity="false"  />
	
	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="errorFile" />
	</root>
</configuration>