<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1000 seconds">
	<timestamp key="date" datePattern="yyyyMMdd" />
	<!-- Output to Console -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- Output to File -->
	<appender name="File"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>d://home/logs/kisso_springmvc.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				d://home/logs/kisso_springmvc.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!-- keep 1 days worth of history -->
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</root>
	<logger name="org.springframework" level="info" />
</configuration>