<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>忘记密码</title>
    <style>
        .container {
            text-align: center;
            margin: 0 auto;
        }
        .title {
            text-align: center;
        }
        .notice {
            font-size:14px;
            color:red;
        }
        h3 {
            color: #686868;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">吐槽了</h1>
        <h3>您刚在【吐槽了】网站进行找回密码操作，若非本人操作，请无视此邮件或直接删除即可。</h3>
        <p class="notice">注意：此验证码在两小时内有效，逾期无效。</p>
        <p class="notice">每天最多发送5封邮件进行找回密码操作！</p>
        <span>您此次的验证码是：</span><span th:text="${code}"></span>
    </div>
</body>
</html>