<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- JMS点对点消息发送 的配置 -->


    <!-- PTP连接工厂 -->
    <bean id="queueConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <!-- ActiveMQ默认是61616端口 -->
        <property name="brokerURL" value="tcp://127.0.0.1:8161" />
        <!-- <property name="brokerURL" value="vm://normandy.notify" /> -->
        <property name="useAsyncSend" value="true" />
    </bean>



    <!-- 点对点消息目的地 -->
    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- 名称可以随意命名 -->
        <constructor-arg value="MY.queue" />
    </bean>



    <!-- PTP jms模板 -->
    <bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <!-- 也可以使用org.springframework.jms.connection.SingleConnectionFactory -->
            <bean class="org.springframework.jms.connection.CachingConnectionFactory">
                <property name="targetConnectionFactory" ref="queueConnectionFactory" />
            </bean>
        </property>
        <property name="defaultDestination" ref="queueDestination" />
        <!-- 是否是发布订阅模式 -->
        <property name="pubSubDomain" value="false" />
        <property name="receiveTimeout" value="600"></property>
        
        <!-- 消息转换器.适应于【消费者messageReceiver】和【消费者messageReceiver2】，不适应于【消费者messageReceiver3】，messageReceiver3需要通过配置指定消息转换器 -->
        <!-- 消息如果被messageReceiver和messageReceiver2接收到了，则首先会进行消息的转换，如果messageReceiver3没有指定消息转换器，则不会进行消息的转换，即使这里配置了转换器，也是没有效果的，优先级不高. -->
        <property name="messageConverter" ref="activeMQMessageConverter" />
    </bean>


    <!-- 消息发送方 -->
    <!-- <bean id="messageSender" class="com.zb.activemq.MessageSender"></bean> -->
    
    
    
    <!-- 消息转换器 -->
    <bean id="activeMQMessageConverter" class="com.zb.activemq.ActiveMQMessageConverter" />
    
    
    
    
    <!-- 消息消费者1 ， 实现了MessageListener接口 -->
    <bean id="messageReceiver" class="com.zb.activemq.queue.QueueConsumer1"></bean>
    <!-- 消息消费者2 ， 实现了MessageListener接口 -->
    <bean id="messageReceiver2" class="com.zb.activemq.queue.QueueConsumer2"></bean>
    
    <!-- 消息消费者3 -->
    <bean id="queueReceiver3" class="com.zb.activemq.queue.QueueConsumer3" />
    <!-- 消息消费者3 ，与消费者1、2有些不同，这里是通过配置，指定消息转换器的功能-->
    <bean id="messageReceiver3" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
        <!-- 指定消息处理器 -->
        <constructor-arg ref="queueReceiver3" />
        <!-- 指定queueReceiver3消费者的默认执行方法 -->
        <property name="defaultListenerMethod" value="receive" />
        <!-- 消息转换器 -->
        <property name="messageConverter" ref="activeMQMessageConverter" />
    </bean>
    

    
    
    <!-- 消息监听容器 1 -->
    <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="queueConnectionFactory" />
        <property name="destination" ref="queueDestination" />
        <!-- 指定消息消费者 -->
        <property name="messageListener" ref="messageReceiver" />
    </bean>
    
    <!-- 消息监听容器 2 -->
    <bean id="listenerContainer2" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="queueConnectionFactory" />
        <property name="destination" ref="queueDestination" />
        <!-- 指定消息消费者 -->
        <property name="messageListener" ref="messageReceiver2" />
    </bean>
    
    <!-- 消息监听容器 3 -->
    <bean id="listenerContainer3" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="queueConnectionFactory" />
        <property name="destination" ref="queueDestination" />
        <!-- 指定消息消费者 -->
        <property name="messageListener" ref="messageReceiver3" />
    </bean>
    
</beans>