<div>
<table class="table">
    <colgroup>
    <%== $.View('//plugins/data_grid/views/col.ejs',{colList:colList,editable:editable,radioable:radioable,checkable:checkable})%>
    </colgroup>
    <thead>
    	 <%== $.View('//plugins/data_grid/views/header.ejs',{fieldList:fieldList,editable:editable,radioable:radioable,checkable:checkable,rows:rows})%>       
    </thead>
    <tbody>
    <%== $.View('//plugins/data_grid/views/row.ejs',{padLeft:"0",parent:"0",dataList:dataList,fieldList:fieldList,editable:editable,radioable:radioable,checkable:checkable,useEditBtn:useEditBtn,actions:actions,pageNav:pageNav})%>
    </tbody>
</table>
</div>
<%== $.View('//plugins/data_grid/views/pager.ejs',{pageNav:pageNav})%>