<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd ">
	
	<!-- pojo -->
	<bean id="welcomeService" class="com.jun.plugin.websocket.spring.rpc.service.WelcomeServiceImpl" />
	
	<!-- 导出器,将pojo对象转变成controller,处理请求 -->
	<bean name="/ws.service" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="serviceInterface">
			<value>com.jun.plugin.websocket.spring.rpc.service.WelcomeService</value>
		</property>
		<property name="service" ref="welcomeService" />
	</bean>
</beans>