<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.springmvc.mybatis.mapper.auth.RolePermissionMapper">

	<resultMap id="rolePermissionMap" type="cn.springmvc.mybatis.entity.auth.RolePermission">
		<result property="id" column="id" jdbcType="VARCHAR" />
		<result property="roleId" column="ROLE_ID" jdbcType="VARCHAR" />
		<result property="permissionId" column="PERMISSION_ID" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="cn.springmvc.mybatis.entity.auth.RolePermission">
		INSERT INTO T_SYS_ROLE_PERMISSION(ID, ROLE_ID , PERMISSION_ID)
		VALUES(#{id},#{roleId},#{permissionId})
	</insert>

	<sql id="find_xxx">
	    <![CDATA[
	    	SELECT ID , ROLE_ID , PERMISSION_ID
	    ]]>
	</sql>

	<sql id="from_xxx">
	    <![CDATA[
	    	FROM T_SYS_ROLE_PERMISSION
	    ]]>
	</sql>

	<sql id="where_xxx">
	    <![CDATA[
	    	WHERE 1=1
	    ]]>
	</sql>

	<select id="findById" parameterType="int" resultMap="rolePermissionMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		WHERE ID=#{id}
	</select>

	<select id="findRolePermission" parameterType="cn.springmvc.mybatis.entity.auth.RolePermission" resultMap="rolePermissionMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		WHERE ROLE_ID=#{roleId} and PERMISSION_ID=#{permissionId}
	</select>

	<select id="findAllByFilter" parameterType="Map" resultMap="rolePermissionMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<include refid="where_xxx" />
		<if test="start != null and limit != null">
			LIMIT #{start},#{limit}
		</if>
	</select>

	<select id="findAllByFilterCount" parameterType="Map" resultType="int">
		SELECT COUNT(ID)
		<include refid="from_xxx" />
		<include refid="where_xxx" />
	</select>

	<update id="update" parameterType="cn.springmvc.mybatis.entity.auth.RolePermission">
		UPDATE T_SYS_ROLE_PERMISSION
		<set>
			<if test="roleId != null">
				ROLE_ID = #{roleId},
			</if>
			<if test="permissionId != null">
				PERMISSION_ID = #{permissionId}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<delete id="delete" parameterType="string">
		DELETE FROM T_SYS_ROLE_PERMISSION WHERE ID=#{id}
	</delete>

</mapper>