<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaodui.springboot.buse.mapper.FxjFBiData01Mapper">
  <resultMap id="BaseResultMap" type="com.zhaodui.springboot.buse.model.FxjFBiData01">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="sys_company_code" jdbcType="VARCHAR" property="sysCompanyCode" />
    <result column="bpm_status" jdbcType="VARCHAR" property="bpmStatus" />
    <result column="fxj_out_01" jdbcType="VARCHAR" property="fxjOut01" />
    <result column="fxj_out_02" jdbcType="VARCHAR" property="fxjOut02" />
    <result column="fxj_out_03" jdbcType="VARCHAR" property="fxjOut03" />
    <result column="fxj_out_04" jdbcType="VARCHAR" property="fxjOut04" />
    <result column="fxj_out_05" jdbcType="VARCHAR" property="fxjOut05" />
    <result column="fxj_out_06" jdbcType="VARCHAR" property="fxjOut06" />
    <result column="fxj_out_07" jdbcType="VARCHAR" property="fxjOut07" />
    <result column="fxj_out_08" jdbcType="VARCHAR" property="fxjOut08" />
    <result column="fxj_out_09" jdbcType="VARCHAR" property="fxjOut09" />
    <result column="fxj_out_10" jdbcType="VARCHAR" property="fxjOut10" />
    <result column="fxj_out_11" jdbcType="VARCHAR" property="fxjOut11" />
    <result column="fxj_out_12" jdbcType="VARCHAR" property="fxjOut12" />
    <result column="fxj_out_13" jdbcType="VARCHAR" property="fxjOut13" />
    <result column="fxj_out_14" jdbcType="VARCHAR" property="fxjOut14" />
    <result column="fxj_out_15" jdbcType="VARCHAR" property="fxjOut15" />
    <result column="fxj_out_16" jdbcType="VARCHAR" property="fxjOut16" />
    <result column="fxj_out_17" jdbcType="VARCHAR" property="fxjOut17" />
    <result column="fxj_out_18" jdbcType="VARCHAR" property="fxjOut18" />
    <result column="fxj_out_19" jdbcType="VARCHAR" property="fxjOut19" />
    <result column="fxj_out_20" jdbcType="VARCHAR" property="fxjOut20" />
    <result column="fxj_out_62" jdbcType="VARCHAR" property="fxjOut62" />
    <result column="fxj_out_63" jdbcType="VARCHAR" property="fxjOut63" />
    <result column="fxj_out_64" jdbcType="VARCHAR" property="fxjOut64" />
    <result column="fxj_out_21" jdbcType="VARCHAR" property="fxjOut21" />
    <result column="fxj_out_65" jdbcType="VARCHAR" property="fxjOut65" />
    <result column="fxj_out_60" jdbcType="VARCHAR" property="fxjOut60" />
    <result column="fxj_out_61" jdbcType="VARCHAR" property="fxjOut61" />
    <result column="fxj_out_26" jdbcType="VARCHAR" property="fxjOut26" />
    <result column="fxj_out_27" jdbcType="VARCHAR" property="fxjOut27" />
    <result column="fxj_out_28" jdbcType="VARCHAR" property="fxjOut28" />
    <result column="fxj_out_29" jdbcType="VARCHAR" property="fxjOut29" />
    <result column="fxj_out_22" jdbcType="VARCHAR" property="fxjOut22" />
    <result column="fxj_out_66" jdbcType="VARCHAR" property="fxjOut66" />
    <result column="fxj_out_23" jdbcType="VARCHAR" property="fxjOut23" />
    <result column="fxj_out_67" jdbcType="VARCHAR" property="fxjOut67" />
    <result column="fxj_out_24" jdbcType="VARCHAR" property="fxjOut24" />
    <result column="fxj_out_68" jdbcType="VARCHAR" property="fxjOut68" />
    <result column="fxj_out_25" jdbcType="VARCHAR" property="fxjOut25" />
    <result column="fxj_out_69" jdbcType="VARCHAR" property="fxjOut69" />
    <result column="fxj_out_73" jdbcType="VARCHAR" property="fxjOut73" />
    <result column="fxj_out_30" jdbcType="VARCHAR" property="fxjOut30" />
    <result column="fxj_out_74" jdbcType="VARCHAR" property="fxjOut74" />
    <result column="fxj_out_31" jdbcType="VARCHAR" property="fxjOut31" />
    <result column="fxj_out_75" jdbcType="VARCHAR" property="fxjOut75" />
    <result column="fxj_out_32" jdbcType="VARCHAR" property="fxjOut32" />
    <result column="fxj_out_76" jdbcType="VARCHAR" property="fxjOut76" />
    <result column="fxj_out_70" jdbcType="VARCHAR" property="fxjOut70" />
    <result column="fxj_out_71" jdbcType="VARCHAR" property="fxjOut71" />
    <result column="fxj_out_72" jdbcType="VARCHAR" property="fxjOut72" />
    <result column="fxj_out_37" jdbcType="VARCHAR" property="fxjOut37" />
    <result column="fxj_out_38" jdbcType="VARCHAR" property="fxjOut38" />
    <result column="fxj_out_39" jdbcType="VARCHAR" property="fxjOut39" />
    <result column="fxj_out_33" jdbcType="VARCHAR" property="fxjOut33" />
    <result column="fxj_out_77" jdbcType="VARCHAR" property="fxjOut77" />
    <result column="fxj_out_34" jdbcType="VARCHAR" property="fxjOut34" />
    <result column="fxj_out_78" jdbcType="VARCHAR" property="fxjOut78" />
    <result column="fxj_out_35" jdbcType="VARCHAR" property="fxjOut35" />
    <result column="fxj_out_79" jdbcType="VARCHAR" property="fxjOut79" />
    <result column="fxj_out_36" jdbcType="VARCHAR" property="fxjOut36" />
    <result column="fxj_out_40" jdbcType="VARCHAR" property="fxjOut40" />
    <result column="fxj_out_41" jdbcType="VARCHAR" property="fxjOut41" />
    <result column="fxj_out_42" jdbcType="VARCHAR" property="fxjOut42" />
    <result column="fxj_out_43" jdbcType="VARCHAR" property="fxjOut43" />
    <result column="fxj_out_80" jdbcType="VARCHAR" property="fxjOut80" />
    <result column="fxj_out_48" jdbcType="VARCHAR" property="fxjOut48" />
    <result column="fxj_out_49" jdbcType="VARCHAR" property="fxjOut49" />
    <result column="fxj_out_44" jdbcType="VARCHAR" property="fxjOut44" />
    <result column="fxj_out_45" jdbcType="VARCHAR" property="fxjOut45" />
    <result column="fxj_out_46" jdbcType="VARCHAR" property="fxjOut46" />
    <result column="fxj_out_47" jdbcType="VARCHAR" property="fxjOut47" />
    <result column="fxj_out_51" jdbcType="VARCHAR" property="fxjOut51" />
    <result column="fxj_out_52" jdbcType="VARCHAR" property="fxjOut52" />
    <result column="fxj_out_53" jdbcType="VARCHAR" property="fxjOut53" />
    <result column="fxj_out_54" jdbcType="VARCHAR" property="fxjOut54" />
    <result column="fxj_out_50" jdbcType="VARCHAR" property="fxjOut50" />
    <result column="fxj_out_59" jdbcType="VARCHAR" property="fxjOut59" />
    <result column="fxj_out_55" jdbcType="VARCHAR" property="fxjOut55" />
    <result column="fxj_out_56" jdbcType="VARCHAR" property="fxjOut56" />
    <result column="fxj_out_57" jdbcType="VARCHAR" property="fxjOut57" />
    <result column="fxj_out_58" jdbcType="VARCHAR" property="fxjOut58" />
  </resultMap>


  <select id="findList" resultMap="BaseResultMap">
    select * from fxjbi_data_01
    <where>
      <if test="query01 != null and query01 != ''">
        and fxj_out_01 like concat('%', #{query01}, '%')
      </if>
      <if test="query02 != null and query02 != ''">
        and fxj_out_02 like concat('%', #{query02}, '%')
      </if>
      <if test="query03 != null and query03 != ''">
        and fxj_out_03 like concat('%', #{query03}, '%')
      </if>
      <if test="query04 != null and query04 != ''">
        and fxj_out_04 like concat('%', #{query04}, '%')
      </if>
      <if test="query05 != null and query05 != ''">
        and fxj_out_05 like concat('%', #{query05}, '%')
      </if>
      <if test="query06 != null and query06 != ''">
        and fxj_out_06 like concat('%', #{query06}, '%')
      </if>
      <if test="query07 != null and query07 != ''">
        and fxj_out_07 like concat('%', #{query07}, '%')
      </if>
      <if test="query08 != null and query08 != ''">
        and fxj_out_08 like concat('%', #{query08}, '%')
      </if>
      <if test="query09 != null and query09 != ''">
        and fxj_out_09 like concat('%', #{query09}, '%')
      </if>
      <if test="query10 != null and query10 != ''">
        and fxj_out_10 like concat('%', #{query10}, '%')
      </if>
    </where>
  </select>
</mapper>