<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.spring.mapper.CityMapper">
	<!-- 多对一的关系,用association -->
	<resultMap type="boot.spring.po.City" id="cityMap">
		<id column="city_id" property="city_id"></id>
		<result column="city" property="city" />
		<result column="last_update" property="last_update" />
		<association column="country_id" property="country"
			javaType="boot.spring.po.Country">
			<id column="country_id" property="country_id"></id>
			<result column="country" property="country" />
			<result column="last_update" property="last_update" />
		</association>
	</resultMap>
	<!-- 一对多的关系,用collection -->
	<resultMap type="boot.spring.po.Country" id="countryMap">
		<id column="country_id" property="country_id"></id>
		<result column="country" property="country" />
		<result column="last_update" property="last_update" />
		<!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
		<collection property="citys" ofType="boot.spring.po.City">
			<id column="city_id" property="city_id"></id>
			<result column="city" property="city" />
			<result column="last_update" property="last_update" />
		</collection>
	</resultMap>

	<select id="getCitys" resultMap="cityMap">
		select * from city,country where city.country_id=country.country_id
	</select>

	<select id="getCountrycity" parameterType="String"
		resultMap="cityMap">
		select * from country,city where city.country_id=country.country_id and
		country.country=#{country}
	</select>

	<select id="getCitysbyCountry" parameterType="String"
		resultMap="countryMap">
		select * from city,country where city.country_id=country.country_id and
		country.country=#{country}
	</select>

	<select id="selectCitysByName" parameterType="java.util.List"
		resultType="boot.spring.po.City">
		select * from city
		where country_id in
		<!-- collection:指定输入对象中的集合属性 item:每次遍历生成的对象 open:开始遍历时的拼接字符串 close:结束时拼接的字符串 
			separator:遍历对象之间需要拼接的字符串 select * from city where country_id in (23,50,86) 
			查找中日韩的城市列表 -->
		<foreach collection="list" item="item" open="(" close=") "
			separator=",">
			#{item}
		</foreach>
	</select>
</mapper>
