<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	     http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	     http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
         http://www.springframework.org/schema/cache
         http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
         http://www.springframework.org/schema/task 
    	 http://www.springframework.org/schema/task/spring-task-4.0.xsd
    	 http://www.springframework.org/schema/util 
    	 http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- Quartz的定时集群任务配置 -->
	<bean id="quartzDataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="${jdbc.quartz.driverClassName}" />
        <property name="url" value="${jdbc.quartz.url}" />
        <property name="username" value="${jdbc.quartz.username}" />
        <property name="password" value="${jdbc.quartz.password}" />
    </bean>
    
    <!-- Quartz集群Schduler -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- Triggers集成 -->
        <property name="triggers">
            <list>
                <ref bean="timerTrigger" />
            </list>
        </property>
        <!--  quartz配置文件路径-->
        <property name="configLocation" value="classpath:quartz.properties" />
        <!-- 启动时延期3秒开始任务 -->
        <property name="startupDelay" value="3" />
        <!-- 保存Job数据到数据库所需的数据源 -->
        <property name="dataSource" ref="quartzDataSource" />
        <!-- Job接受applicationContext的成员变量名 -->
        <property name="applicationContextSchedulerContextKey" value="applicationContext" />
        <property name="overwriteExistingJobs" value="true" />
        <property name="jobFactory">
            <bean class="com.jun.plugin.quartz.quartz.AutoWiringSpringBeanJobFactory"/>
        </property>
    </bean>
    
    <bean id="timerTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="testJobDetail" />
		<!-- 每隔1分钟执行一次 -->
        <property name="cronExpression" value="0 0/1 * * * ? " />
    </bean>
    
    <!-- Timer JobDetail, 基于JobDetailBean实例化Job Class,可持久化到数据库实现集群 -->
    <bean id="testJobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="com.jun.plugin.quartz.task.TestTask" />
    </bean>
    
</beans>