<?xml version="1.0" encoding="UTF-8" ?>
<!-- 60秒扫描一次配置文件，不打印配置日志系统内部日志 -->
<configuration scan="false">

	<!-- 配置参考 ： http://blog.csdn.net/haidage/article/details/6794529 -->

	<!-- 控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %class.%method - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>