<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- *************************************************MIS BO,DAO配置加载******************************************************* -->
	<import resource="dataSource.xml" />
	<import resource="baseConfig.xml" />
	
	<!-- *************************************************MIS 映射文件加载******************************************************* -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">  
		  <list>  
		    <value>cn/itcast/mis/req/hibernate/UserT.hbm.xml</value>  
		    <value>cn/itcast/mis/req/hibernate/Project.hbm.xml</value>  
		  </list>  
		</property> 
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>			
			</props>
		</property>
		
	</bean>
	<!-- *************************************************MIS JDBC ，Transaction，Session配置 I******************************************************* -->
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
</beans>