#main{
  width:520px;
  margin:0 auto;
  margin-top:15px;
}
#gridView {
	border-right: #bad6ec 1px;
	border-top: #bad6ec 1px;
	border-left: #bad6ec 1px;
	color: #566984;
	border-bottom: #bad6ec 1px;
	font-family: Courier New;
	font-size:15px;
	width:500px;
	border-collapse:collapse
}
#gridView a{
    font-size:14px;
	text-decoration: none;
	font-family:"宋体";
	color:#330099;
}
#gridViewHeader {
	border-right: #bad6ec 1px solid;
	border-top: #bad6ec 1px solid;
	background-color: #CCCC99;
	border-left: #bad6ec 1px solid;
	line-height: 20px;
	border-bottom: #bad6ec 1px solid;
	font-weight:bold;
	text-align:center;
	
}

#gridViewItem {
	border-right: #bad6ec 1px solid;
	border-top: #bad6ec 1px solid;
	border-left: #bad6ec 1px solid;
	line-height: 25px;
	border-bottom: #bad6ec 1px solid;
	text-align: center;
	font-size:13px;
}