* {
	padding: 0;
	margin: 0;
}

html,body{
	font-size: 10px;
	background: #eee;
}
pre {
	border-radius: 5px;
}
.canvas-container {
	height: 100vh;
	background: #000000;
}

.guide-container {
	position: absolute;
	/*border: 1px solid #ffffff;*/
	left: 50%;
	top: 50%;
	width: 800px;
	height: 500px;
	margin:-250px 0 0 -600px;
	color: #FFFFFF;
}
.soft-name{
	font-size: 4rem;
}
.soft-name-span{
	border-bottom: 3px solid orangered;
	padding-bottom: 10px;
}
.soft-jieshao{
	margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 10px;
}
.btn-group{
	margin-top: 80px;
}
.btn-group-span{
	border: 1px solid #ffffff;
	border-radius: 20px;
	padding: 8px 30px;
	font-size: 1.5rem;
	margin-right: 20px;
}
.btn-group-span:hover{
	color: orangered;
	border-color: orangered;
	cursor: pointer;
}
.main-container{
	/*height: 100vh;*/
	margin-bottom: 50px;
}
.start-header{
	height: 10vh;
	background: #000000;
	color: #FFFFFF;
	font-size: 2rem;
	line-height: 120px;
	padding-left: 50px;
}
.title{
	border-left: 3px solid #aa6708;
	padding-left: 15px;
	height: 4.5rem;
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 4.5rem;
	margin-bottom: 20px;
}
.sub-title{
	border-left: 3px solid #aa6708;
	padding-left: 15px;
	height: 3rem;
	font-size: 2rem;
	font-weight: 800;
	line-height: 3rem;
	margin-bottom: 20px;
}
.main-content{
	width: 60%;
	margin: auto;
	/*height: 90vh;*/
	background: #FFFFFF;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 30px;
	/*padding-top: 50px;*/
}
.desc-content{
	font-size: 1.5rem;
	margin-bottom: 10px;
	line-height: 3rem;
	text-indent:2em;
}
/*.main-container{
	background: #FFFFFF;
	margin: auto;
}*/
