<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>login</title>
<script src="/js/jquery-1.12.3.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="/js/bootstrap.min.js"></script>
<style type="text/css">
.vertical-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>
</head>
<body>
	<div class="container vertical-center">
		<div class="col-md-6 col-md-offset-3">
			<form action="/loginvalidate" method="POST">
				<h2>Please login</h2>
				<label for="inputEmail" class="sr-only">userid</label> <input
					type="text" name="username" id="inputEmail" class="form-control"
					placeholder="userid" required="true" autofocus="autofocus" /> <label
					for="inputPassword" class="sr-only">Password</label> <input
					type="password" name="password" id="inputPassword"
					class="form-control" placeholder="Password" required="true" />
				<button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
			</form>

		</div>
	</div>
	<!-- /container -->
</body>
</html>
