<!DOCTYPE struts PUBLIC    
    "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"    
    "http://struts.apache.org/dtds/struts-2.0.dtd"> 
<struts> 
	 <constant name="objectFactory" value="spring"></constant>  
     <package name="user" extends="struts-default" namespace="/">
          <action name="userAction" class="userAction">
          	 <result name="welcome">/index.jsp</result>
     	  </action>
    </package>
</struts>