<?xml version="1.0" encoding="UTF-8"?>
<!--monitorInterval="30" 表示30秒动态加载一次配置-->
<Configuration monitorInterval="30">
    <Appenders>
        <!--打印到控制台-->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>

        <!--打印到文件-->
        <File name="infoLog" fileName="infoLog.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="errorLog" fileName="errorLog.log"
                     filePattern="log/$${date:yyyy-MM}/errorLog-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--只打印当前程序包下面的日志-->
        <Logger name="com.jun.base.log.log4j2.demo" additivity="true">
            <AppenderRef ref="infoLog" level="info"/>
            <AppenderRef ref="errorLog" level="error"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
