.gray-bg {
    background-color: #f3f3f4;
}

.cursor-pointer {
	cursor: pointer;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.bootstrap-table .table thead>tr>th {
	background-color: #f5f5f5;
}

.fixed-table-pagination .pagination-detail, .fixed-table-pagination div.pagination
	{
	margin-left: 10px;
}

.fontawesome-icon-list div i {
	color: #4969b3;
}

.table thead>tr>th {
	background-color: #ecf0f5 !important;
}

.grid-table-toolbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.jax-box-table {
	border-radius: 3px;
	background: #ffffff;
	border: 1px solid #e6e7e7;
	border-bottom: none;
	width: 100%;
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.jax-box-table .treegrid-selected {
	background-color: #f2f8ff !important;
}

.treegrid-tbody tr :first-child.table-btn-info {
	border-left: 1px solid #00c0ef !important;
}

.treegrid-tbody tr :first-child.table-btn-danger {
	border-left: 1px solid #dd4b39 !important;
}

.fixed-table-container tbody tr.selected td {
	border-bottom: 1px solid #e9e9e9;
	background-color: #f2f8ff;
}

.fixed-table-container tbody tr.selected:hover td {
	background-color: #f5f5f5;
}

/* 选取图标 */
.form-group .input-button {
	border: none;
	right: 18px;
	top: 50%;
	width: 20px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	z-index: 100;
}

/** 遮罩层 **/
.loaderbox {
	display: inline-block;
	min-width: 125px;
	padding: 10px;
	margin: 0 auto;
	color: #000 !important;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
	background-color: #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.loaderbox .loading-activity {
	float: left;
	width: 18px;
	height: 18px;
	border: solid 2px transparent;
	border-top-color: #000;
	border-left-color: #000;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}

/** 表单查询条件  **/
.select-list ul, .layui-layer-content ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.select-list li, .layui-layer-content li {
	list-style: none;
}

.time-input {
	display: block;
	width: 100%;
	padding-left: 10px;
}

label {
	font-weight: normal;
}

.container-div {
	padding: 0px 28px;
	height: 100%;
}

.container-div .row {
	height: 100%;
}

.search-collapse,.select-table {
	width: 100%;
	background: #fff;
	border-radius: 6px;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 13px;
}

.search-collapse {
	position: relative;
}

.search-collapse .col-sm-6 .control-label {
	color: #333;
}

@media ( min-width : 768px) {
	.select-list li {
		float: left;
	}
}

.select-list li {
	color: #333;
	margin: 5px 15px 5px 0px;
}

.select-list li p, .select-list li label:not(.radio-box){
	float: left;
	width: 65px;
	margin: 5px 0px 0px 0px;
	text-align:right;
}

.select-list li input {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: transparent;
	outline: none;
	height: 30px;
	width: 200px;
	padding-left: 5px;
}

.select-list li .submit-btn {
	border: 0px;
	border-radius: 4px;
	background: transparent;
	outline: none;
	width: 40px;
	height: 23px;
}

.select-list li select {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: transparent;
	outline: none;
	height: 30px;
    width: 200px;
}

.bootstrap-select.form-control .btn-default {
    color: inherit;
    padding: 4px 6px 4px;
    border-radius: 4px;
    border: 1px solid #e5e6e7;
	outline: none;
	height: 31px;
	background: #FFFFFF none
}

.file-input .btn-default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.select-list .btn-default {
    color: #555;
    padding: 5px 5px;
    border: 1px solid #ddd;
	border-radius: 4px;
	background: transparent;
	outline: none;
	height: 30px;
	width: 200px;
}

.select-list .btn-default:hover,.select-list .btn-default:focus,.select-list .btn-default:active,.select-list .btn-default.active,.open .dropdown-toggle.btn-default {
	color: #555;
	background-color: #e4e4e4;
	border-color: #b2b2b2
}

.select-list .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  height: 30px;
  width: 200px;
}

.select-list .bootstrap-select > .dropdown-toggle.bs-placeholder,
.select-list .bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.select-list .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.select-list .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: inherit;
  font-size: 13px;
}

.select-list .bootstrap-select .dropdown-toggle .caret {
  position: inherit;
}

.select-list .select-selectpicker li {
	float: none;
}

.select-list .dropdown-menu>li>a,.bootstrap-select.form-control .dropdown-menu>li>a {
    line-height: inherit;
}

.select-list .dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a,.bootstrap-select.form-control .dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a{
	color: #fff;
	text-decoration: none;
	background-color: #12889a
}

.select-list .select2-container--bootstrap {
	width: 200px!important;
	display: inline-block;
}

.select-list .select2-container--bootstrap .select2-selection {
	border-radius: 6px;
}

.select-list .select2-container--bootstrap .select2-selection--single {
	height: 30px!important;
	padding: 5px 10px;
}

.select-list .select-time input {
	width: 93px;
}

.select-time label,.select-time span,.select-time input {
	float: left;
}

@media (max-width:767px) {
    .select-time label,.select-time span,.select-time input {
	    float: none;
    }
    .select-list .select-time input {
	    width: 200px;
    }
}

.select-time label {
	margin-top: 5px;
}

.select-time span {
	display: block;
	margin: 5px 5px;
}

.search-btn {
	background-color: #1ab394;
	border-color: #1ab394;
	color: #FFF;
	margin-bottom: 5px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
}

.select-title{
	color:#3d5266;
	font-size:15px;
	padding:10px 0px;
	font-weight: normal;
}

/** 向上滚动样式 **/
#scroll-up {
	border-width: 0;
	position: fixed;
	right: 2px;
	z-index: 99;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	opacity: 0;
	filter: alpha(opacity=0);
	bottom: -24px;
	visibility: hidden;
	background-color: #aaa;
	color: #fff;
	font-size: 14px;
	display: none;
}

#scroll-up.display {
	opacity: .7;
	filter: alpha(opacity=70);
	bottom: 2px;
	visibility: visible;
}