<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.job.biz.mapper.CustomerMapper">

	<resultMap id="baseResultMap" type="com.job.biz.model.Customer">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="EMAIL" property="email" />
		<result column="AGE" property="age" />
	</resultMap>

	<insert id="insert" parameterType="com.job.biz.model.Customer">
		INSERT INTO CUSTOMER(ID , NAME , EMAIL , AGE) VALUES(#{id} , #{name} , #{email} , #{age})
	</insert>

	<sql id="find_xxx">
	    <![CDATA[
			SELECT ID , NAME , EMAIL , AGE
	    ]]>
	</sql>

	<sql id="from_xxx">
	    <![CDATA[
	    	FROM CUSTOMER
	    ]]>
	</sql>

	<sql id="where_xxx">
	    <![CDATA[
	    	WHERE 1=1
	    ]]>
	</sql>

	<select id="findById" parameterType="string" resultMap="baseResultMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<![CDATA[
			WHERE ID=#{id}
		]]>
	</select>

	<select id="findAllByFilter" parameterType="Map" resultMap="baseResultMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<include refid="where_xxx" />
		<if test="start != null and limit != null">
			LIMIT #{start},#{limit}
		</if>
	</select>

	<delete id="delete" parameterType="string">
		DELETE FROM CUSTOMER WHERE ID=#{id}
	</delete>

</mapper>