<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1.配置SpringMVC注解扫描的Control组件-->
    <context:component-scan base-package="cn.kiwipeach.**.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <!--2.1 配置SpringMVC视图-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="1"></property>
        <property name="prefix" value="/WEB-INF/views/"></property>
        <property name="suffix" value=".jsp"></property>
        <property name="viewClass" value="cn.kiwipeach.demo.view.CustomInternalResourceView"></property>
    </bean>
    <!--2.2 配置IReport报表视图-->
    <bean id="jasperReportsViewResolver" class="org.springframework.web.servlet.view.jasperreports.JasperReportsViewResolver">
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.jasperreports.JasperReportsMultiFormatView"></property>-->
        <property name="order" value="2"></property>
        <property name="viewClass" value="cn.kiwipeach.demo.view.JasperReportsView"></property>
        <property name="prefix" value="/WEB-INF/jasper/"></property>
        <property name="suffix" value=".jasper"></property>
        <property name="contentType" value="text/html"></property>
        <!--<property name="jdbcDataSource" ref="druidDataSource"></property>-->
        <!--报表数据源的Key名称，需要注意-->
        <property name="reportDataKey" value="jrDatasource"></property>
        <property name="exporterParameters">
            <map>
                <!-- 指定格式报表的内容编码 -->
                <entry key="net.sf.jasperreports.engine.JRExporterParameter.CHARACTER_ENCODING">
                    <value>UTF-8</value>
                </entry>
                <!-- keine Images als Platzhalter in HTML-Seiten , vermeidet nullpx-Problem -->
                <!-- 通过html访问时，避免图像占位符出现一些nullpx -->
                <!--<entry key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.IS_USING_IMAGES_TO_ALIGN">
                    <value type="java.lang.Boolean">false</value>
                </entry>-->
                <!--
                 通过Web访问时图片的URI
                 会自动生成:img_0_0_xx.png图片地址信息
                 -->
                <entry key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.IMAGES_URI">
                    <value type="java.lang.String">/mvcreport/demo/image?image=</value>
                </entry>
                <!-- 图片目录的绝对路径 -->
                <!-- <entry key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.IMAGES_DIR_NAME">
                    <value type="java.lang.String">D:\\work\\***\\framework\\tmp</value>
                </entry> -->
                <!-- 是否输出图片到目录 -->
                <!-- <entry key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.IS_OUTPUT_IMAGES_TO_DIR">
                    <value type="java.lang.String">true</value>
                </entry>  -->
            </map>
        </property>
    </bean>

    <!--3.静态资处理-->
    <mvc:default-servlet-handler />
    <!--4.注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>


</beans>