<?xml version="1.0" encoding="UTF-8"?>
<!-- 查找最新的schemaLocation 访问 http://www.springframework.org/schema/ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<util:constant id="LUCENE_VERSION" static-field="org.apache.lucene.util.Version.LUCENE_48"></util:constant>
	
	<bean id="directory" class="org.apache.lucene.store.SimpleFSDirectory">
		<constructor-arg>
			<bean class="java.io.File">
				<constructor-arg value="g:\\lucene\\index" />
			</bean>
		</constructor-arg>
	</bean>

	<bean id="analyzer" class="org.wltea.analyzer.lucene.IKAnalyzer">
		<constructor-arg value="true"></constructor-arg>
	</bean>

	<bean id="indexWriterConfig" class="org.apache.lucene.index.IndexWriterConfig">
		<constructor-arg name="matchVersion" ref="LUCENE_VERSION" />
		<constructor-arg name="analyzer" ref="analyzer"></constructor-arg>
	</bean>

	<bean id="indexWriter" class="org.apache.lucene.index.IndexWriter">
		<constructor-arg name="d" ref="directory" />
		<constructor-arg name="conf" ref="indexWriterConfig" />
	</bean>

</beans>  