<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.jun.plugin.cc.module.Rule" alias="Rule"></typeAlias>
	</typeAliases>

	<plugins>
		<plugin interceptor="com.jun.plugin.dbtracer.UpdateStatementInterceptor"></plugin>
	</plugins>

	<mappers>
		<package name="com.jun.plugin.cc.repository" />
	</mappers>

</configuration>