<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaodui.springboot.system.mapper.SysUserDepartMapper">
  <resultMap id="BaseResultMap" type="com.zhaodui.springboot.system.model.SysUserDepart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="dep_id" jdbcType="VARCHAR" property="depId" />
  </resultMap>
</mapper>