package ${package}.${module}.entity;

import java.io.Serializable;
import java.util.Date;

#if(${hasDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * @author ${author}<${email}>
 */
public class ${className}Entity implements Serializable {
	
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	/**
	 * $column.columnComment
	 */
	private $column.fieldType $column.fieldName;
	
#end

	public ${className}Entity() {
		super();
	}

#foreach ($column in $columns)
    /**
     * setter for $column.fieldName
     * @param $column.fieldName
     */
	public void set${column.methodName}($column.fieldType $column.fieldName) {
		this.$column.fieldName = $column.fieldName;
	}

    /**
     * getter for $column.fieldName
     */
	public $column.fieldType get${column.methodName}() {
		return $column.fieldName;
	}
	
#end
}
