input.terminalDown,button.terminalDown {
	background:transparent;
	background:url('../images/neiye/terminalDown.png');
	border:0;
	width:83px;
	height:23px;
	display: inline;
}
input.terminalRestart,button.terminalRestart{
	background:url('../images/neiye/terminalRestart.png');
	border:0;
	width:83px;
	height:23px;
	display: inline;
}
input.terminalReset,button.terminalReset {
	background:url('../images/neiye/terminalReset.png');
	border:0;
	width:83px;
	height:23px;
	display: inline;
}