@CHARSET "UTF-8";
body {
	color:#595757;
	font:12pt  "宋体";
	text-align:left;
	margin:0;
	padding:0;
}

input {
 	background-color: #FFFFFF;
	border: 1px solid  #99BBE8;
 }
 
input[type="submit"],input[type="button"],button{
	background-color: #F6F9FF;
	border-color: #99BBE8;
	color: #595757;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	/* Safari 4-5,Chrome 1-9 */ background:-webkit-gradient(linear,0% 0%,0% 100%,from(#F6F9FF),to(#E1E8FE));
	/* Safari 5.1,Chrome 10+ */ background:-webkit-linear-gradient(top,#F6F9FF,#E1E8FE);
	/* Firefox 3.6+ */ background:-moz-linear-gradient(top,#F6F9FF,#E1E8FE);
	/* IE 10 */ background:-ms-linear-gradient(top,#F6F9FF,#E1E8FE);
	/* Opera 11.10+ */ background:-o-linear-gradient(top,#F6F9FF,#E1E8FE);
	cursor:pointer;
}
select {
    border: 1px solid #99bbe8;
    background-color:#f6f9ff ;
    -webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
    padding: 1px;
}
.bgtable {
	width:100%;
    border-collapse:collapse;
    border:0;
        	 
}
.bgtable td,.bgtable th {
	color:#595757;
	border:1px #C3CAD2 solid;
	height:25px;
	line-height:25px;
	*line-heihgt:25px;
}
.bgtable th {
	 background-color: #F2F6F7;
}

div.queryBoxLv1{
 	width:100%;
	height: 32px;
	*height: 32px;
	_height: 32px;
	line-height:32px;
	*line-height:32px;
	_line-height:32px;
	padding-left:2px;
	display:inline-table;
	display:-moz-inline-stack;
	zoom:1; 
	*display:inline;
	background:url('../images/search.png') repeat-x  left;
}
div.wrap {
	height:10px;
}
div.queryBoxLv1 *{
	margin-right:5px;
	vertical-align: middle;
}

div.queryBoxLv1 .combo{
	height:20px;
	*height:20px;
	_height:20px;
	line-height:20px;
	*line-height:20px;
	_line-height:20px;
	}
div.queryBoxLv1 .combo-text{
	line-height:18px;
	height:18px;
	margin-right:-3px;
	margin-bottom:1px;
	*height:16px;
	*line-height:16px;
	_height:16px;
	_line-height:16px;
}
div.queryBoxLv1 .combo-arrow{
	background-color:transparent;
	padding-right:10px;
	*padding-bottom:6px;
}
div.queryBoxLv2{
	padding-left:10px;
	padding-top:4px;
	height: 28px;
	-webkit-border-bottom: 1px solid #C3CAD2;
	-moz-border-bottom: 1px solid #C3CAD2;
	border-bottom: 1px solid #C3CAD2;
}
div.queryBoxLv2 *{
	margin-right:5px;
}

.panel-header{
	padding:5px;
	line-height:15px;
	color:#15428b;
	font-weight:bold;
	font-size:12px;
	background:url('../images/neiye/biaotou_center.png') repeat-x center;
	position:relative;
	border:1px solid #C3CAD2;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.panel-header-noborder{
	border-width:0px;
	border-bottom:1px solid #C3CAD2;
}
.panel-body{
	overflow:auto;
	border:1px solid #C3CAD2;
	border-top-width:0px;
	padding:2px;
	margin:0px;
}
.panel-title{
	color:#298DC3;
}

.tabs{
	border-bottom:1px solid #C3CAD2;
	padding-left:0;
}
.tabs-header{
	background:#FFFFFF;
	border:0;
}
.tabs li a.tabs-inner{
	color:#FFFFFF;
	background:url('../images/neiye/tab.png') repeat-x left top;
}
.tabs li a.tabs-inner:hover{
	background:url('../images/neiye/tab-active.png') repeat-x left bottom;
}
.tabs li.tabs-selected a.tabs-inner{
	color:#FFFFFF;
	background:url('../images/neiye/tab-active.png') repeat-x left bottom;
}
.tabs li a.tabs-close{
	background:url('../images/neiye/tabs-close.png') no-repeat 2px 2px;
}
.accordion .panel-header{
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.accordion .accordion-header .panel-title{
	color:#FFFFFF;
	padding-left:5px;
}
.accordion .accordion-header{
	background:url('../images/neiye/menuitem.png') repeat-x center;
	border:0;
	cursor:pointer;
}
.accordion-collapse{
	margin-top:5px;
	background:url('../images/neiye/up.png') no-repeat;
}
.accordion-expand{
	background:url('../images/neiye/down.png')no-repeat;
}
 .datagrid-header{
	 background-color: #F7F8F8;
	 background: -webkit-linear-gradient(top,#EFEFEF  0,#F7F8F8 100%);
     background: -moz-linear-gradient(top,#EFEFEF 0,#F7F8F8 100%);
     background: -o-linear-gradient(top,#EFEFEF 0,#F7F8F8 100%);
	 background: linear-gradient(to bottom,#EFEFEF 0,#F7F8F8 100%);
	 background-repeat: repeat-x;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF,endColorstr=#F7F8F8,GradientType=0);
}
.datagrid-header td{
	 background-color: #F7F8F8;
	 background: -webkit-linear-gradient(top,#EFEFEF  0,#F7F8F8 100%);
     background: -moz-linear-gradient(top,#EFEFEF 0,#F7F8F8 100%);
     background: -o-linear-gradient(top,#EFEFEF 0,#F7F8F8 100%);
	 background: linear-gradient(to bottom,#EFEFEF 0,#F7F8F8 100%);
	 background-repeat: repeat-x;
	 border-right:1px #C3CAD2 solid;
	 -webkit-border-right:1px #C3CAD2 solid;
	 -moz-border-right:1px #C3CAD2 solid;
	border-bottom:1px #C3CAD2 solid;
	-webkit-border-bottom:1px #C3CAD2 solid;
	 -moz-border-bottom:1px #C3CAD2 solid;
	border-top:1px #C3CAD2 solid;
	-webkit-border-top:1px #C3CAD2 solid;
	 -moz-border-top:1px #C3CAD2 solid;
	height:25px;
	line-height:25px;
	*line-heihgt:25px;
}
.datagrid-toolbar{
	background-color: #F7F8F8;
	 background: -webkit-linear-gradient(top,#EFEFEF  0,#F7F8F8 100%);
     background: -moz-linear-gradient(top,#EFEFEF 0,#F7F8F8 100%);
     background: -o-linear-gradient(top,#EFEFEF 0,#F7F8F8 100%);
	 background: linear-gradient(to bottom,#EFEFEF 0,#F7F8F8 100%);
	 background-repeat: repeat-x;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF,endColorstr=#F7F8F8,GradientType=0);
}
.datagrid-body td,.datagrid-footer td{
	border-right:1px #C3CAD2 solid;
	 -webkit-border-right:1px #C3CAD2 solid;
	 -moz-border-right:1px #C3CAD2 solid;
	border-bottom:1px #C3CAD2 solid;
	 -webkit-border-bottom:1px #C3CAD2 solid;
	 -moz-border-bottom:1px #C3CAD2 solid;
}
.layout-panel-west div.panel-body{
	overflow:auto;
	border:1px solid #C3CAD2;
	 -webkit-border:1px #C3CAD2 solid;
	 -moz-border:1px #C3CAD2 solid;
	border-top-width:0px;
	webkit-border-width:0;
	-moz-border-width:0;
	padding:2px;
}
.layout-panel-west {
	margin-top:4px;
}
.layout-panel>div{
	border:0;
	 -webkit-border:0;
	 -moz-border:0;
}
.layout-split-north{
	border-bottom:0;
	 -webkit-border-bottom:0;
	 -moz-border-bottom:0;
}
.layout-split-south{
	border-top:0;
	-webkit-border-top:0;
	 -moz-border-top:0;
}
.layout-split-east{
	border-left:0;
	-webkit-border-left:0;
	 -moz-border-left:0;
}
.layout-split-west{
	border-right:0;
	-webkit-border-right:0;
	 -moz-border-right:0;
}
.layout-split-proxy-h{
	width:2px;
	background:blue;
}
.m-btn-downarrow{
	background:url('../images/neiye/menu_downarrow.png') no-repeat 4px center;
}
