body{
			margin:0;
			padding:0;
			overflow: hidden;
	}
	#contrainer{
		margin:0;
		padding:0;
		width: 100%;
		height:100%;
		background:url(../images/login/background.png) repeat-x center;
	}
	#content{
		width:1108px;
		height:350px;
		position : absolute;
		left:50%;
		top:50%;
		margin-top:-195px;
		margin-left:-554px;
	}
	#topBanner{
		width:1108px;
		height:52px;
		background:url(../images/login/system_name3.png) no-repeat;
	}
	#bottomBanner{
		width:205px;
		height:56px;
		margin-left:451px;
		background:url(../images/login/logo.png) no-repeat;
	}
	#bannerWrap1{
		height:109px;
		overflow:hidden;
	}
	#bannerWrap2{
		height:69px;
		overflow:hidden;
	}
	#loginPanel{
		width:400px;
		height:66px;
		margin-left:352px;
	}
	#loginForm{
		margin:0;
		padding:0;
	}
	#input{
		margin:0;
		width:308px;
		height:66px;
		float:left;
	}
	#username{
		width:308px;
		height:29px;
		background: url(../images/login/input_uer.png) no-repeat;
	}
	#password{
		width:308px;
		height:29px;
		background: url(../images/login/input_Password.png) no-repeat;
	}
	#wrap{
		padding:0;
		height:8px;
		overflow:hidden;
	}
	#loginBtnDiv{
		width:73px;
		height:66px;
		float:right;
	}
	#submitBtn{
		width:73px;
		height:66px;
		cursor:pointer;
		background: url(../images/login/landing.png) no-repeat;
		border:0;
	}
	#submitBtn:hover{
		background: url(../images/login/landing_click.png) no-repeat;
	}
	#userInput,#passInput{
		font:16px "ו", arial;;
		margin-left:50px;
		margin-top:1px;
		width:233px;
		height:27px;
		line-height:27px;
		_line-height:27px;
		background-color:transparent;
		border:0;
	}