<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.plugin.blog.dao.BlogTypeDao">

	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="id" column="id"/>
		<result property="typeName" column="typeName"/>
		<result property="blogCount" column="blogCount"/>
		<result property="orderNo" column="orderNo"/>
	</resultMap>
	
	<select id="countList" resultMap="BlogTypeResult">
		SELECT t2.id,t2.typeName,COUNT(t1.id) AS blogCount FROM t_blog t1 RIGHT JOIN t_blogtype t2 ON t1.typeId=t2.id GROUP BY t2.id,t2.typeName order by t2.orderNo;
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="BlogTypeResult">
		select * from t_blogtype where id=#{id}
	</select>
	
	<select id="list" parameterType="Map" resultMap="BlogTypeResult">
		select * from t_blogtype
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_blogtype
	</select>
	
	<insert id="add" parameterType="BlogType">
		insert into t_blogtype values(null,#{typeName},#{orderNo});
	</insert>
	
	<update id="update" parameterType="BlogType">
		update t_blogtype
		<set>
			<if test="typeName!=null and typeName!='' ">
				typeName=#{typeName},
			</if>
			<if test="orderNo!=null ">
				orderNo=#{orderNo},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from t_blogtype where id=#{id}
	</delete>
</mapper> 