<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cosmoplat.provider.mapper.CommonMapper">

    <!--判断某些列，是否与某表的某列存在关联-->
    <select id="isExistJoinCondition" resultType="java.lang.Integer">
        select count(*) from ${tableName}
        where 1 = 1
        <foreach collection="conditions.entrySet()" item="item" index="key">
            AND ${key} = #{item}
        </foreach>
        <if test="notId != null and notId != ''">
            and id != #{notId}
        </if>
    </select>
</mapper>
