<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>模态框</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugin/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugin/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="../../adminlte/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../adminlte/css/skins/all-skins.min.css">
  <link rel="stylesheet" href="../../system/css/common.css">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
</head>
<body class="hold-transition gray-bg sidebar-mini">
<div class="wrapper">
  <section class="content">
    <div class="callout callout-info">
      <h4>提示!</h4>
      介绍如何使用模态弹出框请查看
      <a href="http://getbootstrap.com/javascript/#modals" target="_blank" >Bootstrap文档</a>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">模态弹出框例子</h3>
          </div>
          <div class="box-body">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
              弹出默认样式的模态框
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
              弹出信息样式的模态框
            </button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">
			  弹出初级样式的模态框
			</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
              弹出错误样式的模态框
            </button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
              弹出警告样式的模态框
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
              弹出成功样式的模态框
            </button>
          </div>
        </div>
      </div>
    </div>

	<div class="modal fade" id="modal-default">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">默认样式的模态框</h4>
				</div>
				<div class="modal-body">
				  <p>主体内容</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
				  <button type="button" class="btn btn-primary">确认</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal modal-primary fade" id="modal-primary">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">初级样式的模态框</h4>
				</div>
				<div class="modal-body">
				  <p>主体内容</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
				  <button type="button" class="btn btn-outline">确认</button>
				</div>
			</div>
        </div>
	</div>

	<div class="modal modal-info fade" id="modal-info">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">信息样式模态框</h4>
				</div>
				<div class="modal-body">
				  <p>主体内容</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
				  <button type="button" class="btn btn-outline">确认</button>
				</div>
			</div>
        </div>
	</div>

	<div class="modal modal-warning fade" id="modal-warning">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">警告样式模态框</h4>
				</div>
				<div class="modal-body">
				  <p>主体内容</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
				  <button type="button" class="btn btn-outline">确认</button>
				</div>
			</div>
        </div>
	</div>

	<div class="modal modal-success fade" id="modal-success">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">成功样式模态框</h4>
				</div>
				<div class="modal-body">
				  <p>主体内容</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
				  <button type="button" class="btn btn-outline">确认</button>
				</div>
			</div>
        </div>
	</div>


	<div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">错误样式模态框</h4>
				</div>
				<div class="modal-body">
				  <p>主体内容</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
				  <button type="button" class="btn btn-outline">确认</button>
				</div>
			</div>
        </div>
	</div>

  </section>

  <div class="control-sidebar-bg"></div>
</div>

<script src="../../plugin/jquery/jquery.min.js"></script>
<script src="../../plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugin/fastclick/fastclick.js"></script>
<script src="../../adminlte/js/adminlte.min.js"></script>
</body>
</html>
