<div class="selectdatadiv" style="float: left;width:200px;border: 1px dashed #D3D3D3;height:250px;overflow-y: scroll;">
	<ul class="menuson" id="select_cols_div">
	</ul>
</div>
<div class="selectdataoperatediv" style="float: left;width:100px;border: 1px dashed #D3D3D3;height:150px;">
	<ul>
		<li><input type="button" class="selectdata_btnsave" id="right_move" value="右移"/></li>
		<li><input type="button" class="selectdata_btndelete" id="left_move" value="左移"/></li>
		<li><input type="button" class="selectdata_btnsave" id="all_right_move" value="全部右移"/></li>
		<li><input type="button" class="selectdata_btndelete" id="all_left_move" value="全部左移"/></li>
	</ul>
</div>
<div class="selectdatadiv" style="float: left;width:200px;border: 1px dashed #D3D3D3;height:250px;overflow-y: scroll;">
	<ul class="menuson" id="unselect_cols_div">
	</ul>
</div>
