<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="content">
    <h3>亲爱的,$name</h3>
    <ul>
        <li>I love You !!</li>
    </ul>
</div>
</body>
</html>