<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


    <!-- 数据源 -->
    <context:property-placeholder location="classpath:db.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!-- 事务管理器 -->
    <bean id="dataSourceTransactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 基于注解的事务管理 -->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

    <!-- 定义MybatisPlus的全局策略配置-->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>

        <!--<property name="configLocation" value="classpath:mybatis-config.xml"/>-->

        <property name="configuration">
            <bean class="com.baomidou.mybatisplus.core.MybatisConfiguration">
                <!--开启下划线驼峰映射-->
                <property name="mapUnderscoreToCamelCase" value="true"/>
            </bean>
        </property>
        <!-- 别名处理 -->
        <property name="typeAliasesPackage" value="com.bzcoder.entity"/>
        <!-- 注入全局MP策略配置 -->
        <property name="globalConfig">
            <bean class="com.baomidou.mybatisplus.core.config.GlobalConfig">
                <property name="dbConfig">
                    <bean class="com.baomidou.mybatisplus.core.config.GlobalConfig.DbConfig">
                        <!--主键规则-->
                        <property name="idType" value="AUTO"/>
                        <!--表前缀-->
                        <property name="tablePrefix" value="tbl_"/>
                    </bean>
                </property>
                <!--逻辑删除-->
                <property name="sqlInjector" ref="logicalDelInjector"/>
                <!--公共字段填充处理器-->
                <property name="metaObjectHandler" ref="myMetaObjectHandler"/>
            </bean>
        </property>
        <property name="plugins">
            <list>
                <!--拦截非法SQL语句插件-->
                <!--<bean class="com.baomidou.mybatisplus.extension.plugins.IllegalSQLInterceptor"/>-->
                <!--注册分页插件-->
                <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"/>
                <!--SQL执行分析插件-->
                <!--<bean class="com.baomidou.mybatisplus.extension.plugins.SqlExplainInterceptor"/>-->
                <!--SQL性能分析-->
                <bean class="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
                    <property name="maxTime" value="100"/>
                    <!--SQL是否格式化 默认false-->
                    <property name="format" value="true"/>
                </bean>
                <!--乐观锁插件-->
                <bean class="com.baomidou.mybatisplus.extension.plugins.OptimisticLockerInterceptor"/>


            </list>
        </property>
    </bean>
    <!--逻辑删除-->
    <bean id="logicalDelInjector" class="com.baomidou.mybatisplus.extension.injector.LogicSqlInjector"/>

    <bean id="myMetaObjectHandler" class="com.bzcoder.test.MyMetaObjectHandler"/>
    <!--
        配置mybatis 扫描mapper接口的路径
     -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bzcoder.test.mapper"></property>
    </bean>


</beans>
