<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osmp.web.system.strategy.dao.StrategyMapper">
	<resultMap type="com.osmp.web.system.strategy.entity.Strategy" id="Strategy">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="forward_ip" column="forward_ip"/>
		<result property="remark" column="remark"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<select id="deletConditionByStrategy" parameterType="String">
		 delete from t_strategy_condition where strategy_id=#{strategyId}
	</select>
	
</mapper>