#juli {
	display:block;
	width:80px;
	float:left;
	line-height:21px;
}
#input-submit{
   width:70px;
   height:18px;
   margin-top:4px;
   border:1px solid #999999;
   background:#CCCCCC;
   font-size:12px;
}
fieldset {
	width: 330px;
	height: 180px;
	border: 3px solid #d5d5d5;
	padding-left:20px;
}
legend {
	color: #a53e91;
	font-size:20px;
	font-family: "黑体";
}
label {
	font-weight:bold;
	font-family: "宋体";
	font-size:15px;
	color:#666666;
} 
#grey{
     padding-top:5px;
     padding-bottom:5px;
     FONT-SIZE: 12px;
     color:#666666
}
