.tabs-container{
	overflow:hidden;
}
.tabs-header{
	border:1px solid #8E846B;
	background:#817865 url('images/ui-bg_gloss-wave_45_817865_500x100.png') repeat 50% 50%;
	border-bottom:0px;
	position:relative;
	overflow:hidden;
	padding:0px;
	padding-top:2px;
	overflow:hidden;
}
.tabs-header-noborder{
	border:0px;
}
.tabs-header-plain{
	border:0px;
	background:transparent;
}
.tabs-scroller-left{
	position:absolute;
	left:0px;
	top:6px;
	width:18px;
	height:16px;
	font-size:1px;
	display:none;
	cursor:pointer;
	background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -80px -192px;
}
.tabs-scroller-right{
	position:absolute;
	right:0;
	top:6px;
	width:18px;
	height:16px;
	font-size:1px;
	display:none;
	cursor:pointer;
	background:url('images/ui-icons_ed9f26_256x240.png') no-repeat -48px -192px;
}
.tabs-tool{
	position:absolute;
	top:-1px;
	border:1px solid #8E846B;
	padding:1px;
	background1:#817865 url('images/ui-bg_gloss-wave_45_817865_500x100.png') repeat 50% 50%;
	overflow:hidden;
}
.tabs-header-plain .tabs-scroller-left{
	top:2px;
	height:25px!important;
	height:27px;
	border:1px solid #8E846B;
	background-position:-80px -187px;
}
.tabs-header-plain .tabs-scroller-right{
	top:2px;
	height:25px!important;
	height:27px;
	border:1px solid #8E846B;
	background-position:-48px -187px;
}
.tabs-header-plain .tabs-tool{
	top:2px;
	padding-top:0;
}
.tabs-scroller-over{
}
.tabs-wrap{
	position:relative;
	left:0px;
	overflow:hidden;
	width:100%;
	margin:0px;
	padding:0px;
}
.tabs-scrolling{
	margin-left:18px;
	margin-right:18px;
}
.tabs-disabled{
	opacity:0.3;
	filter:alpha(opacity=30);
}
.tabs{
	list-style-type:none;
	height:26px;
	margin:0px;
	padding:0px;
	padding-left:4px;
	font-size:12px;
	width:5000px;
	border-bottom:1px solid #8E846B;
}
.tabs li{
	float:left;
	display:inline-block;
	margin-right:4px;
	margin-bottom:-1px;
	padding:0;
	position:relative;
	border:1px solid #8E846B;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tabs li a.tabs-inner{
	display:inline-block;
	text-decoration:none;
	color:#4C3000;
	background:#fece2f url('images/ui-bg_gloss-wave_60_fece2f_500x100.png') repeat-x 50% 50%;
	margin:0px;
	padding:0px 10px;
	height:25px;
	line-height:25px;
	text-align:center;
	white-space:nowrap;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tabs li a.tabs-inner:hover{
	background:#ffdd57 url('images/ui-bg_gloss-wave_70_ffdd57_500x100.png') repeat-x 50% 50%;
}
.tabs li.tabs-selected{
	border:1px solid #8E846B;
	border-bottom:1px solid #fff9e5;
}
.tabs li.tabs-selected a.tabs-inner{
	color:#416AA3;
	font-weight:bold;
	background:#fff9e5 url('images/ui-bg_gloss-wave_90_fff9e5_500x100.png') repeat-x 50% 50%;
	outline: none;
}
.tabs li.tabs-selected a:hover.tabs-inner{
	cursor:default;
	pointer:default;
}
.tabs-p-tool{
	position:absolute;
	right:16px;
	top:7px;
	display:block;
}
.tabs-p-tool a{
	display:inline-block;
	font-size:1px;
	width:12px;
	height:12px;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.tabs-p-tool a:hover{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#8DB2E3;
	border-radius:2px;
}
.tabs-with-icon{
	padding-left:18px;
}
.tabs-icon{
	position:absolute;
	width:16px;
	height:16px;
	left:10px;
	top:5px;
}
.tabs-closable{
	padding-right:8px;
}
.tabs li a.tabs-close{
	position:absolute;
	font-size:1px;
	display:block;
	padding:0px;
	width:11px;
	height:11px;
	top:7px;
	right:5px;
	opacity:0.6;
	filter:alpha(opacity=60);
	background:url('images/tabs_close.gif') no-repeat 2px 2px;
}
.tabs li a:hover.tabs-close{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#8DB2E3;
	border-radius:2px;
}


.tabs-panels{
	margin:0px;
	padding:0px;
	border:1px solid #8E846B;
	border-top:0px;
	overflow:hidden;
}
.tabs-panels-noborder{
	border:0px;
}
