<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osmp.web.system.sermapping.dao.SerMappingMapper">
	<select id="getBundles" parameterType="string" resultType="String">
		select bundle from dataServices
	</select>
	<select id="getVersions" parameterType="string" resultType="String">
		select distinct version from dataServices
	</select>
	<select id="getServices" parameterType="string" resultType="String">
		select distinct name from dataServices
	</select>
</mapper>