<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <description>Cache配置</description>

    <!-- 两级缓存实现 -->
    <!--
        * 该缓存工具主要是开发用于实现集群环境的缓存，一级缓存使用ehcache实现，二级缓存支持redis，可扩展其他实现。
        * 提供二级缓存开关字段配置，集群模式开关配置
        *
        * 属性说明：
        * useCluster                - 是否为集群，默认true
        * cacheBroadcast            - 集群模式下个节点数据同步的机制，可选择为：REDIS_PUBSUB/JGROUPS_MULTICAST
        * openSecondCache           - 是否启用二级缓存，默认false
        * cache_jgroup_conf_file    - 使用jgroups实现ehcache集群
        * cache_ehcache_conf_file   - 一级缓存ehcache配置文件
        * cache_redis_conf_file     - 二级缓存redis配置文件
    -->
    <bean id="cacheFactory" class="net.oschina.j2cache.CacheFactory">
        <property name="cache_jgroup_conf_file" value="/cache/jgroups_network_udp.xml" />
        <property name="cache_ehcache_conf_file" value="/cache/ehcache.xml" />
        <property name="cache_redis_conf_file" value="/cache/redis.properties" />
        <property name="openSecondCache" value="true" />
        <property name="useCluster" value="true" />
        <property name="cacheBroadcast" value="REDIS_PUBSUB" />
    </bean>
    <bean id="cacheTemplate" class="net.oschina.j2cache.CacheTemplate">
        <property name="factory" ref="cacheFactory" />
    </bean>

</beans>
