<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--Mybaits的日志操作，使用log4j完成，这样避免sql语句无法打印-->
        <setting name="logImpl" value="log4j"/>
        <!--开启骆驼命名-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!--别名配置-->
    <typeAliases>
        <package name="com.zt.entity" />
    </typeAliases>

</configuration>