<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chentongwei.core.user.dao.IArticleFavoriteDAO">

    <!-- 表名称 -->
    <sql id="table_name">
        tcl_article_favorite
    </sql>

    <!-- 列表字段 -->
    <sql id="list_column">
        id,
        name,
        is_private AS isPrivate,
        create_time AS createTime
    </sql>

    <!-- 详情字段 -->
    <sql id="detail_column">
        id,
        name,
        remark,
        is_private AS isPrivate,
        create_time AS createTime
    </sql>

    <!-- 列表 -->
    <select id="list" parameterType="articleFavoriteListIO" resultType="articleFavoriteListVO">
        SELECT
            <include refid="list_column" />
        FROM
            <include refid="table_name" />
        WHERE
            creator_id = #{userId}
        AND
            is_delete = 1
        ORDER BY id DESC
    </select>

    <!-- 查看详情 -->
    <select id="getById" parameterType="long" resultType="articleFavoriteDetailVO">
        SELECT
            <include refid="detail_column" />
        FROM
            <include refid="table_name" />
        WHERE
            id = #{id}
    </select>

    <!-- 修改收藏夹 -->
    <update id="update" parameterType="articleFavoriteUpdateIO">
        UPDATE
            <include refid="table_name" />
        <set>
            name = #{name},
            remark = #{remark},
            is_private = #{isPrivate},
        </set>
        WHERE id = #{id}
    </update>

    <!-- 保存 -->
    <insert id="save" parameterType="articleFavoriteSaveIO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != name and '' != name">
                name,
            </if>
            <if test="null != remark and '' != remark">
                remark,
            </if>
            <if test="null != isPrivate">
                is_private,
            </if>
            <if test="null != userId">
                creator_id,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="null != name and '' != name">
                #{name},
            </if>
            <if test="null != remark and '' != remark">
                #{remark},
            </if>
            <if test="null != isPrivate">
                #{isPrivate},
            </if>
            <if test="null != userId">
                #{userId},
            </if>
        </trim>
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="articleFavoriteDeleteIO">
        DELETE FROM <include refid="table_name" /> WHERE id = #{id}
    </delete>
</mapper>