<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chentongwei.core.tucao.dao.IArticleDAO">

	<!-- 表名称 -->
	<sql id="table_name">
		tcl_article
	</sql>

	<!-- 详情字段 -->
	<sql id="detail_column">
		id,
		creator_id AS creatorId,
		catalog_id AS catalogId,
		title,
		content,
		content_app AS contentApp,
		read_count AS readCount,
		is_anonymous AS isAnonymous
	</sql>

	<!-- 列表字段 -->
	<sql id="list_column">
		article.id,
		article.catalog_id AS catalogId,
		article.title,
		article.content,
		article.content_app AS contentApp,
		article.is_anonymous AS isAnonymous,
		user.id AS userId,
		user.nickname,
		user.avatar
	</sql>

	<!-- 文章详情 -->
	<select id="getById" parameterType="long" resultType="articleDetailVO">
		SELECT <include refid="detail_column" /> FROM <include refid="table_name" /> WHERE id = #{id} AND is_delete = 1
	</select>

	<!-- 查询全部分类 -->
	<select id="list" resultType="articleListVO">
		SELECT 
			<include refid="list_column" />
		FROM
			<include refid="table_name" /> article
		LEFT JOIN sys_user user ON article.creator_id = user.id
		WHERE
			article.is_delete = 1
		ORDER BY id DESC
	</select>

	<!-- 吐槽文章+阅读数 -->
	<update id="updateReadCount">
		UPDATE
			<include refid="table_name" />
		SET
			read_count = read_count + #{readCount}
		WHERE
			id = #{id}
	</update>

	<!-- 删除文章（并非删除，只是改变is_delete的状态） -->
	<update id="updateDeleteStatus" parameterType="long">
		UPDATE <include refid="table_name" /> SET is_delete = 0 WHERE id = #{id}
	</update>

	<!-- 更新文章 -->
	<update id="update" parameterType="articleUpdateIO">
		UPDATE
			<include refid="table_name" />
		<set>
			title = #{title},
			content = #{content},
			content_app = #{contentApp},
			modify_time = #{modifyTime},
		</set>
		WHERE
			id = #{id}
	</update>

	<!-- 保存文章 -->
	<insert id="save" parameterType="articleSaveIO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			<include refid="table_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != catalogId">
				catalog_id,
			</if>
			<if test="null != title and '' != title">
				title,
			</if>
			<if test="null != content and '' != content">
				content,
			</if>
			<if test="null != contentApp and '' != contentApp">
				content_app,
			</if>
			<if test="null != isAnonymous and '' != isAnonymous">
				is_anonymous,
			</if>
			<if test="null != userId and '' != userId">
				creator_id,
			</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			<if test="null != catalogId">
				#{catalogId},
			</if>
			<if test="null != title and '' != title">
				#{title},
			</if>
			<if test="null != content and '' != content">
				#{content},
			</if>
			<if test="null != contentApp and '' != contentApp">
				#{contentApp},
			</if>
			<if test="null != isAnonymous and '' != isAnonymous">
				#{isAnonymous},
			</if>
			<if test="null != userId and '' != userId">
				#{userId},
			</if>
		</trim>
	</insert>
</mapper>