<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chentongwei.core.tucao.dao.IArticleCommentDAO">

    <!-- 表名称 -->
    <sql id="table_name">
        tcl_article_comment
    </sql>

    <!-- 评论/回复列表字段 -->
    <sql id="list_column">
        id,
        from_user_id AS fromUserId,
        to_user_id AS toUserId,
        pid,
        article_id AS articleId,
        content,
        content_app AS contentApp,
        create_time AS createTime
    </sql>

    <!-- 评论/回复列表 -->
    <select id="list" parameterType="articleCommentListIO" resultType="articleCommentListVO">
        SELECT
            <include refid="list_column" />
        FROM
            <include refid="table_name" />
        WHERE
            is_delete = 1
        AND
            pid = #{pid}
        AND
            article_id = #{articleId}
    </select>

    <!-- 评论/回复保存 -->
    <insert id="save" parameterType="articleCommentSaveIO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userId">
                from_user_id,
            </if>
            <if test="null != toUserId">
                to_user_id,
            </if>
            <if test="null != pid">
                pid,
            </if>
            <if test="null != articleId">
                article_id,
            </if>
            <if test="null != content and '' != content">
                content,
            </if>
            <if test="null != contentApp and '' != contentApp">
                content_app,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="null != userId">
                #{userId},
            </if>
            <if test="null != toUserId">
                #{toUserId},
            </if>
            <if test="null != pid">
                #{pid},
            </if>
            <if test="null != articleId">
                #{articleId},
            </if>
            <if test="null != content and '' != content">
                #{content},
            </if>
            <if test="null != contentApp and '' != contentApp">
                #{contentApp},
            </if>
        </trim>
    </insert>

</mapper>