<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds">

	<property name="LOG_HOME" value="/home/mrmodise/workspace-sts/modise-file-upload/logs" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- File Logging -->
	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/error.log</file>
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="TRACE" />
	<logger name="org.springframework.web" level="TRACE" />

	<root level="trace">
		<!-- uncomment file -->
		<!-- <appender-ref ref="file"/> -->
		<appender-ref ref="console" />
	</root>

</configuration>
