<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.UserDAO">
      
<!--    <resultMap id="UserDO" type="com.springmvc.model.User"> -->
<!--         <result column="id" jdbcType="BIGINT" property="id"/> -->
<!--         <result column="userName" jdbcType="VARCHAR" property="user_name"/> -->
<!--         <result column="user_age" jdbcType="INTEGER" property="userAge"/> -->
<!--     </resultMap>   -->
     
         <insert id="insertUser" parameterType="User">
           insert into user( user_name,user_age) 
        		 values 
        	 (#{userName},#{userAge})
         </insert>


</mapper>
