<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chentongwei.core.user.dao.IArticleFavoriteLinkDAO">

    <!-- 表名称 -->
    <sql id="table_name">
        tcl_article_favorite_link
    </sql>

    <!-- 根据收藏夹id查询收藏夹下的资源总数 -->
    <select id="countByFavoriteId" parameterType="long" resultType="long">
        SELECT
            COUNT(1)
        FROM
            <include refid="table_name" />
        WHERE favorite_id = #{favoriteId}
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="articleFavoriteLinkSaveIO">
        INSERT INTO
            <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != articleId">
                article_id,
            </if>
            <if test="null != favoriteId">
                favorite_id,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="null != articleId">
                #{articleId},
            </if>
            <if test="null != favoriteId">
                #{favoriteId},
            </if>
        </trim>
    </insert>

    <!-- 根据收藏夹id删除收藏夹下的所有资源 -->
    <delete id="deleteByFavoriteId" parameterType="long">
        DELETE FROM <include refid="table_name" /> WHERE favorite_id = #{favoriteId}
    </delete>

    <!-- 检查某收藏夹是否已经收藏过此篇文章 -->
    <select id="exists" resultType="integer">
        SELECT 1 FROM <include refid="table_name" /> WHERE article_id = #{articleId} AND favorite_id = #{favoriteId}
    </select>
</mapper>