<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.demo.mapper.UserMapper">
	<!--返回结果集  -->
	<resultMap type="com.abc.demo.domain.User" id="userBean">
	
	</resultMap>
	<sql id="userColumn">
		id,user_name,gender
	</sql>
	<select id="findById" resultMap="userBean">
		SELECT 
			<include refid="userColumn"/> 
		FROM user 
		WHERE id = #{id};
	</select>
	
	<select id="findByAll" resultMap="userBean">
		SELECT 
			<include refid="userColumn"/> 
		FROM user 
	</select>
	<insert id="insert">
		INSERT INTO
			user(<include refid="userColumn"/>)
		VALUES(#{id},#{userName},#{gender})
		
	</insert>
	
	<update id="update">
		UPDATE user
		SET 
			<if test="userName!=null">
				user_name=#{userName},
			</if>
			<if test="gender!=null">gender=#{gender}</if>
		WHERE id=#{id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM 
			user
		WHERE id=#{id}
	</delete>
</mapper>