.zi {
	font-size: 12px;
	color: #FF6501;
}
input{
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
a:hover {
	font-size: 9pt;	color: #FF0000;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #FFC000;
}.lunzi {
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.bzzi {
	font-size: 12px;
	color: #CD0202;
}
.zczi {
	font-size: 12px;
	font-weight: lighter;
	color: #000000;
}
.whitezi {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.fyzi {
	font-size: 12px;
	font-weight: lighter;
	color: #666666;
}
.hczi {
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
}
.menuskin {/*???????*/
	BORDER: #666666 1px solid; VISIBILITY: hidden;
	POSITION: absolute; 
	/*BACKGROUND-COLOR:#EFEFEF;*/
	background-image:url("../Images/item_out.gif");
	background-repeat : repeat-y;
    Filter: Alpha(Opacity=85);
	}

.lz {
	font-size: 12px;
	color: #87D680;
}
