<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <!--
        使用XML方式配置Log4j
    -->
    <!--console-->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>


    <!--&lt;!&ndash;spring logger&ndash;&gt;-->
    <!--<logger name="org.springframework" additivity="false">-->
    <!--<level value="WARN"/>-->
    <!--<appender-ref ref="Console"/>-->
    <!--</logger>-->


    <root>
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </root>


</log4j:configuration>