<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ActorMapper">
	<resultMap type="po.Actor" id="actorMap">
        <id column="id" property="id" ></id>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>
    
	<select id="getAllactors" resultMap="actorMap">
		select * from actor
	</select>
	
	<update id="updateActor" parameterType="po.Actor">
		update actor set 
		name=#{name},age=#{age}
		where id=#{id}
	</update>
	
	<select id="getactorbyid" resultMap="actorMap" parameterType="int">
		select * from actor where id=#{id} 
	</select>
	
	<insert id="insertActor" useGeneratedKeys="true" keyProperty="id" parameterType="po.Actor">
	  insert into actor (name,age)
	  values (#{name},#{age})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from actor where id=#{id}
	</delete>
</mapper>