<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.job.biz.mapper.QrtzTriggersMapper">

	<resultMap id="baseResultMap" type="com.job.biz.model.QrtzTriggers">
		<result column="SCHED_NAME" property="schedName" />
		<result column="TRIGGER_NAME" property="triggerName" />
		<result column="TRIGGER_GROUP" property="triggerGroup" />
		<result column="JOB_NAME" property="jobName" />
		<result column="JOB_GROUP" property="jobGroup" />
		<result column="DESCRIPTION" property="description" />
		<result column="NEXT_FIRE_TIME" property="nextFireTime" />
		<result column="PREV_FIRE_TIME" property="prevFireTime" />
		<result column="PRIORITY" property="priority" />
		<result column="TRIGGER_STATE" property="triggerState" />
		<result column="TRIGGER_TYPE" property="triggerType" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="CALENDAR_NAME" property="calendarName" />
		<result column="MISFIRE_INSTR" property="misfireInstr" />
		<result column="JOB_DATA" property="jobData" />
	</resultMap>

	<insert id="insert" parameterType="com.job.biz.model.QrtzTriggers">
		INSERT INTO QRTZ_TRIGGERS(SCHED_NAME, TRIGGER_NAME, TRIGGER_GROUP, JOB_NAME, JOB_GROUP, DESCRIPTION, NEXT_FIRE_TIME, PREV_FIRE_TIME, PRIORITY, TRIGGER_STATE, TRIGGER_TYPE, START_TIME, END_TIME, CALENDAR_NAME,
		MISFIRE_INSTR, JOB_DATA)
		VALUES(#{schedName},#{triggerName},#{triggerGroup},#{jobName},#{jobGroup},#{description},#{nextFireTime},#{prevFireTime},#{priority},#{triggerState},#{triggerType},#{startTime},#{endTime},#{calendarName},#{misfireInstr},#{jobData})
	</insert>

	<sql id="find_xxx">
	    <![CDATA[
			SELECT SCHED_NAME, TRIGGER_NAME, TRIGGER_GROUP, JOB_NAME, JOB_GROUP, DESCRIPTION, NEXT_FIRE_TIME, PREV_FIRE_TIME, PRIORITY, TRIGGER_STATE, TRIGGER_TYPE, START_TIME, END_TIME, CALENDAR_NAME,
		MISFIRE_INSTR, JOB_DATA
	    ]]>
	</sql>

	<sql id="from_xxx">
	    <![CDATA[
	    	FROM QRTZ_TRIGGERS
	    ]]>
	</sql>

	<sql id="where_xxx">
	    <![CDATA[
	    	WHERE 1=1
	    ]]>
	</sql>

	<select id="findAll" parameterType="com.job.biz.model.QrtzTriggers" resultMap="baseResultMap">
		<include refid="find_xxx" />
		<include refid="from_xxx" />
		<include refid="where_xxx" />
		<if test="triggerName != null and triggerName != ''">
			AND TRIGGER_NAME LIKE '%${triggerName}%'
		</if>
		<if test="triggerGroup != null and triggerGroup != ''">
			AND TRIGGER_GROUP LIKE'%${triggerGroup}%'
		</if>
	</select>

</mapper>