<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.jui.common.mapper.WebSiteUrlMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.jui.common.entity.WebSiteUrl" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="url_name" property="urlName" jdbcType="VARCHAR" />
    <result column="url_desc" property="urlDesc" jdbcType="VARCHAR" />
    <result column="in_net" property="inNet" jdbcType="VARCHAR" />
    <result column="out_net" property="outNet" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, status_id, sort, site_id, url_name, url_desc, in_net, 
    out_net
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.jui.common.entity.WebSiteUrlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from web_site_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from web_site_url
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from web_site_url
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.jui.common.entity.WebSiteUrlExample" >
    delete from web_site_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.jui.common.entity.WebSiteUrl" >
    insert into web_site_url (id, gmt_create, gmt_modified, 
      status_id, sort, site_id, 
      url_name, url_desc, in_net, 
      out_net)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}, #{siteId,jdbcType=BIGINT}, 
      #{urlName,jdbcType=VARCHAR}, #{urlDesc,jdbcType=VARCHAR}, #{inNet,jdbcType=VARCHAR}, 
      #{outNet,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.jui.common.entity.WebSiteUrl" >
    insert into web_site_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="urlName != null" >
        url_name,
      </if>
      <if test="urlDesc != null" >
        url_desc,
      </if>
      <if test="inNet != null" >
        in_net,
      </if>
      <if test="outNet != null" >
        out_net,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="urlName != null" >
        #{urlName,jdbcType=VARCHAR},
      </if>
      <if test="urlDesc != null" >
        #{urlDesc,jdbcType=VARCHAR},
      </if>
      <if test="inNet != null" >
        #{inNet,jdbcType=VARCHAR},
      </if>
      <if test="outNet != null" >
        #{outNet,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.jui.common.entity.WebSiteUrlExample" resultType="java.lang.Integer" >
    select count(*) from web_site_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update web_site_url
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null" >
        status_id = #{record.statusId,jdbcType=CHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null" >
        site_id = #{record.siteId,jdbcType=BIGINT},
      </if>
      <if test="record.urlName != null" >
        url_name = #{record.urlName,jdbcType=VARCHAR},
      </if>
      <if test="record.urlDesc != null" >
        url_desc = #{record.urlDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.inNet != null" >
        in_net = #{record.inNet,jdbcType=VARCHAR},
      </if>
      <if test="record.outNet != null" >
        out_net = #{record.outNet,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update web_site_url
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=CHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      site_id = #{record.siteId,jdbcType=BIGINT},
      url_name = #{record.urlName,jdbcType=VARCHAR},
      url_desc = #{record.urlDesc,jdbcType=VARCHAR},
      in_net = #{record.inNet,jdbcType=VARCHAR},
      out_net = #{record.outNet,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.jui.common.entity.WebSiteUrl" >
    update web_site_url
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="urlName != null" >
        url_name = #{urlName,jdbcType=VARCHAR},
      </if>
      <if test="urlDesc != null" >
        url_desc = #{urlDesc,jdbcType=VARCHAR},
      </if>
      <if test="inNet != null" >
        in_net = #{inNet,jdbcType=VARCHAR},
      </if>
      <if test="outNet != null" >
        out_net = #{outNet,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.jui.common.entity.WebSiteUrl" >
    update web_site_url
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      site_id = #{siteId,jdbcType=BIGINT},
      url_name = #{urlName,jdbcType=VARCHAR},
      url_desc = #{urlDesc,jdbcType=VARCHAR},
      in_net = #{inNet,jdbcType=VARCHAR},
      out_net = #{outNet,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>