package ${packageName}.${modularName}.${busName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import vip.xiaonuo.core.pojo.page.PageResult;
import ${packageName}.${modularName}.${busName}.entity.${ClassName};
import ${packageName}.${modularName}.${busName}.param.${ClassName}Param;
import java.util.List;

/**
 * ${functionName}service接口
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

    /**
     * 查询${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    PageResult<${ClassName}> page(${ClassName}Param ${className}Param);

    /**
     * ${functionName}列表
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    List<${ClassName}> list(${ClassName}Param ${className}Param);

    /**
     * 添加${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    void add(${ClassName}Param ${className}Param);

    /**
     * 删除${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    void delete(List<${ClassName}Param> ${className}ParamList);

    /**
     * 编辑${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    void edit(${ClassName}Param ${className}Param);

    /**
     * 查看${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
     ${ClassName} detail(${ClassName}Param ${className}Param);
}
