<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.apm.admin.dao.IXxlApmEventReportDao" >
	
	<resultMap id="XxlApmEventReport" type="com.xxl.apm.admin.core.model.XxlApmEventReport" >
		<result column="id" property="id" />
		<result column="appname" property="appname" />
		<result column="addtime" property="addtime" />
		<result column="address" property="address" />
		<result column="hostname" property="hostname" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="total_count" property="total_count" />
		<result column="fail_count" property="fail_count" />
	</resultMap>

	<sql id="Base_Column_List">
		t.`id`,
		t.`appname`,
		t.`addtime`,
		t.`address`,
		t.`hostname`,
		t.`type`,
		t.`name`,
		t.`total_count`,
		t.`fail_count`
	</sql>

	<insert id="add" parameterType="com.xxl.apm.admin.core.model.XxlApmEventReport" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_apm_event_report (
			`appname`,
			`addtime`,
			`address`,
			`hostname`,
			`type`,
			`name`,
			`total_count`,
			`fail_count`
		) VALUES
		(
			#{xxlApmEventReport.appname},
			#{xxlApmEventReport.addtime},
			#{xxlApmEventReport.address},
			#{xxlApmEventReport.hostname},
			#{xxlApmEventReport.type},
			#{xxlApmEventReport.name},
			#{xxlApmEventReport.total_count},
			#{xxlApmEventReport.fail_count}
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="update" parameterType="com.xxl.apm.admin.core.model.XxlApmEventReport" >
		update xxl_apm_event_report
		set `total_count` = `total_count` + #{xxlApmEventReport.total_count},
			`fail_count` = `fail_count` + #{xxlApmEventReport.fail_count}
		where `appname` = #{xxlApmEventReport.appname}
			AND `addtime` = #{xxlApmEventReport.addtime}
			AND `address` = #{xxlApmEventReport.address}
			AND `type` = #{xxlApmEventReport.type}
			AND `name` = #{xxlApmEventReport.name}
	</update>

	<update id="addOrUpdate" parameterType="com.xxl.apm.admin.core.model.XxlApmEventReport" >
		INSERT INTO xxl_apm_event_report (
			`appname`,
			`addtime`,
			`address`,
			`hostname`,
			`type`,
			`name`,
			`total_count`,
			`fail_count`
		) VALUES
		(
			#{xxlApmEventReport.appname},
			#{xxlApmEventReport.addtime},
			#{xxlApmEventReport.address},
			#{xxlApmEventReport.hostname},
			#{xxlApmEventReport.type},
			#{xxlApmEventReport.name},
			#{xxlApmEventReport.total_count},
			#{xxlApmEventReport.fail_count}
		)
		ON DUPLICATE KEY update
			`total_count` = `total_count` + #{xxlApmEventReport.total_count},
			`fail_count` = `fail_count` + #{xxlApmEventReport.fail_count}
	</update>

	<delete id="clean" parameterType="java.util.HashMap" >
		DELETE FROM xxl_apm_event_report
		WHERE addtime <![CDATA[ < ]]> #{timeoutTime}
	</delete>

	<select id="find" parameterType="java.util.HashMap" resultMap="XxlApmEventReport">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_apm_event_report AS t
		WHERE t.appname = #{appname}
			AND t.addtime between #{addtime_from} and #{addtime_to}
			<if test="address != null and address != ''">
				AND t.address = #{address}
			</if>
			AND t.type = #{type}
		ORDER BY t.addtime ASC
	</select>

    <select id="findTypeList" parameterType="java.util.HashMap" resultType="java.lang.String" >
        SELECT distinct t.type
        FROM xxl_apm_event_report AS t
        WHERE t.appname = #{appname}
          AND t.addtime between #{addtime_from} and #{addtime_to}
        ORDER BY t.type ASC
    </select>

    <select id="findFailReport" parameterType="java.util.HashMap" resultType="com.xxl.apm.admin.core.model.XxlApmEventReport" >
        select t.`appname`, t.`type` , count(fail_count) as fail_count
        from xxl_apm_event_report as t
        where t.addtime between #{addtime_from} and #{addtime_to}
        	and fail_count <![CDATA[ > ]]> 0
        group by `appname`, `type`
    </select>

</mapper>