<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="consolep" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}] %F:%L[%p] %m%n" />
		</layout>
	</appender>
	
	<appender name="appender.dbutil_log" class="org.apache.log4j.FileAppender">
		<param name="File" value="dbutil_log.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss} [%c]-[%p] %m%n" />
		</layout>
	</appender>

	<logger name="dbutil_log" additivity="true">
		<level value="info" />
		<appender-ref ref="appender.dbutil_log" />
		<appender-ref ref="consolep" />
	</logger>
</log4j:configuration>