<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="600">
    <properties>
        <property name="LOG_HOME">/home/baomidou/logs/hibernate</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} - (%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.baomidou" level="warn"/>
        <root level="warn">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>  