# Vagrant输出目录
.vagrant/

# Python编译文件
*.pyc

# Gradle输出目录
# .gradle/
# build/
# bin/

# Maven输出目录
target/

# JVM及sysdig性能数据记录文件
*.jfr
*.scap

# Wor临时文件
~$*

# Eclipse项目文件
# .classpath
# .project
# .settings/
.externalToolBuilders
.myeclipse
classes
.mymetadata
.metadata
.settings


# idea 项目文件
*.idea/
.idea
*.iml
*.ipr
*.iws
projectFilesBackup/
overlays/

# Editplus 自动备份文件
*.bak

out/


cleasses/
*.class

rebel.xml
.rebel.xml.bak

# windows 文件
*~
*.swp
*.dll
*.exe

target
.gradle
bin

# 自动生成的log文件
*.log
logs/
*.log.*
*.log*



